.reviews_page {
    max-width: 1100px;
    margin: 0 auto;
    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        .reviews_page_title {
            font-family: 'Preslav';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 26px;
            color: #661C19;
            padding-right: 22px;
        }
        .reviews_page_text {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            color: #68320C;
            margin-right: auto;
        }
        .reviews_page_button {
            a {
                display: block;
                text-decoration: none;
                text-align: center;
                border-radius: 5px;
                background: #661C19;
                color: #D7B05F;
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;
                padding: 10px 40px;
                transition: all 0.3s ease;
                font-family: "Georgia";
                text-transform: uppercase;
                border: 1px solid #661C19;
                &:hover {
                    background: none;
                    color: #661C19
                }
            }
        }
        @media all and (max-width: 1024px) {
            flex-direction: column;
            .reviews_page_text {
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }
    &__bot {
        .reviews_page_items {
            position: relative;
            margin-bottom: 24px;
            &:before {
                content: '';
                position: absolute;
                top: 10px;
                right: 10px;
                bottom: 0;
                left: 10px;
                border-right: 1px solid #D7B05F;
                border-bottom: 1px solid #D7B05F;
                border-left: 1px solid #D7B05F;
                z-index: 1;
            }
        }
        .reviews_page_question {
            background: rgba(255, 255, 255, 0.49);
            box-shadow: 0px 2px 27px rgba(0, 0, 0, 0.15);
            padding: 14px 28px 14px 25px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
            z-index: 2;
            .name {
                font-family: 'Bitter';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 26px;
                color: #6D120C;
                position: relative;
                padding-left: 24px;
                &:before {
                    content: '';
                    position: absolute;
                    top: -9px;
                    left: -17px;
                    width: 27px;
                    height: 27px;
                    background: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2678 13.745C13.9057 13.745 13.6342 13.745 13.3627 13.6545C11.6429 13.2019 10.3758 11.6632 10.2853 9.9435C10.1948 8.13327 11.6429 6.41356 13.3627 6.14203C14.4488 5.961 15.6254 6.68509 16.259 7.77123C16.8021 8.85736 16.6211 10.034 15.8065 10.9391C15.5349 11.2107 15.0824 11.2107 14.8108 10.9391C14.5393 10.6676 14.5393 10.215 14.8108 9.9435C15.2634 9.40043 15.3539 8.85736 15.0824 8.3143C14.7203 7.68072 14.0868 7.31867 13.6342 7.40918C12.5481 7.59021 11.7335 8.67634 11.7335 9.76248C11.7335 10.8486 12.6386 11.9347 13.7247 12.2063C14.8108 12.4778 16.078 12.0253 16.8021 11.0296C17.7072 9.85299 17.7072 8.22378 17.7977 6.68509V6.41356C17.9787 2.97413 19.3364 0.711348 21.5087 0.349303C22.8663 0.0777688 24.1335 0.439814 25.0386 1.43544C26.1248 2.43106 26.5773 3.96975 26.3058 5.41793C26.1248 6.68509 25.2196 7.77123 24.043 8.22379C23.0474 8.58583 22.0517 8.40481 21.2371 7.77123C20.4225 7.13765 19.97 5.961 20.2415 4.87487C20.4225 3.87924 21.1466 3.15515 22.0517 2.97413C22.4138 2.88362 22.7758 3.06464 22.8663 3.42669C22.9569 3.78873 22.7758 4.15078 22.4138 4.24129C21.8707 4.42231 21.6897 4.87487 21.5992 5.1464C21.5087 5.68947 21.6897 6.32305 22.1423 6.68509C22.6853 7.13765 23.3189 7.04714 23.681 6.95663C24.405 6.68509 24.9481 5.961 25.0386 5.23691C25.2196 4.24129 24.8576 3.15515 24.224 2.43106C23.5904 1.79748 22.7758 1.52595 21.8707 1.70697C19.5174 2.06902 19.1554 5.23691 19.1554 6.50407V6.7756C19.0649 8.49532 18.9744 10.3961 17.8882 11.9347C16.9831 13.0209 15.6254 13.745 14.2678 13.745Z' fill='%23D7B05F'/%3E%3Cpath d='M4.49245 26.5071C3.3158 26.5071 2.13915 26.0545 1.32455 25.1494C0.419439 24.2443 -0.0331172 22.8866 0.238417 21.6195C0.690973 19.3567 2.86324 17.999 6.30267 17.9085H6.57421C8.1129 17.818 9.83261 17.818 10.9187 16.9129C11.9144 16.1888 12.3669 14.9216 12.0954 13.8355C11.8239 12.7494 10.7377 11.8442 9.65159 11.8442C8.47494 11.8442 7.47932 12.6588 7.2983 13.745C7.20779 14.1975 7.56983 14.8311 8.20341 15.1932C8.74648 15.4647 9.28955 15.3742 9.83261 14.9216C10.1041 14.6501 10.5567 14.6501 10.8282 14.9216C11.0998 15.1932 11.0998 15.6457 10.8282 15.9172C9.92313 16.7318 8.74648 16.9129 7.66034 16.3698C6.57421 15.8267 5.85012 14.5596 6.03114 13.4734C6.30267 11.7537 8.02239 10.3961 9.83261 10.3961C11.5523 10.4866 13.1815 11.7537 13.5436 13.4734C13.9056 15.1026 13.272 16.9129 11.9144 17.999C10.4662 19.0851 8.47494 19.1757 6.75523 19.2662H6.4837C5.12603 19.2662 1.95813 19.6282 1.59609 21.891C1.41506 22.7961 1.6866 23.6107 2.32018 24.2443C3.04427 24.9684 4.1304 25.2399 5.12603 25.0589C5.94063 24.8779 6.57421 24.3348 6.84574 23.7012C7.02676 23.3392 7.02676 22.7961 6.57421 22.1625C6.21216 21.71 5.57858 21.5289 5.03552 21.6195C4.76398 21.71 4.31143 21.891 4.1304 22.4341C4.03989 22.7961 3.67785 22.9771 3.3158 22.8866C2.95376 22.8866 2.77273 22.5246 2.86324 22.1625C3.13478 21.2574 3.85887 20.5333 4.76398 20.3523C5.85012 20.1713 7.02676 20.5333 7.66034 21.3479C8.29392 22.1625 8.47494 23.2487 8.1129 24.1538C7.66034 25.3304 6.57421 26.145 5.30705 26.4166C5.03552 26.5071 4.76398 26.5071 4.49245 26.5071Z' fill='%23D7B05F'/%3E%3Cpath d='M25.6722 26.5976H14.4488C14.1773 26.5976 13.9962 26.507 13.9057 26.2355C13.8152 26.0545 13.8152 25.783 13.9057 25.6019C14.0867 25.3304 17.4357 18.5421 11.6429 12.7493C11.5524 12.6588 11.4619 12.4778 11.4619 12.2968C11.4619 12.1157 11.5524 11.9347 11.6429 11.8442C11.9145 11.5727 12.367 11.5727 12.6386 11.8442C18.5218 17.7274 25.2196 14.288 25.4912 14.1975C25.6722 14.107 25.9437 14.107 26.1247 14.1975C26.3058 14.288 26.4868 14.5596 26.4868 14.7406V25.964C26.3963 26.2355 26.1247 26.5976 25.6722 26.5976ZM15.5349 25.2399H25.0386V15.6457C23.2284 16.2793 19.2459 17.2749 15.0824 15.1931C17.1641 19.3567 16.1685 23.4297 15.5349 25.2399Z' fill='%23D7B05F'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
                }
            }
            .date {
                font-family: "Bitter";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: #6D120C;
                background: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.0166 7.40182H17.8452' stroke='%23A38266' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.6205 10.6563H13.6292' stroke='%23A38266' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.43003 10.6563H9.43878' stroke='%23A38266' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.23179 10.6563H5.24053' stroke='%23A38266' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.6205 13.8951H13.6292' stroke='%23A38266' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.43003 13.8951H9.43878' stroke='%23A38266' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.23179 13.8951H5.24053' stroke='%23A38266' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.244 1.2316V3.97391' stroke='%23A38266' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.61702 1.2316V3.97391' stroke='%23A38266' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.4277 2.54761H5.43324C2.66055 2.54761 0.928711 3.91089 0.928711 6.4168V13.9582C0.928711 16.5035 2.66055 17.8983 5.43324 17.8983H13.4189C16.2004 17.8983 17.9235 16.5271 17.9235 14.0212V6.4168C17.9322 3.91089 16.2091 2.54761 13.4277 2.54761Z' stroke='%23A38266' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 2px 50% no-repeat;
                padding: 6px 0 1px 30px;
            }
            .text {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 26px;
                color: #6D120C;
                width: 100%;
                display: flex;
                padding-top: 10px;
                img {
                    margin-right: 10px;
                }
            }
        }
        .reviews_page_answer {
            padding: 0 10px;
            padding: 11px 23px 17px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            .name {
                color: #A38266;
            }
            .text {
                color: #66130F;
            }
        }
    }
}