#form-menu {
  padding: 0 0 20px;
  margin: 0;
  list-style: none;
}
#form-menu li {
  float: left;
}
#form-menu li + li {
  margin-left: 30px;
}
#form-menu li span.objectAction {
  line-height: 16px;
  color: #1155cc;
  text-decoration: underline;
}
#form-menu li span.objectAction:hover {
  text-decoration: none;
}
#form-menu li .s3-ico {
  vertical-align: top;
}
#form-menu li .s3-ico.properties {
  margin-top: -5px;
  margin-right: 5px;
}
#form-menu li .s3-ico.s3-tooltip {
  margin-right: 5px;
}
#form-menu:after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  line-height: 0;
}
#form-builder-wrap {
  font: normal 14px Arial;
  margin-bottom: 60px;
  position: relative;
}
#form-builder-wrap .dropTargetForm {
  position: absolute;
  top: 0;
  left: 208px;
  right: 0;
  bottom: -40px;
  padding: 0 7px;
  width: 700px;
}
#form-builder-wrap .controls-wrap-shadow {
  height: 50px;
  float: left;
}
#form-builder-wrap .controls-wrap {
  float: left;
  width: 193px;
  line-height: 0;
  font-size: 0;
  text-align: center;
  font: normal 13px Arial, Helvetica, sans-serif;
  text-align: left;
}
#form-builder-wrap .controls-wrap.fixed {
  position: fixed;
  top: 15px;
}
#form-builder-wrap .controls-wrap.absolute {
  position: absolute;
}
#form-builder-wrap .controls-wrap .controls-box {
  background: #ebebeb;
  border: 3px solid #ebebeb;
  margin-bottom: 3px;
  border-radius: 5px;
}
#form-builder-wrap .controls-wrap .controls-box.dublicator {
  margin-bottom: 20px;
  visibility: hidden;
  border: none;
  padding: 0;
}
#form-builder-wrap .controls-wrap .controls-box .control-title {
  line-height: 28px;
  padding-left: 25px;
  position: relative;
  cursor: pointer;
}
#form-builder-wrap .controls-wrap .controls-box .control-title:before {
  content: '';
  height: 8px;
  width: 8px;
  position: absolute;
  left: 8px;
  top: 50%;
  margin-top: -4px;
  background: url('/my/s3/images/redesign/s3-icons.png') -34px -581px no-repeat;
}
#form-builder-wrap .controls-wrap .controls-box.active .control-title:before {
  background-position: -9px -580px;
}
#form-builder-wrap .controls-wrap .controls-box .control-body {
  line-height: 0;
  font-size: 0;
  display: none;
  min-width: 187px;
}
#form-builder-wrap .controls-wrap .controls-box .control-body .control-cleaner + .form-field-wrap {
  margin-top: 1px;
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap {
  cursor: pointer;
  min-width: 70px;
  display: inline-block;
  position: relative;
  border: 1px solid #ffffff;
  background: #ffffff;
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap:hover {
  background: #DBE8FC;
  border-color: #C7D0DF;
  cursor: move;
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap.lt {
  border-radius: 4px 0 0 0;
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap.lt.lb {
  border-radius: 4px 0 0 4px;
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap.lb {
  border-radius: 0 0 0 4px;
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap.lb.rb {
  border-radius: 0 0 4px 4px;
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap.rt {
  border-radius: 0 4px 0 0;
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap.rt.rb {
  border-radius: 0 4px 4px 0;
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap.rb {
  border-radius: 0 0 4px 0;
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap + .form-field-wrap {
  margin-left: 1px;
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap .field-handle {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap .icon-wrap {
  float: left;
  width: 91px;
  height: 56px;
  text-align: center;
  padding: 10px 0 0;
  font: normal 11px Arial;
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap .icon-wrap .control-icon {
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
  height: 26px;
  width: 26px;
  margin-bottom: 3px;
  vertical-align: top;
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap .icon-wrap .control-icon.type-1 {
  background-image: url("/my/s3/images/svg_icons/ic-fr-input.svg");
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap .icon-wrap .control-icon.type-2 {
  background-image: url("/my/s3/images/svg_icons/ic-fr-textarea.svg");
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap .icon-wrap .control-icon.type-3 {
  background-image: url("/my/s3/images/svg_icons/ic-fr-selectbox.svg");
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap .icon-wrap .control-icon.type-4 {
  background-image: url("/my/s3/images/svg_icons/ic-fr-multiselect.svg");
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap .icon-wrap .control-icon.type-5 {
  background-image: url("/my/s3/images/svg_icons/ic-fr-checkgroup.svg");
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap .icon-wrap .control-icon.type-6 {
  background-image: url("/my/s3/images/svg_icons/ic-fr-header.svg");
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap .icon-wrap .control-icon.type-7 {
  background-image: url("/my/s3/images/svg_icons/ic-fr-checkbox.svg");
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap .icon-wrap .control-icon.type-8 {
  background-image: url("/my/s3/images/svg_icons/ic-fr-radiogroup.svg");
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap .icon-wrap .control-icon.type-9 {
  background-image: url("/my/s3/images/svg_icons/ic-fr-textblock.svg");
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap .icon-wrap .control-icon.type-10 {
  background-image: url("/my/s3/images/svg_icons/ic-fr-calendar.svg");
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap .icon-wrap .control-icon.type-11 {
  background-image: url("/my/s3/images/svg_icons/ic-fr-calendar-range.svg");
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap .icon-wrap .control-icon.type-12 {
  background-image: url("/my/s3/images/svg_icons/ic-fr-upload.svg");
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap .icon-wrap .control-icon.type-13 {
  background-image: url("/my/s3/images/svg_icons/ic-fr-mail.svg");
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap .icon-wrap .control-icon.type-15 {
  background-image: url("/my/s3/images/svg_icons/ic-fr-phone.svg");
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap .icon-wrap .control-icon.type-17 {
  background-image: url("/my/s3/images/svg_icons/ic-fr-hiddenfield.svg");
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap .field-controls {
  display: none;
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap .form-field {
  display: none;
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap.temp {
  z-index: 10;
  border-color: #c3e9be;
  background: #d0f8ca;
  cursor: move;
  border-radius: 4px !important;
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap.temp.hidden {
  display: none;
}
#form-builder-wrap .controls-wrap .controls-box .control-body .form-field-wrap:after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  line-height: 0;
}
#form-builder-wrap .controls-wrap .controls-box .control-cleaner {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  line-height: 0;
}
#form-builder-wrap .controls-wrap .form-field-wrap.dublicator {
  display: none;
}
#form-builder-wrap .controls-wrap .form-row-container {
  float: left;
  width: 61px;
  background: #ffffff;
  border: 1px solid #FFF;
  box-sizing: border-box;
}
#form-builder-wrap .controls-wrap .form-row-container:hover {
  background: #dbe8fc;
  border-color: #c7d0df;
}
#form-builder-wrap .controls-wrap .form-row-container.first,
#form-builder-wrap .controls-wrap .form-row-container.last {
  width: 62px;
}
#form-builder-wrap .controls-wrap .form-row-container.first {
  border-radius: 4px 0 0 4px;
  margin-right: 1px;
}
#form-builder-wrap .controls-wrap .form-row-container.last {
  border-radius: 0 4px 4px 0;
  margin-left: 1px;
}
#form-builder-wrap .controls-wrap .form-row-container .form-row-wrap {
  cursor: pointer;
  width: 61px;
  height: 20px;
  padding: 8px 0;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
#form-builder-wrap .controls-wrap .form-row-container .form-row-wrap.temp {
  z-index: 5;
  background: #ffffff;
  border: 1px solid #c3e9be;
  background: #d0f8ca;
  border-radius: 3px;
}
#form-builder-wrap .controls-wrap .form-row-container .form-row-wrap:before {
  content: '';
  display: inline-block;
  height: 26px;
  width: 26px;
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-top: -2px;
}
#form-builder-wrap .controls-wrap .form-row-container .form-row-wrap.single:before {
  background-image: url("/my/s3/images/svg_icons/ic-fr-1col.svg");
}
#form-builder-wrap .controls-wrap .form-row-container .form-row-wrap.double:before {
  background-image: url("/my/s3/images/svg_icons/ic-fr-2col.svg");
}
#form-builder-wrap .controls-wrap .form-row-container .form-row-wrap.tripple:before {
  background-image: url("/my/s3/images/svg_icons/ic-fr-3col.svg");
}
#form-builder-wrap .controls-wrap .form-row-container .form-row-wrap .form-row {
  display: none;
}
#form-builder-wrap .controls-wrap .form-row-container .form-row-wrap .row-controls {
  display: none;
}
#form-builder-wrap .controls-wrap .form-row-container .form-row-wrap:after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  line-height: 0;
}
#form-builder-wrap .controls-wrap #groups {
  padding: 7px 7px 13px;
  background: #ebebeb;
  border-radius: 5px;
  font: normal 13px Arial, Helvetica, sans-serif;
}
#form-builder-wrap .controls-wrap #groups .groups-title {
  padding: 0 5px 5px;
}
#form-builder-wrap .controls-wrap #groups .groups-title .s3-ico.i-tooltip {
  height: 15px;
}
#form-builder-wrap .controls-wrap #groups > .s3-btn {
  margin-left: 0;
  margin-right: 0;
}
#form-builder-wrap .controls-wrap #groups .form-group {
  border: 1px solid #cccccc;
  padding: 2px 7px;
  border-radius: 5px;
  margin: 5px 0 2px;
  line-height: 24px;
  text-align: left;
}
#form-builder-wrap .controls-wrap #groups .form-group + .form-group {
  margin-top: 0;
}
#form-builder-wrap .controls-wrap #groups .form-group[data-color-id="0"] {
  background: #E7EEFF;
  border: 1px solid #B8BECC;
}
#form-builder-wrap .controls-wrap #groups .form-group[data-color-id="1"] {
  background: #FDFAD2;
  border: 1px solid #CAC8A8;
}
#form-builder-wrap .controls-wrap #groups .form-group[data-color-id="2"] {
  background: #F7E9FA;
  border: 1px solid #C1AFC4;
}
#form-builder-wrap .controls-wrap #groups .form-group[data-color-id="3"] {
  background: #E2FCFB;
  border: 1px solid #B0C9C8;
}
#form-builder-wrap .controls-wrap #groups .form-group[data-color-id="4"] {
  background: #FFE6E6;
  border: 1px solid #CCA5A5;
}
#form-builder-wrap .controls-wrap #groups .form-group[data-color-id="5"] {
  background: #E1E4FC;
  border: 1px solid #A7AAC8;
}
#form-builder-wrap .controls-wrap #groups .form-group[data-color-id="6"] {
  background: #F0F2C7;
  border: 1px solid #B9BB96;
}
#form-builder-wrap .controls-wrap #groups .form-group[data-color-id="7"] {
  background: #E2E2E2;
  border: 1px solid #AFAFAF;
}
#form-builder-wrap .controls-wrap #groups .form-group[data-color-id="8"] {
  background: #FFE0C1;
  border: 1px solid #CCAC8C;
}
#form-builder-wrap .controls-wrap #groups .form-group[data-color-id="9"] {
  background: #E4FBC6;
  border: 1px solid #AFC88E;
}
#form-builder-wrap .controls-wrap #groups .form-group .group-name {
  font: normal 12px Arial;
  cursor: pointer;
  display: inline-block;
  width: 120px;
}
#form-builder-wrap .controls-wrap #groups .form-group .s3-ico.i-pencil-white {
  background-position: -241px -184px;
  margin-right: 5px;
  cursor: pointer;
  vertical-align: top;
}
#form-builder-wrap .controls-wrap #groups .form-group .controls {
  float: right;
}
#form-builder-wrap .controls-wrap #groups .form-group .controls .s3-ico {
  cursor: pointer;
  margin-left: 7px;
}
#form-builder-wrap .controls-wrap #groups .form-group .controls .s3-ico .i-trash-white {
  background-position: -31px -418px;
}
#form-builder-wrap .controls-wrap #groups .form-group:after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  line-height: 0;
}
#form-builder-wrap .clear-form {
  margin-left: 1124px;
  margin-top: 20px;
}
#form-builder-wrap .form-container {
  min-height: 50px;
  width: 700px;
  margin-left: 15px;
  position: relative;
  float: left;
  background: #FFF;
  border-radius: 4px;
  padding: 7px;
}
#form-builder-wrap .form-container.no-hover .form-field-wrap {
  background: whitesmoke none repeat scroll 0 0 !important;
  border: 1px solid #d9d9d9 !important;
  box-shadow: none !important;
}
#form-builder-wrap .form-container.attaching .form-row-wrap .form-row .form-field-wrap .field-handle {
  display: none;
}
#form-builder-wrap .form-container .overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
#form-builder-wrap .form-container .before-row,
#form-builder-wrap .form-container .after-row,
#form-builder-wrap .form-container .new-after-row {
  border-top: 1px dashed #ff8901;
  margin: 0 5px -2px;
  height: 1px;
  position: relative;
}
#form-builder-wrap .form-container .after-row {
  margin-top: -1px;
}
#form-builder-wrap .form-container .before-row:after,
#form-builder-wrap .form-container .after-row:after,
#form-builder-wrap .form-container .new-after-row:after {
  position: absolute;
  top: -5px;
  left: -8px;
  content: '';
  margin-bottom: 2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 7px;
  border-color: transparent transparent transparent #ff8901;
}
#form-builder-wrap .form-container .form-row-wrap {
  font-size: 0;
  line-height: 0;
  padding: 2px;
  margin: 0;
  border: 1px dashed #cfcfcf;
  position: relative;
}
#form-builder-wrap .form-container .form-row-wrap:first-child {
  margin-top: 0;
}
#form-builder-wrap .form-container .form-row-wrap:last-child {
  margin-bottom: 0;
}
#form-builder-wrap .form-container .form-row-wrap.double .form-row + .form-row,
#form-builder-wrap .form-container .form-row-wrap.tripple .form-row + .form-row {
  padding-left: 3px;
  margin-right: -9px;
}
#form-builder-wrap .form-container .form-row-wrap + .before-row,
#form-builder-wrap .form-container .form-row-wrap + .after-row {
  margin: -3px 0 -4px;
}
#form-builder-wrap .form-container .form-row-wrap .row-controls {
  position: absolute;
  right: -1px;
  top: 100%;
  padding: 5px;
  background: #e5e5e5;
  border-radius: 0 0 3px 3px;
  display: none;
  text-align: center;
  z-index: 10;
}
#form-builder-wrap .form-container .form-row-wrap .row-controls .s3-ico {
  cursor: pointer;
  margin: 0 5px;
}
#form-builder-wrap .form-container .form-row-wrap.active .form-row:before {
  visibility: hidden;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .before-field,
#form-builder-wrap .form-container .form-row-wrap .form-row .after-field {
  width: 1px;
  border-left: 1px dashed #ff8901;
  float: left;
  position: relative;
  margin: 0 -1px;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .before-field:after,
#form-builder-wrap .form-container .form-row-wrap .form-row .after-field:after {
  position: absolute;
  bottom: 100%;
  left: -4px;
  content: '';
  margin-bottom: 2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 4px 0 4px;
  border-color: #ff8901 transparent transparent transparent;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .sub-row {
  min-height: 50px;
  position: relative;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .sub-row + .sub-row {
  border-top: 1px dashed #cfcfcf;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .sub-row:after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  line-height: 0;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap {
  cursor: pointer;
  min-width: 70px;
  float: left;
  margin: 5px;
  position: relative;
  border: 1px solid #d9d9d9;
  background: whitesmoke;
  border-radius: 4px;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap:hover {
  background-color: #e7effe;
  border: 1px solid #bac6d8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap[data-color-id="0"] {
  background: #E7EEFF;
  border: 1px solid #B8BECC;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap[data-color-id="1"] {
  background: #FDFAD2;
  border: 1px solid #CAC8A8;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap[data-color-id="2"] {
  background: #F7E9FA;
  border: 1px solid #C1AFC4;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap[data-color-id="3"] {
  background: #E2FCFB;
  border: 1px solid #B0C9C8;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap[data-color-id="4"] {
  background: #FFE6E6;
  border: 1px solid #CCA5A5;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap[data-color-id="5"] {
  background: #E1E4FC;
  border: 1px solid #A7AAC8;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap[data-color-id="6"] {
  background: #F0F2C7;
  border: 1px solid #B9BB96;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap[data-color-id="7"] {
  background: #E2E2E2;
  border: 1px solid #AFAFAF;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap[data-color-id="8"] {
  background: #FFE0C1;
  border: 1px solid #CCAC8C;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap[data-color-id="9"] {
  background: #E4FBC6;
  border: 1px solid #AFC88E;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap#new_field {
  display: none;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap[data-checked="true"] {
  border-color: #FF8A00 !important;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap[data-checked="true"]:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 12px;
  width: 12px;
  background: url('/my/s3/images/redesign/s3-icons.png') -85px -579px no-repeat;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap.temp .form-field,
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap.over .form-field {
  border-color: #ede6e6;
  cursor: move;
  background: #fafafa;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .icon-wrap {
  float: left;
  width: 110px;
  text-align: center;
  font-size: 11px;
  padding: 5px 0;
  border-color: #ede6e6;
  background: #fafafa;
  line-height: normal;
  display: none;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .icon-wrap.dublicator {
  width: 130px;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .icon-wrap.dublicator .title {
  text-align: left;
  padding: 0 5px;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .field-controls {
  display: none;
  position: absolute;
  cursor: default;
  top: 30px;
  left: 10px;
  width: 210px;
  padding: 5px 0;
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #d3d3d3;
  box-shadow: 0 1px 5px #dedede;
  font-size: 0;
  line-height: 0;
  z-index: 15;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .field-controls .field-button {
  font: normal 11px Arial;
  display: block;
  position: relative;
  cursor: pointer;
  padding: 0 13px;
  line-height: 24px;
  /*&.edit-field {
								.s3-ico {
									background-position: -241px -184px;
								}
							}

							&.group-params {
								.s3-ico {
									background-position: -31px -444px;
								}
							}*/
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .field-controls .field-button.hidden {
  display: none;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .field-controls .field-button.cancel {
  padding-left: 40px;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .field-controls .field-button.dublicate-field .s3-ico {
  background-image: url("/my/s3/images/svg_icons/ic_ol_copy.svg");
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .field-controls .field-button.change-group .s3-ico {
  background: url("/my/s3/images/svg_icons/ic_ol-folderaddto.svg") 0 50% no-repeat;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .field-controls .field-button.remove-from-group .s3-ico {
  background: url("/my/s3/images/svg_icons/ic_ol-folderdelfrom.svg") 0 50% no-repeat;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .field-controls .field-button:hover {
  background: #d0f8ca;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .field-controls .field-button .s3-ico {
  margin-right: 12px;
  width: 17px;
  margin-top: -1px;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .field-controls .field-button .groups-select {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: -2px;
  border-radius: 3px;
  box-shadow: 0 1px 5px #dedede;
  background: #ffffff;
  border: 1px solid #cccccc;
  width: 200px;
  z-index: 6;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .field-controls .field-button .groups-select .group {
  font: normal 11px Arial;
  display: block;
  position: relative;
  cursor: pointer;
  padding: 0 13px;
  line-height: 24px;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .field-controls .field-button .groups-select .group:hover {
  background: #d0f8ca;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .field-handle {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap img {
  max-height: 120px;
  max-width: 100%;
  width: auto;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap img {
  max-height: 120px;
  max-width: 100%;
  width: auto;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field {
  min-width: 70px;
  padding: 8px;
  background: none !important;
  font: normal 13px Arial;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field .title {
  color: #333;
  font-family: Arial;
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 8px;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field .body input[type="radio"] {
  margin-top: 0;
  vertical-align: middle;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field .body span.checkbox {
  color: #333;
  font-family: Arial;
  font-size: 12px;
  font-weight: 700;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field .s3-ico.i-tooltip {
  height: 15px;
  position: relative;
  z-index: 10;
  cursor: help;
  line-height: 10px;
  vertical-align: top;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field .s3-ico.i-tooltip:after {
  font-size: 13px;
  position: absolute;
  top: 100%;
  left: 0;
  content: attr(data-note);
  white-space: nowrap;
  margin-top: 10px;
  padding: 5px;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 5;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field .s3-ico.i-tooltip:hover:after {
  display: block;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field input[type="text"],
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field input[type="email"],
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field select {
  background: #fcfcfc;
  padding: 0 9px;
  border: 1px solid silver;
  border-radius: 4px;
  font-size: 14px;
  height: 30px;
  box-sizing: border-box;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field input[type="text"]:focus,
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field input[type="email"]:focus,
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field select:focus {
  background-color: #fffaf1;
  border-color: #fbb017;
  box-shadow: 0 1px 2px #fadca0;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field input.s3-input-text {
  height: 30px;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field input.s3-input-text.calendar {
  border-radius: 4px 0 0 4px;
  width: 83px;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field select[multiple] {
  height: auto;
  min-width: 70px;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field input[type="checkbox"] {
  position: relative;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field p {
  margin-top: 0;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field textarea {
  resize: none;
  background: #fcfcfc;
  border: 1px solid silver;
  border-radius: 4px;
  padding: 3px 10px;
  font-size: 13px;
  box-shadow: none;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field.title-position-2 .title,
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field.title-position-2 .body {
  float: left;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field.title-position-2 .title + .body {
  margin-left: 10px;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field.title-position-3 .title,
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field.title-position-3 .body {
  float: right;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field.title-position-3 .title + .body {
  margin-right: 10px;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field.title-position-4 .title {
  display: none;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field:after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  line-height: 0;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field .wrap-calendar {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field .wrap-calendar span.text {
  font-size: 12px;
  color: #333;
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field .wrap-calendar span.s3-calendar {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 0 4px 4px 0;
  display: inline-block;
  vertical-align: middle;
  background: gainsboro url("/my/s3/images/svg_icons/ic_ol-calendar .svg") 6px 50% no-repeat;
  margin-right: 11px;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field .s3-calendar-note {
  font-size: 11px;
  margin-top: 4px;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field span.upload-element {
  display: block;
  width: 30px;
  height: 30px;
  background-color: gainsboro;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 6px 7px 7px;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field label.s3-rb {
  margin: 3px 0;
  color: #333;
  font-size: 12px;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field label.s3-rb span.ico {
  margin: -2px 5px 0 0;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field label.s3-cb {
  margin: 3px 0;
  color: #333;
  font-size: 12px;
  padding: 0;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field label.s3-cb span.ico {
  margin: -2px 5px 0 0;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field div.multiple {
  min-width: 70px;
  background-color: #fcfcfc;
  border: 1px solid silver;
  border-radius: 4px;
  color: #333;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 0;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field div.multiple > div {
  padding: 6px 14px;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field div.multiple .selected {
  background-color: #dbe8fc;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap .form-field:hover {
  cursor: move;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap.ghost {
  opacity: 0.5;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap.copy {
  border-color: transparent;
  background: transparent;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap.flying {
  z-index: 10;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap.flying .icon-wrap {
  display: block;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap.flying .form-field {
  display: none;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap.before {
  border-left-color: #ff0000;
  position: relative;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap.before:before {
  position: absolute;
  bottom: 0;
  top: 0;
  left: -5px;
  content: '';
  border: none;
  border-left: 1px dashed #0060c7;
  width: 1px;
  margin: 0 -1px 0 -1px;
  padding: 0;
  background: none;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap.before:after {
  position: absolute;
  bottom: 100%;
  left: -8px;
  content: '';
  margin-bottom: 2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 4px 0 4px;
  border-color: #0060c7 transparent transparent transparent;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap.after {
  border-right-color: #ff0000;
  position: relative;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap.after:before {
  position: absolute;
  bottom: 0;
  top: 0;
  right: -5px;
  content: '';
  border: none;
  border-left: 1px dashed #0060c7;
  width: 1px;
  margin: 0 -1px 0 -1px;
  padding: 0;
  background: none;
}
#form-builder-wrap .form-container .form-row-wrap .form-row .form-field-wrap.after:after {
  position: absolute;
  bottom: 100%;
  right: -8px;
  content: '';
  margin-bottom: 2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 4px 0 4px;
  border-color: #0060c7 transparent transparent transparent;
}
#form-builder-wrap .form-container .form-row-wrap .row-resizer {
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  margin: 0 !important;
  background: none !important;
  box-shadow: none !important;
  border: none;
}
#form-builder-wrap .form-container .form-row-wrap .row-resizer * {
  background: none !important;
}
#form-builder-wrap .form-container .form-row-wrap .row-resizer .ui-slider-handle {
  width: 7px !important;
  top: 0 !important;
  border-radius: 0;
  border: none;
  height: 50px !important;
  background: none !important;
  margin-left: -4px;
  display: none !important;
  cursor: ew-resize;
}
#form-builder-wrap .form-container .form-row-wrap .form-row:after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  line-height: 0;
}
#form-builder-wrap .form-container .form-row-wrap.resizing {
  cursor: ew-resize;
}
#form-builder-wrap .form-container .form-row-wrap.col .form-row {
  min-height: 50px;
  vertical-align: top;
  float: left;
  position: relative;
}
#form-builder-wrap .form-container .form-row-wrap.col .form-row + .form-row:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: '';
  border-left: 1px dashed #cccccc;
}
#form-builder-wrap .form-container .form-row-wrap:after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  line-height: 0;
}
#form-builder-wrap .form-container .form-row-wrap.active .row-controls {
  display: block;
}
#form-builder-wrap .form-container .form-row-wrap.active .row-controls .s3-ico {
  height: 12px;
}
#form-builder-wrap .form-container .form-row-wrap.active .row-controls .s3-ico.i-asc-small {
  background-position: -85px -631px;
}
#form-builder-wrap .form-container .form-row-wrap.active .row-controls .s3-ico.i-desc-small {
  background-position: -111px -631px;
}
#form-builder-wrap .form-container .form-row-wrap.active .row-controls .s3-ico.i-trash-white {
  background-position: -31px -423px;
}
#form-builder-wrap .form-container .form-row-wrap.active .row-resizer .ui-slider-handle {
  display: block !important;
  border-left: 1px solid #cccccc !important;
  border-right: 1px solid #cccccc !important;
}
#form-builder-wrap:after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  line-height: 0;
}
.bluepopup-wrapper #anketa2-group .tabs-container {
  padding-top: 25px;
}
.bluepopup-wrapper #anketa2-group .form-rows-wrap {
  margin-bottom: 0;
}
.bluepopup-wrapper #anketa2-group #tab-main_params .form-row .title {
  width: 145px;
  text-align: left;
}
.bluepopup-wrapper #anketa2-group #tab-main_params .form-row .value {
  padding-left: 0;
}
.bluepopup-wrapper #anketa2-group #tab-merge_results .form-row .title {
  width: 275px;
  text-align: left;
}
.bluepopup-wrapper #anketa2-group #tab-merge_results .form-row .value {
  padding-left: 0;
}
.bluepopup-wrapper #anketa2-group #tab-attach_params .attach-type .attach-type-inner .attach-type-body label {
  display: block;
}
.bluepopup-wrapper #anketa2-group #tab-attach_params .attachable-fields-title {
  padding-bottom: 7px;
}
.bluepopup-wrapper #anketa2-group #tab-attach_params .attachable-fields-body.first {
  margin-bottom: 20px;
}
.bluepopup-wrapper #anketa2-group #tab-attach_params .attachable-field {
  position: relative;
  display: block;
  border: 1px solid #cfcfcf;
  margin-bottom: 1px;
  width: 340px;
}
.bluepopup-wrapper #anketa2-group #tab-attach_params .attachable-field.alone {
  border-radius: 5px;
}
.bluepopup-wrapper #anketa2-group #tab-attach_params .attachable-field.first {
  border-radius: 5px 5px 0 0;
}
.bluepopup-wrapper #anketa2-group #tab-attach_params .attachable-field.last {
  border-radius: 0 0 5px 5px;
}
.bluepopup-wrapper #anketa2-group #tab-attach_params .attachable-field .field-type {
  color: #929292;
}
.bluepopup-wrapper #anketa2-group #tab-attach_params .attachable-field .attachable-field-inner label {
  cursor: pointer;
  border-radius: 3px;
  display: block;
}
.bluepopup-wrapper #anketa2-group #tab-attach_params .attachable-field .attachable-field-inner label input[type="checkbox"] {
  vertical-align: top;
  outline-style: none;
  margin: 0;
  cursor: pointer;
}
.bluepopup-wrapper #anketa2-group #tab-attach_params .attachable-field .field-options {
  display: none;
  padding: 10px;
  margin: 0 10px 10px 31px;
  background: #ebebeb;
  border-radius: 4px;
}
.bluepopup-wrapper #anketa2-group #tab-attach_params .attachable-field .field-options label {
  border: none;
  display: block;
}
.bluepopup-wrapper #anketa2-group #tab-attach_params .attachable-field .field-options label input[type="radio"] {
  display: table-cell;
}
.bluepopup-wrapper #anketa2-group #tab-attach_params .attachable-field.active .field-options {
  display: block;
}
.bluepopup-wrapper #anketa2-group #tab-attach_params .attachable-field-inner label {
  padding: 8px;
}
.bluepopup-wrapper #anketa2-group #tab-attach_params .attachable-field-inner label .icon {
  float: left;
  margin-right: 8px;
}
.bluepopup-wrapper #anketa2-group #tab-attach_params .form-row .title {
  width: 175px;
  text-align: left;
}
.bluepopup-wrapper #anketa2-group #tab-attach_params .form-row .value {
  padding-left: 0;
}
.bluepopup-wrapper #anketa2-group #tab-attach_params .form-row .value .no-variants {
  padding-top: 5px;
}
.bluepopup-wrapper #anketa2-properties .form-row {
  display: block;
  color: #212121;
}
.bluepopup-wrapper #anketa2-properties .form-row label.s3-cb {
  display: inline-block;
  font-size: 13px;
}
.bluepopup-wrapper #anketa2-properties .form-row .title {
  text-align: left;
  display: block;
  width: auto;
}
.bluepopup-wrapper #anketa2-properties .form-row .value {
  padding: 0;
  display: block;
}
.bluepopup-wrapper #anketa2-properties .form-row .switcher {
  padding-top: 0;
  margin-left: 5px;
}
.bluepopup-wrapper #anketa2-properties .form-row .switcher .ico {
  margin-top: 0;
}
.bluepopup-wrapper #control_edit_form.html-control {
  width: 750px;
}
.bluepopup-wrapper #control_edit_form.html-control .title {
  text-align: left;
  width: 70px;
}
.bluepopup-wrapper #control_edit_form .title {
  width: 210px;
}
.bluepopup-wrapper .anketa2-form .form-rows-wrap {
  margin-bottom: 50px;
}
.bluepopup-wrapper .anketa2-form .form-row {
  margin-bottom: 20px;
}
.bluepopup-wrapper .anketa2-form .form-row label {
  display: table;
  width: 100%;
  color: #212121;
}
.bluepopup-wrapper .anketa2-form .form-row label.s3-cb:not(.without-margin) .ico {
  margin-top: 6px;
}
.bluepopup-wrapper .anketa2-form .form-row .title,
.bluepopup-wrapper .anketa2-form .form-row .value {
  display: table-cell;
  vertical-align: top;
}
.bluepopup-wrapper .anketa2-form .form-row .title {
  text-align: right;
  font: bold 13px Arial;
  padding-bottom: 3px;
  width: 190px;
  color: #212121;
  padding-top: 5px;
}
.bluepopup-wrapper .anketa2-form .form-row .value {
  text-align: left;
  padding-left: 20px;
}
.bluepopup-wrapper .anketa2-form .form-row .value .s3-input-text.w50 {
  width: 50px;
}
.bluepopup-wrapper .anketa2-form .form-row .value .s3-input-text.w100p {
  width: 100%;
}
.bluepopup-wrapper .anketa2-form .form-row .hidden {
  display: none;
}
.bluepopup-wrapper .w100p {
  width: 100%;
}
.color-scheme-wrapper {
  line-height: 0;
  font-size: 0;
}
.color-scheme-wrapper .color-scheme-list {
  min-width: 170px;
  margin-top: 8px;
  padding: 8px 0;
  line-height: 0;
  font-size: 0;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px 0;
  display: none;
  position: absolute;
  z-index: 5;
}
.color-scheme-wrapper .color-scheme-item {
  display: block;
  cursor: pointer;
  padding: 6px 20px 6px 6px;
  font: normal 12px Arial, Helvetica, sans-serif;
  line-height: 18px;
}
.color-scheme-wrapper .color-scheme-item:hover,
.color-scheme-wrapper .color-scheme-item.active {
  background: #eaeaea;
}
.color-scheme-wrapper .color-scheme-item .color-label {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  margin-right: 5px;
  border-radius: 2px;
  border: 1px solid #ffffff;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}
.color-scheme-wrapper .color-scheme-item .color-label.scheme-bootstrap {
  background: transparent url("/my/s3/images/svg_icons/oah-brush.svg") center center no-repeat;
  background-size: 95%;
  border-color: transparent;
  box-shadow: none;
}
.color-scheme-wrapper .color-scheme-item .color-label.scheme-0 {
  background: #1155CC;
  border-color: #0f4bb4;
}
.color-scheme-wrapper .color-scheme-item .color-label.scheme-1 {
  background: #63B435;
  border-color: #58a02f;
}
.color-scheme-wrapper .color-scheme-item .color-label.scheme-2 {
  background: #FFA601;
  border-color: #e79600;
}
.color-scheme-wrapper .color-scheme-item .color-label.scheme-3 {
  background: #F06354;
  border-color: #ee4e3d;
}
.color-scheme-wrapper .color-scheme-item .color-label.scheme-4 {
  background: #B07535;
  border-color: #9c682f;
}
.color-scheme-wrapper .color-scheme-item .color-label.scheme-5 {
  background: #9A4CBD;
  border-color: #8d41af;
}
.color-scheme-wrapper .color-scheme-item .color-label.scheme-6 {
  background: #6F9EE8;
  border-color: #598fe4;
}
.color-scheme-wrapper .color-scheme-item .color-label.scheme-7 {
  background: #828282;
  border-color: #757575;
}
.color-scheme-wrapper .color-scheme-item .color-label.scheme-8 {
  background: #ffcc2b;
  border-color: #e8b828;
}
.color-scheme-wrapper .color-scheme-selected {
  min-width: 86px;
  display: inline-block;
  padding: 3px 4px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #b3b3b3;
  box-shadow: inset 0 2px 2px -1px rgba(0, 0, 0, 0.1), 0 2px 2px -1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}
.color-scheme-wrapper .color-scheme-selected .color-scheme-item {
  margin: 0;
  padding: 0 20px 0 0;
  background: none;
}
.color-scheme-wrapper .color-scheme-selected .color-scheme-arrow {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.color-scheme-wrapper .color-scheme-selected .color-scheme-arrow:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 26px;
  width: 24px;
  background: url(/my/s3/images/redesign/s3-icons.png) no-repeat scroll -53px -181px transparent;
}
.color-scheme-wrapper .color-scheme-selected .color-scheme-arrow.context-button-active:after {
  background-position: -157px -234px;
}
.anketa2-main-wrapper .s3-form-view-wrapper {
  max-width: 100%;
}
