.s3-actions-panel-wrap.comments-panel__wrapper {
    padding: 16px;
    background: #E0E3E5;
    border-radius: 8px;
    box-shadow: none;
    margin-bottom: 0;
}
.s3-actions-panel-wrap.comments-panel__wrapper .s3-actions-panel .s3-btn.without-margin {
    padding: 7px 12px 7px 7px;
    box-shadow: 0px 1px 5px rgba(43, 43, 43, 0.2);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #212121;
    height: 40px;
    font-family: "Open Sans";
    box-sizing: border-box;
    margin: 1px 0 0 30px;
}
.s3-actions-panel-wrap.comments-panel__wrapper .s3-actions-panel .s3-btn.without-margin .s3-ico.i-gear.img {
    width: 26px;
    height: 26px;
    background: url("/my/s3/images/svg_icons/oah-settings3.svg") 50% 50% no-repeat;
    margin: 0 7px 0 0;
}
.comments-panel__wrapper .s3-panel-blog-menu {
    font-size: 0;
    box-shadow: 0px 1px 5px rgba(43, 43, 43, 0.2);
    border-radius: 4px;
    display: inline-block;
}
.comments-panel__wrapper .s3-panel-blog-menu .menu-button {
    display: inline-block;
    vertical-align: top;
    padding: 11px 12px;
    cursor: pointer;
    color: #212121;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    font-family: "Open Sans";
    background: #fff;
    margin-right: 1px;
}
.comments-panel__wrapper .s3-panel-blog-menu .menu-button:first-child {
    border-radius: 4px 0 0 4px;
}
.comments-panel__wrapper .s3-panel-blog-menu .menu-button:last-child {
    border-radius: 0 4px 4px 0;
}
.comments-panel__wrapper .s3-panel-blog-menu .menu-button:hover,
.comments-panel__wrapper .s3-panel-blog-menu .menu-button.active {
    background: #C4FBC7;
}
.s3-actions-panel-wrap.comments-panel__wrapper .s3-actions-panel .s3-btn.without-margin {
    margin-left: 20px;
    margin-top: 3px;
}

.comments-actions__btns {
    padding-top: 24px;
    padding-bottom: 16px;
    padding-right: 0;
    font-size: 0;
}
.comments-actions__btns:after {
    content: '';
    width: 100%;
    clear: both;
    display: block;
}
.comments-actions__btns .actions_btn {
    float: left;
    margin-top: -8px;
}

.comments-actions__btns .actions_btn .group-operation-wrapper {
    margin-left: 16px;
    height: 40px;
    display: none;
    vertical-align: top;
}
.comments-actions__btns .actions_btn .group-operation-wrapper.active {
    display: inline-block;
}
.comments-actions__btns .actions_btn .group-operation-wrapper .s3-btn.green {
    width: 40px;
    height: 40px;
    font-size: 0;
    background: #29BC50 url("/my/s3/images/svg_icons/arr_check_btn.svg") 50% 50% no-repeat;
    box-shadow: none;
    border-radius: 0 4px 4px 0;
    margin: 0 0 0 -4px;
    display: none;
}
.comments-actions__btns .actions_btn .group-operation-wrapper .s3-btn.green.active {
    display: inline-block;
}
.comments-actions__btns .actions_btn .group-operation-wrapper .chzn-container {
    font-size: 0;
    min-width: 260px;
    box-sizing: border-box;
}
.comments-actions__btns .actions_btn .group-operation-wrapper .chzn-container .chzn-single {
    height: 40px !important;
    background: #FCFCFC !important;
    border: 1px solid #C0C0C0 !important;
    box-sizing: border-box;
    border-radius: 4px !important;
    padding: 0 16px !important;
    line-height: 38px !important;
    font-family: Open Sans !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #212121 !important;
    cursor: pointer !important;
    position: relative;
}
.comments-actions__btns .actions_btn .group-operation-wrapper .chzn-container .chzn-single:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6px;
    width: 26px;
    height: 26px;
    background: url(/my/s3/images/svg_icons/oah-arrdown-thin2.svg) 50% 50% no-repeat;
    margin: auto;
}
.comments-actions__btns .actions_btn .group-operation-wrapper .chzn-container .chzn-single div {
    display: none;
}
.comments-actions__btns .actions_btn .group-operation-wrapper .chzn-container .chzn-drop {
    margin-top: 0 !important;
    min-width: 260px !important;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15) !important;
    border-radius: 4px !important;
}
.comments-actions__btns .actions_btn .group-operation-wrapper .chzn-container .chzn-drop .chzn-results li {
    padding: 7px 16px !important;
    font-family: Open Sans !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    letter-spacing: -0.2px !important;
    color: #212121 !important;
}
.comments-actions__btns .actions_btn .group-operation-wrapper .chzn-container .chzn-drop .chzn-results li:before {
    display: none;
}
.comments-actions__btns .s3-pagelist-wrapper.top {
    padding-right: 18px;
    font-size: 0;
}
.comments-actions__btns .s3-pagelist-wrapper.top .page-nums {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -0.2px;
    color: #212121;
    height: 32px;
    line-height: 32px;
}
.comments-actions__btns .s3-pagelist-wrapper.top .page-nums strong {
    font-weight: normal;
}
.comments-actions__btns .s3-pagelist-wrapper.top .s3-pagelist-item {
    height: 32px;
    width: 32px;
    border-color: #E1E1E1;
    box-sizing: border-box;
    padding: 3px;
}
.comments-actions__btns .s3-pagelist-wrapper.top .s3-pagelist-item .s3-ico {
    width: 24px;
    height: 24px;
    vertical-align: top;
}
.comments-actions__btns .s3-pagelist-wrapper.top .s3-pagelist-item .s3-ico.i-first {
    background: url("/my/s3/images/svg_icons/oah-arrow-left2.svg") 50% 50% no-repeat;
}
.comments-actions__btns .s3-pagelist-wrapper.top .s3-pagelist-item .s3-ico.i-last {
    background: url("/my/s3/images/svg_icons/oah-arrow-right2.svg") 50% 50% no-repeat;
}
.comments-actions__btns .s3-sort {
    padding: 1px 0;
    box-shadow: 0px 1px 1px #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    border: none;
    float: right;
}
.comments-actions__btns .s3-sort .sort-icon {
    border: none;
    width: 26px;
    height: 30px;
    padding: 2px 0;
    box-sizing: border-box;
    margin: 0 4px 0 2px;
}
.comments-actions__btns .s3-sort .sort-icon .s3-ico {
    width: 26px;
    height: 26px;
}
.comments-actions__btns .s3-sort .sort-icon .s3-ico.i-desc {
    background: url("/my/s3/images/svg_icons/desk_icon.svg") 50% 50% no-repeat;
}
.comments-actions__btns .s3-sort .sort-icon .s3-ico.i-asc {
    background: url("/my/s3/images/svg_icons/ack_icon.svg") 50% 50% no-repeat;
}
.comments-actions__btns .s3-sort .sort-icon:hover {
    background: none;
}
.comments-actions__btns .s3-sort .sort-selector {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.2px;
    color: #212121;
    border: none;
    padding: 0;
}
.comments-actions__btns .s3-sort .sort-selector .s3-ico.i-bot-arrow-s-grey {
    width: 26px;
    height: 30px;
    margin: 0 2px 0 8px;
    vertical-align: middle;
    background: url("/my/s3/images/svg_icons/arr_sort_icon.svg") 50% 50% no-repeat;
}
.comments-actions__btns .s3-sort .sort-selector:hover {
    background: none;
}
.comments-actions__btns .s3-per-page-controller {
    background: #FFFFFF;
    box-shadow: 0px 1px 1px #CCCCCC;
    border-radius: 4px;
    border: none;
    height: 32px;
    overflow: unset;
    margin-left: 16px;
    padding: 3px 4px;
    box-sizing: border-box;
    font-size: 0;
}
.comments-actions__btns .s3-per-page-controller .s3-input-text {
    width: 36px;
    text-align: center;
    height: 26px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -0.2px;
    color: #212121;
}
.comments-actions__btns .s3-per-page-controller .s3-btn {
    width: 26px;
    height: 26px;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
}
.comments-actions__btns .s3-per-page-controller .s3-btn .s3-ico {
    width: 26px;
    height: 26px;
    vertical-align: top;
    background: url("/my/s3/images/svg_icons/arr_sort_icon.svg") 50% 50% no-repeat;
}
.comments-actions__btns .article-list-view-params .s3-btn.grey-flat {
    width: 32px;
    height: 32px;
    box-shadow: 0px 1px 1px #CCCCCC;
    border-radius: 4px;
    padding: 3px;
    border: none;
    box-sizing: border-box;
    margin-left: 16px;
    background: #fff;
}
.comments-actions__btns .article-list-view-params .s3-btn.grey-flat .s3-ico {
    width: 26px;
    height: 26px;
    background: url("/my/s3/images/svg_icons/oah-taskmanager2.svg") 50% 50% no-repeat;
}

.comments-wrapper__popup {
    padding: 0 32px 0 32px;
}
.comments-wrapper__popup .comments-list__wrapper {
    padding: 21px 0 0 0;
}
.comments-list__wrapper {
    padding: 21px 32px 32px;
    background: #fff;
    border-radius: 6px;
    margin-bottom: 0;
    box-sizing: border-box;
}
@media all and (max-width: 1650px) {
    .comments-list__wrapper {
        padding: 20px 24px;
    }
}
.comments-list__wrapper table {
    border-collapse: collapse;
    white-space: nowrap;
    width: 100%;
}
.comments-list__wrapper table thead th {
    border-top: none;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: -0.4px;
    color: #838383;
    padding: 0px 32px 9px 0;
    box-sizing: border-box;
}
.comments-list__wrapper table tbody tr {
    border-bottom: 1px solid #e6e6e6;
}
.comments-list__wrapper table tbody tr:first-child {
    border-top: 1px solid #e6e6e6;
}
.comments-list__wrapper table tbody tr:nth-child(odd) {
    background: #FCFCFC;
}
.comments-list__wrapper table tbody tr td {
    padding: 8px 32px 8px 0;
    font-family: "Open Sans";
    box-sizing: border-box;
    font-weight: normal;
    line-height: 24px;
    font-size: 12px;
    letter-spacing: -0.4px;
    color: #212121;
}
@media all and (max-width: 1650px) {
    .comments-list__wrapper table tbody tr td {
        padding-left: 24px;
    }
}
.comments-list__wrapper table tbody tr td.article_name {
    color: #1155CC;
}
.comments-list__wrapper table tbody tr td.article_name a {
    font-weight: normal;
}
.comments-list__wrapper table tbody tr td.actions {
    padding-right: 10px;
}
.comments-list__wrapper table tbody tr td.actions .objectRemove {
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    font-size: 0;
    background: url("/my/s3/images/svg_icons/oah-trashc.svg") 50% 50% no-repeat;
}
.comments-list__wrapper table tbody tr td.actions .objectAction {
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    font-size: 0;
    background: url("/my/s3/images/svg_icons/oah-apply2.svg") 50% 50% no-repeat;
}
.comments-list__wrapper table tbody tr td.actions .objectEdit {
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    font-size: 0;
    background: url("/my/s3/images/svg_icons/ic_ol_edit.svg") 50% 50% no-repeat;
}
.comments-list__wrapper table tbody tr td.rating {
    padding-top: 11px;
    padding-bottom: 2px;
}
.comments-list__wrapper table tbody tr td.rating .s3_rating {
    height: 14px;
    width: 70px;
    background: url("/my/s3/images/svg_icons/star_norm.svg") 0 50% repeat-x;
}
.comments-list__wrapper table tbody tr td.rating .s3_rating .s3_rating_stars {
    height: 14px;
    background: url("/my/s3/images/svg_icons/star_active.svg") 0 50% repeat-x;
}
.comments-list__wrapper table tbody tr td.user {
    color: #838383;
}
.comments-list__wrapper table tbody tr td.user strong {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: #838383;
}
.comments-list__wrapper table tbody tr td.date {
    color: #838383;
}
.comments-list__wrapper table tbody tr td.checkbox {
    padding-left: 8px;
    position: relative;
    padding-right: 24px;
}
@media all and (max-width: 1650px) {
    .comments-list__wrapper table tbody tr td.checkbox {
        padding-left: 0;
        padding-right: 16px;
    }
}
.comments-list__wrapper table tbody tr td.checkbox label {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
.comments-list__wrapper table tbody tr td.checkbox input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.comments-list__wrapper table tbody tr td.checkbox span {
    width: 18px;
    height: 18px;
    border: 1px solid #c0c0c0;
    background: #fcfcfc;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 0;
    display: block;
}
.comments-list__wrapper table tbody tr td.checkbox span:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 18px;
    height: 18px;
    background: url(/my/s3/images/svg_icons/ic-check-item.svg) 0 50% no-repeat;
    opacity: 0;
    transition: opacity 0.2s ease 0s;
}
.comments-list__wrapper table tbody tr td.checkbox input:checked + span {
    background: #36C55C;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 4px rgba(41, 188, 80, 0.5);
}
.comments-list__wrapper table tbody tr td.checkbox input:checked + span:before {
    opacity: 1;
}

