/* Apply the element you want to drag/resize */
.drsElement, .drsElement-fake {
    position: absolute;
    border-style: solid; 
    border-color: #999;
    border-width: 0 1px 1px 1px;
    background: #ffffff;
}

/*
The main mouse handle that moves the whole element.
You can apply to the same tag as drsElement if you want.
 */
.drsMoveHandle {
    height: 20px;
	//height: 20px !important;
    background-color: #fefefe;
    border-bottom: 1px dotted #666;
    cursor: move;
}

/*
The DragResize object name is automatically applied to all generated
corner resize handles, as well as one of the individual classes below.
 */
.dragresize {
    position: absolute;
    width: 5px;
    height: 5px;
    font-size: 1px;
    background: #EEE;
    border: 1px solid #333;
}

/*
Individual corner classes - required for resize support.
These are based on the object name plus the handle ID.
 */
.dragresize-transparent-tl, .dragresize-tl {
    top: -8px;
    left: -8px;
    cursor: nw-resize;
	border-width: 1px 0 0 1px !important;
}

.dragresize-transparent-tm, .dragresize-tm {
    top: -8px;
    left: 50%;
    margin-left: -4px;
    cursor: n-resize;
	border-width: 1px 0 0 0 !important;
}
.dragresize-transparent-tr, .dragresize-tr {
    top: -8px;
    right: -8px;
    cursor: ne-resize;
	border-width: 1px 1px 0 0 !important;
}

.dragresize-transparent-ml, .dragresize-ml {
    top: 50%;
    margin-top: -4px;
    left: -8px;
    cursor: w-resize;
	border-width: 0 0 0 1px !important;
}
.dragresize-transparent-mr, .dragresize-mr {
    top: 50%;
    margin-top: -4px;
    right: -8px;
    cursor: e-resize;
	border-width: 0 1px 0 0 !important;
}

.dragresize-transparent-bl, .dragresize-bl {
    bottom: -8px;
    left: -8px;
    cursor: sw-resize;
	border-width: 0 0 1px 1px !important;
}
.dragresize-transparent-bm, .dragresize-bm {
    bottom: -8px;
    left: 50%;
    margin-left: -4px;
    cursor: s-resize;
	border-width: 0 0 1px 0 !important;
}
.dragresize-transparent-br, .dragresize-br {
    bottom: -8px;
    right: -8px;
    cursor: se-resize;
	border-width: 0 1px 1px 0 !important;
}

/*++*/
.drsElement-fake .dragresize-tl,
.drsElement-fake .dragresize-tm,
.drsElement-fake .dragresize-tr,
.drsElement-fake .dragresize-ml,
.drsElement-fake .dragresize-mr,
.drsElement-fake .dragresize-bl,
.drsElement-fake .dragresize-bm,
.drsElement-fake .dragresize-br {
    display: none;
}

.drsElement .dragresize-tl,
.drsElement .dragresize-tm,
.drsElement .dragresize-tr,
.drsElement .dragresize-ml,
.drsElement .dragresize-mr,
.drsElement .dragresize-bl,
.drsElement .dragresize-bm,
.drsElement .dragresize-br {
    display: block;
}
.drsElement-fake{
    border: none;
}

.dragresize-transparent {
    position: absolute;
    width: 22px;
    height: 22px;
    font-size: 1px;
    background: transparent;
    border: 1px none;
	border-style: solid; 
	border-color: #BBBBBB;
}
