.s3-page-edit-wrapper {
  margin: 0;
}
.s3-page-edit-wrapper .page-service-links {
  margin-bottom: 25px;
}
.s3-page-edit-wrapper .page-service-links a {
  color: #15c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}
.s3-page-edit-wrapper .page-service-links a:hover {
  text-decoration: underline;
}
.s3-page-edit-wrapper .page-service-links a .s3-ico {
  margin-right: 11px;
  margin-top: -3px;
}
.s3-page-edit-wrapper .page-service-links a .s3-ico.i-megafon {
  margin-right: 8px;
}
.s3-page-edit-wrapper .page-service-links a + a {
  margin-left: 21px;
}
.s3-page-edit-wrapper .settings-list {
  padding-bottom: 35px;
}
.s3-page-edit-wrapper .settings-list .s3-error-message {
  margin-bottom: 10px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col {
  padding-bottom: 15px;
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: top;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col.title {
  text-align: right;
  padding-right: 10px;
  padding-top: 6px;
  font: 700 13px Arial;
  color: #212121;
  min-width: 97px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col.title.pdt9 {
  padding-top: 9px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col.pdb40 {
  padding-bottom: 40px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col.tab {
  padding: 0;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .item-note {
  max-width: 570px;
  color: #212121;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .item-note .s3-ico {
  margin-right: 5px;
  float: left;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .item-note .note-text {
  padding-left: 22px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .w570 {
  width: 570px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #seo_tabs {
  padding-top: 35px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #seo_tabs .s3-radio-tabs {
  border: 5px solid #ebebeb;
  background-color: #ebebeb;
  border-radius: 4px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #seo_tabs .s3-radio-tabs .page-settings-tab.hidden {
  display: none;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #seo_tabs .s3-radio-tabs .page-settings-tab.hidden + .page-settings-tab {
  border-left-color: transparent;
  border-radius: 4px 0 0 4px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #seo_tabs .s3-radio-tabs .page-settings-tab.hidden + .page-settings-tab:hover {
  border-left-color: #bfc6c9;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .param-title {
  color: #212121;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  padding-right: 10px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper {
  position: relative;
  line-height: 0;
  font-size: 0;
  display: inline-block;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .page-view-btn {
  padding-right: 30px;
  padding-left: 5px;
  position: relative;
  min-width: 215px;
  font: normal 13px Arial, Helvetica, sans-serif;
  line-height: 28px;
  color: #333333 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*.s3-ico {
								margin-right: 5px;
							}*/
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .page-view-btn.disabled {
  padding-right: 12px;
  min-width: auto;
  cursor: default !important;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .page-view-btn.disabled:active {
  background: none;
  box-shadow: none;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .page-view-btn.disabled:after {
  display: none;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .page-view-btn:active,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .page-view-btn.context-button-active {
  box-shadow: none;
  background-color: #d6d6d6;
  border-color: #ccc;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .page-view-btn:active:after,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .page-view-btn.context-button-active:after {
  background: url("/my/s3/images/svg_icons/ic_sl_arrow-updw-grey.svg") 0 0 no-repeat;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .page-view-btn:before {
  content: '';
  background-image: url("/my/s3/images/svg_icons/ic_ol_page.svg");
  background-size: 17px 17px;
  background-repeat: no-repeat;
  background-position: 0 -1px;
  height: 17px;
  width: 17px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .page-view-btn.link:before {
  background-image: url("/my/s3/images/svg_icons/ic_ol_link.svg");
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .page-view-btn.verification:before {
  background-image: url("/my/s3/images/svg_icons/ic_ol_verify.svg");
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .page-view-btn:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 9px;
  height: 10px;
  width: 8px;
  background: url("/my/s3/images/svg_icons/ic_sl_arrow-updw-green.svg") 0 0 no-repeat;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .page-type-list {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper #template_id {
  border: none;
  background: none;
  width: 10px;
  font-size: 0;
  line-height: 0;
  margin-left: -5px;
  position: absolute;
  left: 50%;
  bottom: 0;
  outline-style: none;
  opacity: 0;
}


/*.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list {
  box-sizing: border-box;
  padding: 20px 20px 30px 30px;
  box-shadow: 0 2px 4px rgba(153, 153, 153, 0.5);
  background: #f8f8f8;
  color: #333;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  width: 750px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group + .page-view-group {
  padding-top: 20px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-title {
  color: #5681cb;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  position: relative;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-title.staff-pages {
  color: #9A4CBD;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-title.favorites {
  color: #696969;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-title.favorites:after {
  content: '';
  position: absolute;
  left: -19px;
  top: 1px;
  height: 12px;
  width: 12px;
  background: url("/my/s3/images/svg_icons/ic_favorites.svg") 0 0 no-repeat;
  background-size: 12px 12px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-title.switchable {
  cursor: pointer;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-title.switchable:before {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  top: 8px;
  border-top: 1px solid #d3d3d3;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-title.switchable:after {
  content: '';
  position: absolute;
  left: -17px;
  top: 3px;
  height: 10px;
  width: 13px;
  background: url("/my/s3/images/svg_icons/ic_sl_arrow-updw-grey.svg") 2px 0 no-repeat;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-title > span {
  display: inline-block;
  padding-right: 16px;
  background: #f8f8f8;
  position: relative;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-list-wrapper .view-group-list {
  padding-top: 15px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-list-wrapper .view-group-list table {
  width: auto;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-list-wrapper .view-group-list .view-item {
  cursor: pointer;
  padding: 6px 7px;
  border-radius: 4px;
  width: 160px;
  white-space: nowrap;
  font-size: 0;
  line-height: 0;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-list-wrapper .view-group-list .view-item:after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  line-height: 0;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-list-wrapper .view-group-list .view-item:hover {
  background-color: #c4e9be;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-list-wrapper .view-group-list .view-item .s3-ico {
  float: left;
  margin-right: 5px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-list-wrapper .view-group-list .view-item .s3-ico + .view-name {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 14px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-list-wrapper .view-group-list .view-item .big-ico {
  border-radius: 2px;
  margin-right: 8px;
  width: 46px;
  height: 38px;
  display: inline-block;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  background: url("/my/s3/images/svg_icons/template_type1.png") 0 50% no-repeat #ffffff;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-list-wrapper .view-group-list .view-item .big-ico.gallery {
  background: url("/my/s3/images/svg_icons/ic_type-gallery.svg") 50% 50% no-repeat #ffffff;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-list-wrapper .view-group-list .view-item .big-ico.gallery2 {
  background: url("/my/s3/images/svg_icons/ic_type-gallery2.svg") 50% 50% no-repeat #ffffff;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-list-wrapper .view-group-list .view-item .big-ico.anketa,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-list-wrapper .view-group-list .view-item .big-ico.anketa2 {
  background: url("/my/s3/images/svg_icons/ic_type-form.svg") 50% 50% no-repeat #ffffff;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-list-wrapper .view-group-list .view-item .big-ico.link-page {
  background: url("/my/s3/images/svg_icons/ic_type-link.svg") 50% 50% no-repeat #ffffff;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-list-wrapper .view-group-list .view-item .big-ico.text {
  background: url("/my/s3/images/svg_icons/ic_type-textpage.svg") 50% 50% no-repeat #ffffff;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-list-wrapper .view-group-list .view-item .big-ico.text_extented {
  background: url("/my/s3/images/svg_icons/ic_type-textpage2.svg") 50% 50% no-repeat #ffffff;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-list-wrapper .view-group-list .view-item .big-ico + .view-name {
  padding-top: 5px;
  width: 105px;
  display: inline-block;
  vertical-align: top;
  height: 30px;
  overflow: hidden;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-list-wrapper .view-group-list .view-item .view-name {
  padding-top: 2px;
  white-space: normal;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-view-wrapper .s3-page-view-group-list .page-view-group .view-group-list-wrapper .view-group-list .view-item .view-name.link {
  color: #5681cb;
}*/


.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_seo,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_soc_params,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_access,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_info,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_more {
  padding-top: 25px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_seo,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_soc_params,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_more {
  padding-left: 5px;
  width: 675px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_seo textarea,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_soc_params textarea,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_more textarea {
  min-height: auto;
  height: auto;
  padding: 5px 10px;
  resize: none;
  overflow: hidden;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_seo textarea.for-staff,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_soc_params textarea.for-staff,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_more textarea.for-staff {
  min-height: 60px;
  height: 60px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_seo textarea:focus,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_soc_params textarea:focus,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_more textarea:focus {
  box-shadow: 0 1px 3px #f9dca0;
  border: 1px solid #fbb017;
  border-radius: 4px;
  outline-style: none;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_seo textarea:focus + .s3-word-counter > span,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_soc_params textarea:focus + .s3-word-counter > span,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_more textarea:focus + .s3-word-counter > span,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_seo textarea:focus + .s3-word-counter > span span,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_more textarea:focus + .s3-word-counter > span span {
  color: #fb8e17;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_seo .seo-param-wrapper,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_soc_params .seo-param-wrapper,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_more .seo-param-wrapper {
  position: relative;
  max-width: 565px;
  padding-bottom: 15px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_seo .seo-param-wrapper.with-note,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_soc_params .seo-param-wrapper.with-note,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_more .seo-param-wrapper.with-note {
  padding-bottom: 10px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_seo .seo-param-wrapper textarea,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_soc_params .seo-param-wrapper textarea,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_more .seo-param-wrapper textarea {
  width: 100%;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_seo .seo-param-wrapper .s3-word-counter,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_soc_params .seo-param-wrapper .s3-word-counter,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_more .seo-param-wrapper .s3-word-counter {
  text-align: right;
  padding: 0;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_seo .seo-param-wrapper .s3-word-counter > span,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_soc_params .seo-param-wrapper .s3-word-counter > span,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_more .seo-param-wrapper .s3-word-counter > span {
  padding: 0 4px 0 0;
  color: #cccccc;
  font-size: 12px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_seo .seo-param-wrapper .s3-word-counter > span span,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_soc_params .seo-param-wrapper .s3-word-counter > span span,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_more .seo-param-wrapper .s3-word-counter > span span {
  font-weight: 700;
  color: #828282;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_seo .seo-param-wrapper .s3-word-counter > span + span,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_soc_params .seo-param-wrapper .s3-word-counter > span + span,
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_more .seo-param-wrapper .s3-word-counter > span + span {
  padding-left: 15px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_access {
  padding-left: 20px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_access ul.boxes.data-list {
  padding-bottom: 0;
  margin-left: 24px;
  margin-top: 4px;
  margin-bottom: 20px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_access ul.boxes.data-list li.controls {
  padding-bottom: 7px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_access ul.boxes.data-list li.box:last-child {
  margin-bottom: 5px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_access ul.boxes.data-list li.box .title .name {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  vertical-align: middle;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_access .access-setting {
  font-size: 0;
  line-height: 0;
  margin-bottom: 5px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_access .access-setting .s3-rb {
  font-weight: 700;
  color: #212121;
  line-height: normal;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_access .access-setting .s3-rb.active {
  color: #1aa63e;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_access #visibleByAccessWrap {
  margin-top: 30px;
  padding: 15px;
  border-radius: 4px;
  background: #ebebeb;
  width: 630px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_access #visibleByAccessWrap.invisible {
  display: none;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_access #visibleByAccessWrap .visibility-attention {
  padding-bottom: 5px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_access #visibleByAccessWrap .visibility-toggler {
  padding-left: 25px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_access #visibleByAccessWrap .visibility-toggler label b {
  color: #212121;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_access #visibleByAccessWrap .visibility-toggler .s3-cb {
  font-weight: 700;
  color: #212121;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_access #visibleByAccessWrap .visibility-toggler .s3-cb .ico {
  margin-right: 5px;
  margin-top: -1px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_access #visibleByAccessWrap .s3-ico {
  margin-right: 10px;
  float: left;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_info {
  padding-left: 20px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_info .page-date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #212121;
  font-weight: 400;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_info .page-date + .page-date {
  padding-top: 5px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_info .page-date .title {
  font-weight: 700;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_info .page-date .value {
  padding-left: 10px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_info .page-history-link {
  padding-top: 15px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col #page_info .page-history-link .s3-btn-link {
  font-weight: 700;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  width: 100%;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col table td {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  vertical-align: top;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-url-control {
  background-color: #ebebeb;
  padding: 4px 5px 4px 13px;
  border-radius: 6px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-url-control.url-link {
  padding: 4px 5px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-url-control.url-link .s3-input-text {
  width: 560px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-url-control table td.title {
  width: 1%;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-url-control table td.title .domain-name {
  font-size: 13px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  white-space: nowrap;
  padding-right: 4px;
  padding-top: 7px;
  display: inline-block;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .page-url-control .s3-input-text[name="seo_url"] {
  width: 100%;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .url-hidden-wrap {
  float: right;
  padding-top: 10px;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .url-hidden-wrap > label:first-child {
  color: #212121;
  font-size: 13px;
  font-weight: 700;
}
.s3-page-edit-wrapper .settings-list .settings-list-table .item-row .item-col .url-link-note {
  padding-top: 10px;
  float: left;
}
