.filesimagecontainer {
    width: 490px;
    padding: 5px;
    border: solid 1px #fff;
    display:block;
    position: relative;
}

.itemimagecontainer {
    position: relative;
    float: left;
    width: 150px;
    height: 150px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    margin: 5px;
}

.itemimageheader {
    position: relative ;
    top: 0;
    left: 136px;
    font-size: 0;
    height: 0;
    width: 150px;
    text-align: right;
    z-index: 10000;
}

.itemimageheader a.progressCancel {
    float: none;
    position:relative;
}

.itemimagewrapper {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 116px;
    width: 150px;
}

.itemimagepercents {
    display: inline-block;
    vertical-align: middle;
    width: 130px;
    position: relative;
    font-size: 2.2em;
    margin: 0;
    color: #fff;
    text-shadow: 1px 1px #333;
    text-align: center;
    font-family: arial;
    z-index: 10000;
    cursor: alias;
}

.itemimagefooter {
    display:block;
    text-align: center;
    width: 150px;
    height: 18px;
    margin: 0;

}

.itemimagefooter input {
    position: relative;
    width: 140px;
    border: 1px solid #333;
    z-index: 10000;
}

.itemimageshadow {
    height: 100%;
    position: relative;
    top: -144px;
    background: #000;
    opacity: 0.2;
    float: right;
}

.itemimageshadowred {
    background: red;
}

.itemprogressbarwrapper, .progressbarwrapperall  {
    vertical-align: middle;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #fff;
    height: 10px;
    padding: 1px;
    width: 100px;
}

.itemprogressbar, .progressbarall {
    vertical-align: middle;
    background-color: #555;
    display: inline-block;
    float: left;
    height: 100%;

}

.progressbarwrapperall {
    height: 12px;
    width: 100%;
    overflow: hidden;
}

.progressbarall {
    vertical-align: middle;
    background-color: #555;
    display: inline-block;
    float: left;
    height: 100%;
    max-width: 100%;
}

