.s3-files .module-title {
	padding: 0 15px 0 0;
	color: #333;
	font-family: "Open Sans";
	font-size: 22px;
	letter-spacing: -0.5px;
}
.s3-files .s3-content-grid > tbody > tr > td.tree-wrapper {
	padding-top: 11px;
}
.s3-files div.s3-actions-panel-wrap {
	/*border-radius: 4px 4px 0 0;*/
	/*margin: 0 0 1px;*/
}
.s3-files div[class^=file-wrapper] {
	/*background: #FFF;*/
	padding: 0;
	position: relative;
	min-height: 340px;
}
.s3-files .s3-cb {
	padding-top: 4px;
}
.s3-files .file-pagination-wrap {
	clear: both;
	float: none;
	text-align: left;
	/*padding: 27px 0 0 0;*/
	align-items: center;
	min-height: 20px;
}
.s3-files .file-pagination-wrap .s3-selector {
	float: left;
	padding: 0;
    display: flex;
}
.s3-files .file-pagination-wrap > div > div {
	padding: 0 15px 0 0;
	margin: 0;
	white-space: nowrap;
	box-sizing: border-box;
	vertical-align: top;
}
.s3-files .file-pagination-wrap > div.selectors {
	float: left;
}

.s3-files .file-wrapper .file-wrapper-table {
    background: #FFFFFF;
    border-radius: 6px;
    margin-top: 16px;
    padding: 32px 24px 24px 24px;
}

.s3-files .file-wrapper .file-wrapper-table ul {
    display: flex;
    flex-direction: column;
}

.s3-files .file-wrapper .file-wrapper-table ul li {
    order: 1;
}

.s3-files .file-wrapper .file-wrapper-table .file-wrap-table-titles {
    padding: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.4px;
    color: #838383;
    margin-bottom: 12px;
    order: 0;
}


.s3-files .file-wrap-table-titles {
	padding: 26px 0 5px;
	clear: both;
}
.s3-files .file-wrap-table-titles:after {
	display: block;
	content: '';
	height: 0;
	font-size: 0;
	line-height: 0;
	clear: both;
}
.s3-files .file-wrap-table-titles .file-right-side {
	float: right;
    margin: 0 0 0 0px;
    width: 540px;
	font-size: 12px;
    color: #838383;
}
.s3-files .file-wrap-table-titles div.fileSize {
	width: 80px;
    color: #838383;
	font-size: 12px;
    margin-right: 35px;
}
.s3-files .file-wrap-table-titles div.fileCreated, .s3-files .file-wrap-table-titles div.fileModified {
	width: 115px;
    color: #838383;
	font-size: 12px;
}
.s3-files .file-wrap-table-titles div.fileActions {
    width: 90px;
    padding-left: 0px;
}
.s3-files .file-wrap-table-titles div.fileName {
    color: #838383;
	font-size: 12px;
	padding-left: 34px;
}
.s3-files .file-pagination-wrap div.s3-sort {
	box-sizing: border-box;
	float: right;
	padding-right: 15px;
	padding-top: 0;
}
.s3-files .file-pagination-wrap::after {
	clear: both;
	content: ".";
	display: block;
	line-height: 0;
	visibility: hidden;
}
.s3-files .group-operation-wrapper {
	display: none;
	float: left;
	font-size: 0;
	height: 27px;
	line-height: 0;
	margin: 0 0 0 12px;
	position: relative;
	text-align: left;
	vertical-align: top;
}
.s3-files .group-operation-wrapper.show {
	display: inline-block;
}

.s3-files .group-operation-wrapper .s3-select.white + .chzn-container a.chzn-single {
	border-radius: 4px !important;
	height: 29px !important;
	line-height: 27px !important;
	box-shadow: none !important;
	border-color: #b8bec1 !important;
	background: transparent !important;
}
.s3-files .group-operation-wrapper > span.action {
	border-radius: 0 4px 4px 0;
	display: inline-block;
	height: 29px;
	padding: 0 9px 0 7px;
	margin: 0 0 0 -3px;
	display: none;
	box-shadow: none;
	border: 1px solid transparent;
	background: #29bc50;
}
.s3-files .group-operation-wrapper > span.action:hover {
	background-color: #36c55c;
	border-color: #27ab4a;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
}
.s3-files .group-operation-wrapper > span.action:active {
	background-color: #27ab4a;
	box-shadow: none;
	border: 1px solid transparent;
}
.s3-files .group-operation-wrapper > span.action.visible {
	display: inline-block;
}
.s3-files ul.boxes li:nth-child(2n-1) {
	background-color: #FCFCFC;
}

body > li.box::marker {
    display: none;
    opacity: 0;
}

body > li.box,
.s3-files ul.boxes li, li.box_draggable {
	padding: 10px 0;
	font-size: 12px;
	color: #777;
	border: none;
	border-top: 1px solid #E9E9E9;
	background: #fff;
	margin: 0;
	position: relative;
    list-style-type: none;
}
.s3-files ul.boxes li.dynamic-selected-file {
	background: rgba(23, 176, 63, .3);
}
.s3-files ul.boxes li.dynamic-selected-file:after {
	content:"\f058";
	position: absolute;
	left: 20px;
	top: 50%;
	color:#fff;
	transform:translateY(-50%) translateX(-50%);
	font: 24px 'FontAwesome', sans-serif;
}
li.box_draggable {
	border: 1px solid #dedede;
	background: #fafafa;
	padding: 7px 0;
}
li.box_draggable[item="file"] {
	min-width: 680px;
}
.s3-files ul.boxes li.active {
	background-color: #e2fcda !important;
	border-color: #c0e2bb !important;
}
.s3-files ul.boxes li.box_draggable {
	/*margin: 0 0 5px;*/
	/*border: 1px solid #dedede;*/
	/*background: #fafafa;*/
}
.s3-files ul.boxes li.active + li {
	border-color: #b5e0ad !important;
}

body > li > div,
.s3-files ul.boxes li > div, li.box_draggable > div {
	padding: 0;
	white-space: nowrap;
	box-sizing: border-box;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.4px;
    color: #838383;
}
.s3-files ul.boxes li div.objectname, li.box_draggable div.objectname {
	color: #212121;
	font-size: 13px;
	font-weight: 700;
	padding-left: 15px;
	text-decoration: none !important;
	min-width: 100%;
	width: 0;
}
.s3-files ul.boxes li div.objectname span.wrap-name {
	display: block;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	padding-left: 18px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: #1155CC;
}
.s3-files ul.boxes li span.checkbox {
	position: absolute;
	left: 0;
	top: 0;
	box-sizing: border-box;
}
.s3-files ul.boxes li span.checkbox label.s3-cb {
	padding: 13px 0 0 0px;
	box-sizing: border-box;
}
.s3-files ul.boxes li span.checkbox.full-size {
	right: 130px;
	bottom: 0;
}
.s3-files ul.boxes li span.checkbox.full-size label {
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
}
.s3-files ul.boxes li div.objectname span.name {
	text-decoration: none;
	cursor: pointer;
}
.s3-files ul.boxes li div.objectname span.locked {
    color: #333;
    cursor: not-allowed;
}
/*гулшим onclick для окна выбора файлов в динамике*/
.s3-files.file-wrapper-for-dynamic ul.boxes li div.objectname span.name {
	pointer-events: none;
}
.s3-files.file-wrapper-for-dynamic ul.boxes li div.objectname span.name span {
    pointer-events: auto;
}
.s3-files ul.boxes li div.objectname span.name:hover {
	color: #15c;
}
.s3-files ul.boxes li div.objectname span.name span.s3-ico {
	margin-right: 7px;
}
.s3-files ul.boxes li div.objectname span.name:hover {
	text-decoration: none;
}

body > li.box div.fileSize,
.s3-files ul.boxes li div.fileSize, li.box_draggable div.fileSize {
	width: 80px;
    color: #838383;
    margin-left: 32px;
}
.s3-files ul.boxes li .fileCreated, .s3-files ul.boxes li .fileModified, li.box_draggable .fileCreated, li.box_draggable .fileModified {
	width: 82px;
	/*word-spacing: 7px;*/
    margin-left: 32px;
}

body > li.box div.remove-and-download,
.s3-files ul.boxes li div.remove-and-download, li.box_draggable div.remove-and-download {
	font-size: 12px;
	width: 120px;
	padding-left: 32px;
}
.s3-files ul.boxes li div.remove-and-download a {
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.4px;
    color: #1155CC;
    display: inline-block;
}
.s3-files ul.boxes li div.remove-and-download a:hover {
	text-decoration: underline;
}

body > li.box div.remove-and-download .i-download-svg,
.s3-files ul.boxes li div.remove-and-download .i-download-svg {
	margin-right: 5px;
    background-image: url("/my/s3/images/svg_icons/oah-download-new.svg");
    width: 24px;
    height: 24px;
    background-size: auto;
}

body > li.box div.remove-and-download .objectRemove,
.s3-files ul.boxes li div.remove-and-download .objectRemove {
	margin-left: 14px;
    display: inline-block;
    margin: -2px 0 0 24px;
}

body > li.box div.remove-and-download .objectRemove .i-delete-svg,
.s3-files ul.boxes li div.remove-and-download .objectRemove .i-delete-svg {
    background-image: url("/my/s3/images/svg_icons/oah-trash-new.svg") !important;
    width: 24px;
    height: 24px;
    background-size: auto;
}

.file-form .upload-title {
	color: #5681cb;
	font-size: 14px;
	font-weight: 400;
	position: relative;
	margin-bottom: 15px;
}
.file-form .upload-title::after {
	background: #ebebeb none repeat scroll 0 0;
	content: "";
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	right: 0;
	top: 50%;
}
.file-form .upload-title span {
	background: #fff none repeat scroll 0 0;
	display: inline-block;
	padding-right: 12px;
	position: relative;
	z-index: 1;
}

#saveFileOrder {
	padding: 0 0 0 12px;
	float: left;
	vertical-align: top;
	font-size: 0;
	line-height: 0;
}
#saveFileOrder .s3-btn.green-flat {
	height: 29px;
}
#saveFileOrder .s3-btn-link {
	background-color: transparent;
	line-height: 15px;
	border-color: #b8bec1;
	padding: 5px;
	box-sizing: border-box;
	height: 29px;
	margin-left: 5px;
}
#saveFileOrder .s3-btn-link:hover {
	background-color: #f5fbfd;
	border-color: #bfc6c9;
}
.s3-files ul.boxes li.box_draggable {
	position: relative;
	background: #fafafa;
	border-bottom: 1px solid #e6e6e6;
	margin: 3px 0;
	cursor: auto;
	box-sizing: border-box;
	width: 100%;
}
.s3-files ul.boxes li.box_draggable:after {
	background: url("/my/s3/images/svg_icons/ic_draggable.svg") no-repeat scroll 50% 50%;
	cursor: move;
	display: block;
	height: 100%;
	vertical-align: middle;
	width: 22px;
	position: absolute;
	top: 0;
	left: -22px;
	content: '';
}
.s3-files ul.boxes li.box_draggable[style^='background'] {
	padding: 3px 0;
}
.s3-files ul.boxes li.box_draggable:after:hover {
	background-color: #dae7fc;
	background-image: url("/my/s3/images/svg_icons/ic_draggable-hover.svg");
}
.s3-files ul.boxes li.box_draggable[style^='background']:after {
	display: none;
}
.s3-files #file-wrapper {
	clear: both;
	overflow: hidden;
	padding: 0;
}
.s3-files #file-wrapper .image-drag-and-drop-message-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	text-align: center;
	vertical-align: middle;
	display: none;
}
.s3-files #file-wrapper .image-drag-and-drop-message-wrapper:after {
	display: inline-block;
	line-height: 0;
	height: 100%;
	content: '';
	vertical-align: middle;
	font-size: 0;
}
.s3-files #file-wrapper .image-drag-and-drop-message-block {
	background: #fff;
	display: inline-block;
	padding: 20px;
	border-radius: 4px;
	width: 400px;
}
.s3-files #file-wrapper .image-drag-and-drop-message  {
	padding: 25px 0 0;
    border: 1px dashed #29BC50;
	border-radius: 11px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
    background: #F2FFEE;
	text-align: center;
	display: none;
	/*position: absolute;*/
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	box-sizing: border-box;
	z-index: 100;
    border-radius: 8px;
}
.s3-files #file-wrapper .image-drag-and-drop-message {
	/*margin: 15px;*/
	box-sizing: border-box;
	width: auto;
	right: 0;
	bottom: 0;
	height: auto;
	padding: 0;
	vertical-align: middle;
}
.s3-files #file-wrapper .image-drag-and-drop-message.dragging {
	display: block;
}
.s3-files .s3-pagelist-wrapper {
	text-align: center;
	margin: 25px 0 0;

}

.s3-content-grid {
	margin: 0px 0 0;
	position: relative;
}

body > li.box .file-right-side,
.s3-files .file-right-side, li.box_draggable .file-right-side {
	float: right;
	width: 569px;
	margin: -1px 0 0 15px;
	padding: 0;
}
.file-right-side > div, li.box .file-right-side > div {
	display: inline-block;
}
li.box_draggable div.remove-and-download a {
	text-decoration: none;
}
li.box_draggable div.remove-and-download a:hover {
	text-decoration: underline;
}
li.box_draggable div.remove-and-download .i-download-svg {
	margin-right: 6px;
}
li.box_draggable div.remove-and-download .objectRemove {
	margin-left: 14px;
}
li.box_draggable div.objectname span.wrap-name {
	display: block;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	padding-left: 0;
}
li.box_draggable .file-right-side {
	padding-top: 2px;
}
/***** files list in selector *****/
.s3-files.selector {
	min-width: 700px;
}
.s3-files.selector ul.boxes li div.objectname span.wrap-name {
	padding-left: 0;
}
.s3-files.selector .file-wrap-table-titles div.fileName {
	padding-left: 15px;
}
.s3-files.selector .file-wrap-table-titles div.fileSize:first-child {
	width: 60px;
}
.s3-files.selector .file-wrap-table-titles div.fileActions {
	width: 120px;
}
.s3-files.selector ul.boxes li span.checkbox {
	display: none;
}

.s3-files.selector .file-wrap-table-titles div.fileSize:first-child {
    margin-right: 0;
}

.objectname-form {
	cursor: pointer;
}
