.s3-forum-wrapper .forum-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  /*overflow: hidden;*/
  margin: 20px 0;
  background: #ffffff;
}
.s3-forum-wrapper .forum-list table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.s3-forum-wrapper .forum-list table td {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
.s3-forum-wrapper .forum-list table thead tr {
  background: #f4f4f4;
  border-top: 1px solid #fcfcfc;
}
.s3-forum-wrapper .forum-list table thead tr th {
  padding: 10px 20px 8px 20px;
  text-align: left;
  color: #666666;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px 5px 0 0;
}
.s3-forum-wrapper .forum-list table tbody tr {
  border-top: 1px solid #cccccc;
}
.s3-forum-wrapper .forum-list table tbody tr:first-child {
  border: none;
}
.s3-forum-wrapper .forum-list table tbody tr td {
  padding: 13px 20px 13px 20px;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-desc .forum-wrap {
  position: relative;
  padding: 0 0 0 15px;
  background: #fff;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-desc .forum-wrap .forum-handle {
  position: absolute;
  left: -5px;
  top: 0;
  bottom: 0;
  width: 15px;
  background: url("/my/s3/images/redesign/s3-cm-grid.png") repeat scroll left top rgba(0, 0, 0, 0);
  cursor: move;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-desc .forum-wrap > .title {
  font-size: 18px;
  padding: 0 370px 3px 0;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-desc .forum-wrap > .title span {
  color: #0088cc;
  text-decoration: none;
  cursor: pointer;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-desc .forum-wrap > .title span:hover {
  text-decoration: underline;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-desc .forum-wrap > .description {
  font: normal 12px Verdana, Helvetica, sans-serif;
  color: #888888;
  padding: 0 0 10px;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-desc .forum-wrap .dashed-panel {
  padding: 0;
  height: 10px;
  margin: 0;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-desc .forum-wrap .subforum {
  color: #888888;
  background: #fff;
  position: relative;
  padding: 5px 260px 5px 20px;
  border-top: 1px solid #ccc;
  margin: 0 0 5px 0;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-desc .forum-wrap .subforum .subforum-handle {
  position: absolute;
  left: 5px;
  top: 3px;
  bottom: 0;
  width: 10px;
  background: url("/my/s3/images/redesign/s3-cm-grid.png") repeat scroll left top rgba(0, 0, 0, 0);
  cursor: move;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-desc .forum-wrap .subforum div.subforum-title span.title {
  color: #0088cc;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-desc .forum-wrap .subforum div.subforum-title span.title:hover {
  text-decoration: none;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-desc .forum-wrap .subforum div.subforum-title span.description {
  font: normal 11px Verdana, Helvetica, sans-serif;
  color: #888888;
  display: block;
  padding: 0;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-desc .forum-wrap .subforum div.subforum-info {
  position: absolute;
  right: 50px;
  top: 10px;
  width: 180px;
  font-size: 12px;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-desc .forum-wrap .subforum div.subforum-info span.param-thread {
  display: inline-block;
  width: 80px;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-desc .forum-wrap .subforum div.subforum-info span.param-post {
  display: inline-block;
  width: 100px;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-desc .forum-wrap .subforum div.subforum-controls {
  position: absolute;
  right: 0;
  top: 5px;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-desc .forum-wrap .subforum div.subforum-controls .s3-ico {
  cursor: pointer;
}
.s3-forum-wrapper .forum-list table tbody tr td div.forum-info {
  width: 300px;
  position: absolute;
  top: 5px;
  right: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.s3-forum-wrapper .forum-list table tbody tr td div.forum-info ul {
  margin: 0;
  padding: 3px 0 3px 0;
  list-style: none;
  line-height: 0;
  font-size: 0;
}
.s3-forum-wrapper .forum-list table tbody tr td div.forum-info ul li {
  white-space: nowrap;
  color: #888888;
  display: inline-block;
  line-height: normal;
  font-size: 12px;
}
.s3-forum-wrapper .forum-list table tbody tr td div.forum-info ul li.subforums {
  width: 110px;
}
.s3-forum-wrapper .forum-list table tbody tr td div.forum-info ul li.threads {
  width: 80px;
}
.s3-forum-wrapper .forum-list table tbody tr td div.forum-info ul li.posts {
  width: 100px;
}
.s3-forum-wrapper .forum-list table tbody tr td div.forum-info ul li .param {
  color: #666666;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
}
.s3-forum-wrapper .forum-list table tbody tr td .forum-controls {
  position: absolute;
  right: 0;
  top: 5px;
}
.s3-forum-wrapper .forum-list table tbody tr td .forum-controls .s3-ico {
  cursor: pointer;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-update {
  width: 310px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-update .last-post .theme {
  color: #888888;
  padding: 0 0 4px;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-update .last-post .theme .theme-name {
  text-decoration: underline;
  color: #0088cc;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-update .last-post .theme .theme-name:hover {
  text-decoration: none;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-update .last-post .post-info {
  padding: 0 0 10px;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-update .last-post .post-info .date {
  color: #888888;
  font-size: 10px;
  margin: 0 3px 0 0;
}
.s3-forum-wrapper .forum-list table tbody tr td.forum-update .last-post .post-info .user {
  color: #888888;
  font-size: 11px;
}
.forum-edit-wrap {
  min-width: 400px;
}
.forum-edit-wrap .w100p {
  width: 100%;
}