.s3-image-popup {
  min-width: 1140px;
}
/*.s3-image .image-settings {*/
/*  float: right;*/
/*}*/
.s3-image .image-settings:hover {
  text-decoration: none;
}
.s3-image .image-settings .s3-ico {
  margin-right: 5px !important;
  margin-top: -2px;
}
.s3-image .group-operation-wrapper {
  position: relative;
  vertical-align: top;
  margin: 0 0 0 12px;
  display: none;
  float: left;
  text-align: left;
  font-size: 0;
  line-height: 0;
  height: 27px;
}

.s3-image-popup-content.s3-content {
    background: none;
}

.s3-content-grid>tbody>tr>td.content-wrapper.depositphotos-wrapper {
    padding: 0;
}

.s3-image .group-operation-wrapper .s3-select.white + .chzn-container a.chzn-single {
  border-radius: 4px !important;
  height: 29px !important;
  line-height: 27px !important;
  box-shadow: none !important;
  border-color: #b8bec1 !important;
  background: transparent !important;
}
.s3-image .group-operation-wrapper > span.action {
  border-radius: 0 4px 4px 0;
  display: inline-block;
  height: 29px;
  padding: 0 9px 0 7px;
  margin: 0 0 0 -3px;
  display: none;
  box-shadow: none;
  border: 1px solid transparent;
  background: #29bc50;
}
.s3-image .group-operation-wrapper > span.action:hover {
  background-color: #36c55c;
  border-color: #27ab4a;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
}
.s3-image .group-operation-wrapper > span.action:active {
  background-color: #27ab4a;
  box-shadow: none;
  border: 1px solid transparent;
}
.s3-image .group-operation-wrapper > span.action.visible {
  display: inline-block;
}
.s3-image .group-operation-wrapper.show {
  display: inline-block;
}
/*.s3-image .group-operation-wrapper .s3-btn {
  margin: 0;
}*/
.s3-image .image-wrapper {
	clear: both;
	overflow: hidden;
	position: relative;
}
.bluepopup-table-expdanded .s3-image .image-wrapper > ul {
  width: auto !important;
}
.s3-image .image-wrapper > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 0;
  font-size: 0;
  text-align: left;
}
#selected_container > li.image,
.s3-image .image-wrapper > ul li {
  display: inline-block;
  vertical-align: top;
  width: 168px;
  height: 174px;
  margin: 0 30px 30px 0;
  position: relative;
  float: none;
}
.s3-image .image-wrapper > ul li td.draggable {
  padding: 15px 0 0 0;
  background: url(/my/s3/images/redesign/s3-cm-grid.png) left top repeat;
}
.s3-image .image-pagination-wrap {
  text-align: left;
  clear: both;
  float: none;
  margin: 0 0 16px 0;
}
.s3-image .image-pagination-wrap:after {
  display:block; clear:both; content:"."; visibility:hidden; line-height:0;
}
.s3-image .image-pagination-wrap .s3-sort {
  padding: 0;
  float: right;
}
.s3-image .image-pagination-wrap .s3-selector {
  padding: 0;
  float: left;
    display: flex;
}
.s3-image.s3-image-content {
  padding: 5px 0 0 0;
}
.s3-image .module-title {
  padding: 0 15px 20px 0;
  color: #333;
  font-family: "Open Sans";
  font-size: 22px;
  letter-spacing: -0.5px;
}

.s3-image .s3-actions-panel-wrap {
  margin: 0 0 16px 0 !important;
}

.s3-image .image-type-tabs ul.image-type-tabs-header {
  padding: 0 15px 0 8px;
  box-sizing: border-box;
  list-style: outside none none;
  margin: 0;
  width: 100%;
  font-size: 0;
  line-height: 0;
}
.s3-image .image-type-tabs ul.image-type-tabs-header:after {
  display:block; clear:both; content:"."; visibility:hidden; line-height:0;
}
.tabs ul li.title a{
  border-bottom: 2px solid #fff;
}

.tabs .tabs-container {
  position: relative;
  clear: left;
  padding: 40px 0 0;
}
.tabs .hide {
  display: none;
}
.tabs ul li img {
  border: none;
}

.s3-image .image-type-tabs .image-type-tabs-header li > span.tab-handle {
  display: block;
  color: #212121;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  display: block;
  font: 13px/34px Arial,Helvetica,sans-serif;
  margin-right: 4px;
  padding: 0 15px;
  position: relative;
}
.s3-image .image-type-tabs .image-type-tabs-header li > span.tab-handle:hover {
  border-color: #bfc6c9;
  background-color: #f5fbfd;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  -ms-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}
.s3-image .image-type-tabs .image-type-tabs-header li > span.tab-handle.active {
  border-color: #bfc6c9;
  color: #484848;
  background: #d1d7da;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  -ms-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.s3-image .image-type-tabs .image-type-tabs-header li > span.tab-handle.active:hover {
  background-color: #bfc6c9;
  border-color: #bfc6c9;
}

.s3-image .image-type-tabs .image-type-tabs-header li > span.tab-handle .tab-label {
  font: normal 11px Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #ffffff;
  position: absolute;
  right: 0;
  bottom: 100%;
  padding: 3px 8px;
  border-radius: 9px;
  margin-bottom: -9px;
  margin-right: -10px;
  white-space: nowrap;
}
.s3-image .image-type-tabs .image-type-tabs-header li > span.tab-handle .tab-label__red {
  background: #F5574E;
  color: #ffffff;
}

.s3-image .image-type-tabs .image-type-tabs-header li > span.tab-handle.active img {
  background:url('../images/help_icon_white.png') no-repeat;
  display: inline-block;
  width: 14px;
  height: 14px;
}

.s3-image .image-type-tabs {
  margin: 0 0 0 3px;
  padding: 0;
  list-style: none;
}
.s3-image .image-type-tabs.no-margin {
  margin: 0;
}
.s3-image .image-type-tabs:after {
  content: ".";
  color: transparent;
  clear: both;
  display: block;
  font-size: 0;
  line-height: 0;
}
.s3-image .image-type-tabs .image-type-tabs-header li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

.s3-badge-inside-tabs {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #D0CECE;
  border-radius: 8px 8px 8px 8px;
  color: #838383;
  display: inline-block;
  font-size: 11px;
  height: 14px;
  line-height: 12px;
  min-width: 16px;
  padding: 0 4px;
  text-align: center;
  vertical-align: middle;
}

.s3-image .image-type-tabs .image-type-tabs-header li > span.tab-handle.active .s3-badge-inside-tabs {
  border-color: transparent;
}

span.image-element {
  display: inline-block;
  cursor: auto;
}
span.image-element span.image-wrapper {
  width: 170px;
  height: 174px;
  border: 1px solid #e8e8e8;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1px;
  background: #ffffff;
}

span.image-element span.image-wrapper .checkbox .image-label.full-size {
  width: 100%;
  height: 100%;
}

span.image-element.bad {
  opacity: 0.2;
}
.s3-image .image-wrapper > ul li.active span.image-element span.image-wrapper {
  border-color: #64BD7B;
  box-shadow: 0 1px 5px 0 rgba(59, 159, 85, 0.7);
}
span.image-element span.image-wrapper span.image-info {
  display: block;
  background: #ffffff;
  padding: 12px 8px 0;
  height: 62px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
}
span.image-element.selected span.image-wrapper:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 48px;
  right: 0;
  height: 30px;
  background: url("/my/s3/images/svg_icons/ic_save-green.svg") center center no-repeat rgba(255, 255, 255, 0.7);
}
span.image-element span.image-wrapper span.image-thumb {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 112px;
  line-height: 112px;
  width: 100%;
  display: block;
  cursor: pointer;
  background-color: #fff;
  font-size: 0;
}
span.image-element span.image-wrapper span.image.dynamic-selected-image {
  position: relative;
}
span.image-element span.image-wrapper span.image.dynamic-selected-image:after {
  content:"\f058";
  position: absolute;
  left: 50%;
  top: 50%;
  color:#fff;
  transform:translateY(-50%) translateX(-50%);
  font: 24px 'FontAwesome', sans-serif;
}
span.image-element span.image-wrapper span.image.dynamic-selected-image:before {
  content:'';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(23, 176, 63, .3);
}
span.image-element span.image-wrapper span.image-thumb.svg,
span.image-element span.image-wrapper span.image-thumb.gif,
span.image-element span.image-wrapper span.image-thumb.png {
  background-color: #EEEEEE;
}
span.image-element span.image-wrapper span.image-thumb__small {
  background-position: center center;
  background-size: auto;
}
span.image-element span.image-wrapper span.image-thumb img {
  width: 96px;
  height: 96px;
  vertical-align: middle;
  max-width: 166px;
  max-height: 96px;
}

.s3-image-popup span.image-element span.image-wrapper span.image-zoom {
  display: none;
}

span.image-element span.image-wrapper span.image-zoom {
  position: absolute;
  left: 0;
  top: 0;
  width: 168px;
  height: 112px;
  cursor: pointer;
}

span.image-element span.image-wrapper span.checkbox {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
span.image-element:hover span.image-wrapper span.checkbox,
.s3-image .image-wrapper > ul li.active span.image-element span.image-wrapper span.checkbox {
  display: block;
}
span.image-element span.image-wrapper span.checkbox.full-size label.s3-cb {
  width: 166px;
  height: 112px;
  text-align: left;
  display: block;
}
span.image-element span.image-wrapper span.zoom {
  position: absolute;
  right: 3px;
  top: 0px;
  cursor: pointer;
}
span.image-element span.image-wrapper span.size,
span.image-element span.image-wrapper span.name {
  display: block;
}

span.image-element span.image-wrapper span.name .s3-ico.i-animated-preloader {
  margin-left: 5px;
}

span.image-element span.image-wrapper span.size {
  font-size: 10px;
  line-height: normal;
  color: #929292;
  padding: 5px 0 0;
}
span.image-element span.image-wrapper span.size > span {
  padding-left: 10px;
}
span.image-element span.image-wrapper span.name {
  color: #333333;
  font-size: 13px;
  line-height: normal;
  overflow: hidden;
  white-space: nowrap;
  max-width: 125px;
}
.s3-image .image-wrapper > ul li.active span.image-wrapper span.name {
  color: #1AA63E;
}
.s3-image .image-wrapper > ul li span.image-wrapper.image-wrapper__in-progress {
  background-color: #f0f0f0;
}
.s3-image .image-wrapper > ul li span.image-wrapper.image-wrapper__in-progress span.image-info {
  background-color: #f8f8f8;
}
.s3-image .image-wrapper > ul li span.image-wrapper.image-wrapper__in-progress span.name {
  color: #df8105;
  text-align: center;
}
/*.s3-image .image-wrapper > ul li span.image-wrapper.image-wrapper__in-progress span.image-thumb,
.s3-image .image-wrapper > ul li span.image-wrapper.image-wrapper__bought span.image-thumb {
  opacity: 0.3;
}*/
.s3-image .image-wrapper > ul li span.image-wrapper.image-wrapper__bought span.name {
  color: #1AA63E;
}
.s3-image .image-wrapper > ul li.active span.image-wrapper span.size {
  color: #5E9F64;
}
.s3-image .image-wrapper > ul li.active span.controls > span {
  background: rgba(255, 255, 255, 0.5);
}
span.image-element .hidden {
  position: absolute;
  bottom: 2px;
  left: 8px;
  display: block;
}
span.image-element .controls {
  overflow: hidden;
  text-align: center;
  font-size: 0;
  line-height: 0;
  position: absolute;
  bottom: 1px;
  right: -1px;
  width: 33px;
}
span.image-element .controls > span {
  display: block;
  width: 33px;
  height: 31px;
  line-height: 31px;
  cursor: pointer;
  background: rgba(246,246,246, 0.9);
}
span.image-element .controls > span.zoom {
  background: rgba(246,246,246, 0.9);
}
span.image-element .controls > span.favorite:hover,
span.image-element .controls > span.favorite.active {
  background: rgba(255,199,84, 0.2);
}
span.image-element .controls > span.favorite:hover .s3-ico.i-ol-favorite,
span.image-element .controls > span.favorite.active .s3-ico.i-ol-favorite {
  background-image: url("/my/s3/images/svg_icons/ic_favorite.svg");
}
span.image-element .controls > span:hover {
  background-color: #DAE7FC;
}
span.image-element .controls > span.delete:hover {
  background-color: #ffe2dd;
}
span.image-element .controls > span .s3-ico {
  vertical-align: middle;
  width: 33px;
  height: 31px;
  max-width: 33px;
  background-position: 50% 50%;
}
span.image-element .controls .objectEdit {

}
span.image-element .controls .objectEdit:hover {
  text-decoration: underline;
  color: #1155cc;
}
span.image-element .controls .delete {

}
span.image-element span.image-wrapper:hover {
  border-color: #8fc592;
}

span.image-element.selected span.image-wrapper,
span.image-element.active span.image-wrapper {
  border-color: #75c279;
}
span.image-element.active span.image-wrapper {
  border-color: #75c279;
}
span.image-element.active span.image-wrapper span.image-thumb {
  border-color: #75c279;
}
span.image-element.active span.image-wrapper span.name {
  color: #0c952f;
}
.image-upload {
  min-width: 500px;
}
.image-upload .watermark-ignore {
  color: #484848;
  font-size: 13px;
  line-height: 29px;
  padding-bottom: 10px;
}
.image-upload .watermark-ignore .watermark-icon {
  display: inline-block;
  line-height: 29px;
  padding: 0 8px;
  background: #f1f1f1;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-right: 7px;
}
.file-upload-inner {
  padding: 0;
}
.file-upload-inner tr td {
  vertical-align: top;
}
.file-upload-inner tr td + td {
  white-space: nowrap;
  line-height: 0;
  font-size: 0;
}
.file-upload-inner tr td + td .upload-file-name {
  margin-right: 5px;
}
.file-upload-note {
	color: #a7a7a7;
	font-size: 12px;
	padding: 0 5px 28px 2px;
	line-height: 15px;
}
.file-upload-note:after {
	display: block;
	height: 0;
	line-height: 0;
	content: '';
	clear: both;
}
.file-upload-note span.i-info-solid {
	float: left;
	margin: 3px 9px 0 0;
}
#uploaderStatusBar {
  height: 12px;
  line-height: 0;
  font-size: 0;
  background: #ebebeb;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: none;
}
#uploaderStatusBar .progressbarall {
  background: #3eb437;
  border-radius: 6px;
}
#fsUploadErrors {
  padding: 0 0 0 10px;
}
#fsUploadErrors p {
  color: #e64361;
  padding: 3px 0;
}
#uploadContainerFS {
  position: relative;
}
#uploadContainerFS .file-button {
  position: absolute;
  left: 0;
  top: 0;
}
#uploaderStatusSize {
	text-align: center;
	color: #727272;
	font-size: 12px;
	padding-top: 8px;
}
#uploaderStatus {
	text-align: center;
	color: #333;
	font-size: 13px;
	padding-bottom: 3px;
	padding-top: 10px;
}
#fsUploadCountFiles {
  padding: 0 0 28px;
  text-align: center;
  display: none;
}
#fsUploadCountFiles > div {
  background-color: white;
  border: 2px solid #efefef;
  border-radius: 6px;
  margin: 0 auto;
  box-sizing: border-box;
  display: inline-block;
  padding: 11px 17px;
  font: normal 12px Arial;
  color: #212121;
  vertical-align: middle;
}
#fsUploadCountFiles > div .s3-ico.i-save-grey {
  margin-right: 11px;
}
#fsUploadCountFiles > div .s3-ico.i-help-svg {
  margin: -2px 0 0 11px;
}


.image-edit-wrap .image-info {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
}
.image-edit-wrap .image-info td {
  border: none;
  padding: 0;
  margin: 0;
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0;
}
.image-edit-wrap .image-info td.image-preview-td {
  text-align: center;
  width: 1px;
  background: #ebebeb;
  padding: 0 0 6px;
}
.image-edit-wrap .image-info td.image-preview-td .s3-edit-image {
  line-height: 26px;
}
.image-edit-wrap .image-info td.image-preview-td .image-preview {
  display: block;
  width: 150px;
  height: 115px;
  margin-bottom: 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0;
}
.image-edit-wrap .image-info td.image-preview-td .image-preview:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  min-height: inherit;
}
.image-edit-wrap .image-info td.image-preview-td .image-preview img {
  vertical-align: middle;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.image-edit-wrap .image-info td.image-info-td {
  padding: 0 0 0 30px;
}
.image-edit-wrap .image-info td.image-info-td .image-name {
  display: block;
  padding: 0 0 17px 7px;
  vertical-align: top;
}
.image-edit-wrap .image-info td.image-info-td .image-name td {
  padding: 0;
  vertical-align: middle;
}
.image-edit-wrap .image-info td.image-info-td .image-name td span {
  background: #ebebeb;
  display: block;
  padding: 5px;
  border-radius: 4px;
  margin-left: 20px;
}
.image-edit-wrap .image-info td.image-info-td .image-name td span.global {
  background: none;
  border-radius: 0;
}
.image-edit-wrap .image-info td.image-info-td .image-name input {
  width: 100%;
  margin-left: 0;
  display: block;
}
.image-edit-wrap .image-info td.image-info-td .params {
  list-style: none;
  margin: 0;
  padding: 0;
}
.image-edit-wrap .image-info td.image-info-td .params td {
  border-top: 1px solid #d4d4d4;
  padding: 1px 7px;
}
.image-edit-wrap .image-info td.image-info-td .params td:first-child {
  padding-right: 40px;
}
.image-edit-wrap .image-info td.image-info-td .params td span {
  color: #666;
  line-height: 26px;
  font-size: 12px;
}
.image-edit-wrap .image-info td.image-info-td .params td span.param-name {
  display: inline-block;
  vertical-align: top;
}
.image-edit-wrap .image-info td.image-info-td .params td span.param-value {
  display: inline-block;
  vertical-align: top;
  color: #333333;
  margin-left: 9px;
}
.image-edit-wrap .image-info td.image-info-td .params td a {
  color: #1155cc;
  text-decoration: none;
  display: inline-block;
  margin: 0 9px;
}
.image-edit-wrap .image-thumbnails {
  margin: 20px 0 15px 0;
  background: #f1f1f1;
  padding: 33px 15px 10px 15px;
  position: relative;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.image-edit-wrap .image-thumbnails .thumbnails-title {
  position: absolute;
  color: #484848;
  font-size: 13px;
  left: 10px;
  top: 6px;
}
.image-edit-wrap .image-thumbnails a {
  display: inline-block;
  color: #1155cc;
  margin: 0 15px;
}
.image-edit-wrap .upload-title {
	font-size: 16px;
	color: #5681cb;
	font-weight: 400;
	position: relative;
	margin-top: 42px;
}
.image-edit-wrap .upload-title:after {
	display: block;
	content: '';
	height: 1px;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	background: #ebebeb;
}
.image-edit-wrap .upload-title span {
	display: inline-block;
	padding-right: 12px;
	background: #fff;
	position: relative;
	z-index: 1;
}
.image-upload .file-input-wrapper .file-text {
	padding: 0 0 0 10px;
	color: #212121;
}

.image-drag-and-drop-message-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	text-align: center;
	vertical-align: middle;
	display: none;
}
.image-drag-and-drop-message-wrapper:after {
	display: inline-block;
	line-height: 0;
	height: 100%;
	content: '';
	vertical-align: middle;
	font-size: 0;
}
.image-drag-and-drop-message-block {
	background: #fff;
	display: inline-block;
	padding: 20px;
	border-radius: 4px;
	width: 400px;
}
.image-drag-and-drop-message  {
	margin: 0;
	padding: 25px 0 0;
	border: 2px dashed #80c173;
	border-radius: 11px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	background-color: #def5e3;
	text-align: center;
    display: none;
	/*position: absolute;*/
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	z-index: 100;
}
.image-drag-and-drop-message.dragging {
  display: block;
}
.image-drag-and-drop-message:after {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	content: '';
	font-size: 0;
	line-height: 0;
}
.image-drag-and-drop-message > div {
	display: inline-block;
	vertical-align: top;
}
.image-drag-and-drop-message .image-drag-and-drop-icon  {
	display: block;
	vertical-align: middle;
	margin: 30px auto 0;
	background: url("/my/s3/images/svg_icons/drop-file-new.svg") 50% no-repeat;
    width: 243px;
    height: 238px;
    position: relative;
}
.image-drag-and-drop-message .image-drag-and-drop-icon span.drop-file1 {
  display: block;
  width: 66px;
  height: 83px;
  position: absolute;
  transform: rotate(-26deg);
  top: 20px;
  left: 20px;
  background: url("/my/s3/images/svg_icons/drop-file1.svg") 0 0 no-repeat;
  transition: all 0.3s ease-out 0s;
}
.image-drag-and-drop-message .image-drag-and-drop-icon span.drop-file2 {
  display: block;
  width: 57px;
  height: 72px;
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -29px;
  background: url("/my/s3/images/svg_icons/drop-file2.svg") 0 0 no-repeat;
  transition: all 0.3s ease 0s;
}
.image-drag-and-drop-message .image-drag-and-drop-icon span.drop-file3 {
  display: block;
  width: 66px;
  height: 83px;
  position: absolute;
  transform: rotate(26deg);
  top: 20px;
  right: 20px;
  background: url("/my/s3/images/svg_icons/drop-file3.svg") 0 0 no-repeat;
  transition: all 0.3s ease 0s;
}
.image-drag-and-drop-message.animate .image-drag-and-drop-icon span.drop-file1 {
  left: 10px;
  top: 10px;
}
.image-drag-and-drop-message.animate .image-drag-and-drop-icon span.drop-file3 {
  right: 10px;
  top: 10px;
}
.image-drag-and-drop-message.animate .image-drag-and-drop-icon span.drop-file2 {
  top: -15px;
}


.image-drag-and-drop-message .image-drag-and-drop-text {
	display: block;
	vertical-align: middle;
	font-size: 15px;
	color: #5dbb4a;
	font-family: Arial;
	font-weight: 400;
}
.image-drag-and-drop-message .image-drag-and-drop-text .text {
    text-align: center;
    font: normal 12px/15px "Open Sans";
    color: #29BC50;
    margin-top: 7px;
    margin-bottom: 35px;
    letter-spacing: -0.4px;
}

.image-drag-and-drop-message .image-drag-and-drop-text .text label {
    text-decoration: underline;
    cursor: pointer;
}

.image-drag-and-drop-message .image-drag-and-drop-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #838383;
    letter-spacing: -0.2px;
    display: block;
}
.upload-confirm {
	max-width: 470px;
	margin: 0 0 15px;
}
.upload-confirm .images {
	text-align: center;
	margin: 0 0 1em;
}
.upload-confirm .images>div {
	margin: 0 20px;
	display: inline-block;
	vertical-align: middle;
}
.upload-confirm .images img {
	max-width: 180px;
	max-height: 200px;
}
.upload-confirm .confirm-note {
	margin: 1.5em 0;
}
.upload-confirm .confirm-actions {
	margin: 0 0 1em 1em;
}
.upload-confirm .confirm-actions label {
	display: block;
	margin: .8em 0;
	font-size: 1.3em;
}
.upload-confirm .confirm-actions label small {
	display: block;
	margin: 5px 0 0 25px;
	font-size: .7em;
}
.upload-confirm .action-to-all {
	border-top: 1px solid #ccc;
	padding: 7px 0 0;
}
.upload-confirm .action-to-all small {
	display: block;
	margin: 5px 0 0 25px;
}
.s3-image .image-wrapper > ul li.active span.image-element span.image-info {
  background-color: #D2F6CB;
}
.s3-image .image-wrapper > ul li.active span.image-element span.image-info span.date {
  color: #5e9f64;
}
.s3-radio-tabs.s3-image {
	border: 5px solid #ebebeb;
	background-color: #ebebeb;
	border-radius: 4px;
	padding: 0;
	margin: 0 0 15px;
}
.s3-radio-tabs.s3-image li {
	display: inline-block;
}
.s3-radio-tabs.s3-image li a {
	text-decoration: none;
	color: #333;
}
.s3-radio-tabs.s3-image li:first-child a {
	border-radius: 4px 0 0 4px !important;
}
.s3-radio-tabs.s3-image li:last-child a {
	border-radius: 0 4px 4px 0 !important;
}
.folder-content-control .folder-content-bg > span {
	font-weight: bold;
}
.folderContentControl, .watermark-ignore {
  padding-bottom: 24px;
}
table.uploadTable td {
	border-bottom: 2px solid #FFF;
	padding: 0;
}
#uploadStatusBlock {
  text-align: center;
  padding-bottom: 18px;
}
#uploadStatusBlock span.upload-ico {
  display: inline-block;
  width: 230px;
  height: 132px;
  margin-bottom: 10px;
  position: relative;
}
#uploadStatusBlock span.upload-ico > span {
  display: block;
  position: absolute;
  width: 66px;
  height: 83px;
}
#uploadStatusBlock span.upload-ico > span.drop-file1 {
  background: url("/my/s3/images/svg_icons/drop-file1.svg") 0 0 no-repeat;
  left: 10px;
  top: 10px;
  transform: rotate(-26deg);
}
#uploadStatusBlock span.upload-ico > span.drop-file2 {
  background: url("/my/s3/images/svg_icons/drop-file2.svg") 0 0 no-repeat;
  left: 50%;
  top: -15px;
  width: 57px;
  height: 72px;
  margin-left: -29px;
}
#uploadStatusBlock span.upload-ico > span.drop-file3 {
  background: url("/my/s3/images/svg_icons/drop-file3.svg") 0 0 no-repeat;
  right: 10px;
  top: 10px;
  transform: rotate(26deg);
  z-index: 1;
}
#uploadStatusBlock span.upload-ico > span.cloud-done, #uploadStatusBlock span.upload-ico > span.cloud-fail {
  background: url("/my/s3/images/svg_icons/cloud-done.svg") 0 0 no-repeat;
  width: 141px;
  height: 97px;
  top: 21px;
  left: 44px;
  opacity: 0;
  transition: all 0.3s ease-out 0s;
}
#uploadStatusBlock span.upload-ico > span.cloud-fail {
  background: url("/my/s3/images/svg_icons/cloude-fail.svg") 0 0 no-repeat;
}
#uploadStatusBlock span.upload-ico.done > span.cloud-done {
  opacity: 1;
}
#uploadStatusBlock span.upload-ico.error > span.cloud-fail {
  opacity: 1;
}

/*#uploadStatusBlock span.upload-ico.done {
  background-image: url("/my/s3/images/svg_icons/upload-done.png");
}
#uploadStatusBlock span.upload-ico.error {
  background-image: url("/my/s3/images/svg_icons/upload-error.png");
}*/
#uploadContainerURIRows td {
	font-size: 0;
	line-height: 0;
	background: #ebebeb;
	border-radius: 4px;
	padding: 5px;
}
#uploadContainerURIRows td span.row {
	padding-right: 8px;
	display: inline-block;
}
#uploadContainerURIRows td span.row + span.row {
	padding: 0;
}
#uploadContainerURIRows label + label {
	border-radius: 0 4px 4px 0;
}
#uploadContainerURIRows td input {
	background-color: #fff;
	border-color: silver;
}
#uploadContainerURIRows td input.s3-input-text.url {
	background-position: 7px 7px;
	background-image: url("/my/s3/images/svg_icons/ic_uri.svg");
}
#uploadContainerURIRows span.objectRemove {
	margin-left: 7px;
}
#uploadContainerURI .file-upload-inner .watermark-ignore {
  display: block !important;
}
#uploadAddButton {
	margin-top: 2px;
	color: #333;
	line-height: 27px;
	outline: none;
}
#uploadAddButton .s3-ico {
	margin-right: 5px;
}
.s3-note span.s3-ico {
	margin-right: 5px;
}
.file-upload-inner .file-input-wrapper {
	padding:15px 0;
}
.s3-image div[id^='image-wrapper'] {
	/*min-height: 540px;*/
}
.image-edit-wrap .s3-note {
  font-size: 12px;
  color: #a7a7a7;
  line-height: 16px;
}
.image-edit-wrap .s3-note:after {
  display: block;
  content: '';
  clear: both;
  height: 0;
  font-size: 0;
}
.image-edit-wrap .s3-note .s3-ico.i-idea-svg {
  float: left;
  margin-right: 9px;
  height: 24px;
  margin-top: 2px;
}
.bluepopup-wrapper > table td.content .tabs.loaded ul.s3-radio-tabs, .bluepopup-wrapper > table td.content .tabs.loaded .file-upload-inner {
  display: none;
}
.bluepopup-wrapper > table td.draggable_title span.title {
  color: #27AB4A;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: -0.5px;
  display: inline-block;
}
#uploadButtonsWrapper.center {
  text-align: center;
}
#uploadButtonsWrapper span.file-text {
  display: none;
}

.s3-image__preview {
  display: table;
  width: 100%;
}
.bluepopup-wrapper.with-tabs .s3-image__preview {
  display: block;
  width: 100%;
  padding: 32px 32px 0;
}

.s3-image__preview-image__wrap {
  line-height: 0;
  font-size: 0;
  margin-bottom: 25px;
}

.s3-image__preview-image {
  border: 1px solid #a0a0a0;
  margin-bottom: 15px;
  max-width: 500px;
  max-height: 400px;
}

.s3-image__preview__full-size-link {
  font: normal 12px Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-top: -5px;
  margin-bottom: 15px;
}

.s3-image__preview__full-size-link a {
  color: #828282;
  text-decoration: none;
}
.s3-image__preview__full-size-link a span + span {
  border-bottom: 1px dashed #828282;
}

.s3-image__preview__full-size-link a:hover {
  text-decoration: none;
}
.s3-image__preview__full-size-link a:hover span + span {
  border-color: transparent;
}

.s3-image__preview-image__name {
  color: #212121;
  font: normal 20px Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 30px;
  letter-spacing: -0.4px;
  padding-right: 80px;
  max-width: 450px;
}

.s3-image__preview-image__id {
  float: right;
  color: #b0b0b0;
  font: normal 12px Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 14px;
  display: inline-block;
  vertical-align: top;
  padding-top: 9px;
  margin-right: -80px;
}

.s3-image__preview-column {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
}

.s3-image__preview-column--left {
  padding-right: 15px;
}

.s3-image__preview-column--right {
  padding: 30px 15px;
  background-color: #fbfbfb;
  border: 1px solid #e1e1e1;
}

.s3-image__preview-desc {
  width: 225px;
}

.s3-image__preview-desc_link {
  cursor: pointer;
  padding-bottom: 5px;
}

.s3-image__preview-desc__author .s3-image__preview-desc_link,
.s3-image__preview-desc__similar .s3-image__preview-desc_link {
  color: #15c;
  text-decoration: none;
}
.s3-image__preview-desc__author .s3-image__preview-desc_link:hover,
.s3-image__preview-desc__similar .s3-image__preview-desc_link:hover {
  text-decoration: underline;
}

.s3-image__preview-desc__similar .s3-image__preview-desc_link {
  display: inline-block;
  vertical-align: top;
  padding-right: 5px;
}

.s3-image__preview-desc__tags .s3-image__preview-desc_link {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #707070;
  padding-right: 5px;
}
.s3-image__preview-desc__tags .s3-image__preview-desc_link:hover {
  text-decoration: underline;
}

.s3-image__preview-desc__categories .s3-image__preview-desc_link {
  color: #707070;
  text-decoration: underline;
}
.s3-image__preview-desc__categories .s3-image__preview-desc_link:hover {
  text-decoration: none;
}

.s3-image__preview-desc .s3-image__preview-desc__item + .s3-image__preview-desc__item {
  margin-top: 30px;
}

.s3-image__preview-desc__item:after {
  display:block; clear:both; content:"."; visibility:hidden; line-height:0;
}

.s3-image__preview-desc__icon,
.s3-image__preview-desc__body {
  float: left;
}

.s3-image__preview-desc__icon {
  width: 17px;
  margin-right: 15px;
}

.s3-image__preview-desc__body {
  width: 180px;
  font: normal 12px Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #707070;
  padding-top: 3px;
}
.s3-image ._s3-gray-container {
  padding: 10px 20px;
  font-size: 13px;
  font-family: Arial;
}
.s3-image ._s3-gray-container:after {
  display: block;
  content: '';
  font-size: 0;
  height: 0;
  clear: both;
}
.s3-image ._s3-gray-container div._container-icon {
  float: left;
  width: 17px;
  height: 17px;
  margin-right: 10px;
}
/*для динамики, запрещаем event по клику на тумб*/
.content-wrapper > .image-wrapper.image-wrapper-for-dynamic ul > li .image-wrapper .image {
  pointer-events: none;
  cursor: pointer;
}
