.lp_layout_list_sortable_sortable_placeholder {
  background: #EAFAEE;
  border: 1px dashed #29BC50;
  border-radius: 6px;
  margin: 16px;
  width: 450px;
  display: inline-flex;
}

.landing-page-layout-actions-panel {
  display: flex;
  justify-content: space-between;
}

.landing-page-layout-list {
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
  font-size: 0;
  margin: -16px;
}
.landing-page-layout-actions-panel .context-menu ul li,
.landing-page-layout-list .context-menu ul li {
  padding: 0 11px;
}

.landing-page-layout-list .layout-item {
  position: relative;

  width: 450px;
  display: inline-flex;
  flex-direction: column;
  margin: 16px;
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #DCDCDC;
  box-sizing: border-box;
}


.landing-page-layout-list .layout-item__sortable-handler {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px;
}

.landing-page-layout-list .layout-item .layout-item__tab-content {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 16px 0 0 0;
  flex-grow: 1;
}

.landing-page-layout-list .layout-item.staff_only{
    border-color: #9A4CBD;
}
.landing-page-layout-list .layout-item.mosaic-item{
    border-color: #1a3af3;
}

.landing-page-layout-list .layout-item #s3_select_chzn{
  max-width: 180px;
}

.landing-page-layout-list .layout-item.mosaic-item .layout-controls-wrap{
    background: #1a3af31c;
}

.landing-page-layout-list .layout-childs {
  background: #fdf0e2;
  border-radius: 0 0 4px 4px;
}

.landing-page-layout-list .layout-item:after {display:block; clear:both; content:"."; visibility:hidden; line-height:0;}
.landing-page-layout-list .layout-item.deprecated {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.landing-page-layout-list .image-container {
  width: 400px;
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.landing-page-layout-list .image-container.nophoto {
  background-image: url('/my/s3/images/nofoto.gif');
  background-position: center;
  background-repeat: no-repeat;
}
.landing-page-layout-list .controls {
  position: absolute;
  top: -44px;
  right: 0;
  height: 24px;
}
.landing-page-layout-list .controls .local-layouts-list,
.landing-page-layout-list .controls .refresh-layout-preview,
.landing-page-layout-list .controls .upload-layout-preview {
  cursor: pointer;
  float: right;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  margin-left: 16px;
}

.landing-page-layout-list .controls .refresh-layout-preview {
  background: url("/my/s3/images/svg_icons/oah-reload.svg") left top no-repeat;
}
.landing-page-layout-list .controls .upload-layout-preview {
  background: url("/my/s3/images/svg_icons/oah-image2.svg") 50% 50% no-repeat;
}
.landing-page-layout-list .controls .local-layouts-list {
  background: url("/my/s3/images/svg_icons/oah-pagestree.svg") 50% 50% no-repeat;
}

.landing-page-layout-list .image-container .image-wrap {
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  min-height: 40px;
}
.landing-page-layout-list .image-container .image-wrap .image {
  border: none;
  max-width: 400px;
  border-radius: 4px 4px 0 0;
}
.landing-page-layout-list .image-container .image-wrap .image.disabled {
  cursor: default;
}
.landing-page-layout-list .image-container.nophoto .image-wrap .image {
  display: none;
}
.landing-page-layout-list .layout-image-th {
  width: 130px;
}
.landing-page-layout-list .layout-theme-th {
  width: 200px;
}
.landing-page-layout-list .layout-type-th {
  width: 200px;
}
.landing-page-layout-list .layout-tpl-th {
  width: 100px;
}
.landing-page-layout-list .layout-actions-th {
  width: 10px;
}
.landing-page-layout-list .layout-controls-wrap {
  margin-top: 16px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #212121;
}

.landing-page-layout-list .layout-controls-wrap.layout-controls-wrap--row {
  display: flex;
  justify-content: space-between;
}

.landing-page-layout-list .layout-controls-wrap.layout-controls-wrap--row .layout-name {
  margin: 0 10px 0 0;
  display: flex;
  align-items: center;
}

.landing-page-layout-list .layout-controls-wrap .layout-controls {
  display: flex;
  justify-content: space-between;
  font-size: 0;
}

.landing-page-layout-list .layout-controls-wrap .layout-name {
  cursor: pointer;
  margin-bottom: 24px;
}


.landing-page-layout-list .layout-controls-wrap span.layout-name:hover {
  text-decoration: underline;
}
.landing-page-layout-list .layout-controls-wrap span.layout-name.disabled {
  cursor: default;
  text-decoration: none !important;
}

#lp-anketa-list {
  padding: 22px;
  background: #ffffff;
  display: inline-block;
}
#lp-anketa-list > .s3-btn.back {
  margin-bottom: 15px;
}

#lp-presets-list:after {display:block; clear:both; content:"."; visibility:hidden; line-height:0;}

#lp-presets-list {
  max-width: 780px;
}
.template-library #lp-presets-list {
    max-width: 100%;
}
.template-library #lp-presets-list .preset-item{
    width: 188px;
}
#lp-presets-list .preset-item {
  width: 178px;
  float: left;
  overflow: hidden;
  margin-right: 20px;
  position: relative;
  line-height: 0;
  font-size: 0;
  margin-bottom: 10px;
  border: 1px solid #e8e8e8;
  background: #ffffff;
}
#lp-presets-list .preset-item:nth-child(4n){
	margin-right: 0;
}

#lp-presets-list .preset-item.undone {
  border-color: #9A4CBD;
  background-color: #f1ebf4;
}

#lp-presets-list .preset-item.nova-template{
	float: none;
	width: 100%;
	border: none;
	overflow: visible;
}
#lp-presets-list .preset-item.nova-template .item-previews{
	max-height: 450px;
	height: 450px;
	font-size: 22px;
	line-height: 1;
	position: relative;
	padding: 0 0 20px;
	font-size: 0;
}
#lp-presets-list .preset-item.nova-template .item-previews .new-label{
	position: absolute;
	top: 121px;
	left: 40px;
	width: 120px;
	height: 38px;
	font-size: 22px;
	color: #ffffff;
	font-family: "Fira Sans";
	font-weight: 700;
	line-height: 38px;
	box-shadow: 0 5px 5px -4px #ffbfb7;
	border-radius: 2px;
	background-color: #ee4d39;
	text-align: center;
}
#lp-presets-list .preset-item.nova-template .item-previews .orange-label{
	position: absolute;
	top: 163px;
	left: 40px;
	width: 396px;
	height: 54px;
	font-size: 32px;
	color: #222;
	font-family: "Fira Sans";
	font-weight: 700;
	line-height: 54px;
	box-shadow: 0 5px 5px -4px #ffd881;
	border-radius: 2px;
	background-color: #ffbd2c;
	text-align: center;
}
#lp-presets-list .preset-item.nova-template .item-previews .black-label.child1{
	position: absolute;
	top: 247px;
	left: 40px;
	width: 273px;
	height: 38px;
	box-shadow: 0 5px 5px -4px #a9a9a9;
	border-radius: 2px;
	background-color: #222222;
	color: #ffffff;
	font-family: "Fira Sans";
	font-size: 22px;
	font-weight: 400;
	line-height: 42px;
	text-align: center;
}
#lp-presets-list .preset-item.nova-template .item-previews .black-label.child2{
	position: absolute;
	top: 289px;
	left: 40px;
	width: 145px;
	height: 38px;
	box-shadow: 0 5px 5px -4px #a9a9a9;
	border-radius: 2px;
	background-color: #222222;
	color: #ffffff;
	font-family: "Fira Sans";
	font-size: 22px;
	font-weight: 400;
	line-height: 42px;
	text-align: center;
}
#lp-presets-list .preset-item.nova-template .item-previews .black-label.child3{
	position: absolute;
	right: 0;
	bottom: 4px;
	width: 167px;
	height: 34px;
	box-shadow: 0 5px 5px -4px #a9a9a9;
	border-radius: 2px;
	background-color: #222222;
	color: #ffffff;
	font-family: "Fira Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 34px;
	text-align: center;
	text-transform: lowercase;
	z-index: 2;
}
#lp-presets-list .preset-item.nova-template .item-previews .black-label.child3:after{
	content:"";
	position: absolute;
	right: 0;
	bottom: -108px;
	width: 28px;
	height: 121px;
	background: url("/my/s3/images/svg_icons/path.svg") no-repeat 0 0;
}
#lp-presets-list .preset-item.nova-template .item-previews .black-label span{
	font-weight: 700;
}
#lp-presets-list .preset-item.nova-template .item-controls {
	display: flex;
	justify-content: center;
	align-items: center;
}
#lp-presets-list .preset-item.nova-template .item-controls .s3-btn{
    min-width: 180px;
    height: 40px;
    margin: 0 10px;
    font-family: Arial;
    font-size: 14px;
    line-height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
}
#lp-presets-list .preset-item.nova-template .item-controls .s3-btn:not(.green), #lp-presets-list .preset-item .item-controls .s3-btn:not(.green){
    cursor: auto;
    background-color: #ececec;
    box-shadow: 0 1px 1px #ccc;
    border: none;
}
#lp-presets-list .preset-item.nova-template .item-controls .s3-btn + .s3-btn{
	margin-top: 0;
	color: #fff;
}
#lp-presets-list .preset-item-name {
  font: normal 12px Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: center;
  padding: 0 10px 10px;
}

#lp-presets-list .preset-item .item-previews {
  position: relative;
  padding: 10px;
  max-height: 260px;
  cursor: pointer;
  text-align: center;
}
.lp-preset-title{
  color: #3f3f3f;
  font-family: Arial;
  font-size: 16px;
  margin:24px 0 17px;
}
#lp-presets-list .preset-item .item-previews:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#lp-presets-list .preset-item .item-previews:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 470px;
  height: 50px;
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(232,232,232,1) 90%);
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(232,232,232,1) 90%);
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(232,232,232,1) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e8e8e8',GradientType=0 );
}

#lp-presets-list .preset-item .item-controls {
  background: #ffffff;
  padding: 10px;
  position: relative;
}

#lp-presets-list .preset-item.undone .item-controls {
  background: #f1ebf4;
}

#lp-presets-list .preset-item .item-controls .s3-btn {
  display: block;
  padding: 0;
  margin: 0;
  text-align: center;
}
#lp-presets-list .preset-item .item-controls .s3-btn + .s3-btn {
  margin-top: 10px;
}

.lp-mode {
	margin: 20px 0
}

.lp-mode__title {
	font-family: Arial;
	font-size: 10px;
	line-height: 15px;
	font-weight: 400;
	margin: 5px 0 0;
	padding-left: 2px;
	color: #fff;
}

.lp-mode__wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.lp-mode__item {
	width: 124px;
	height: 37px;
	box-shadow: 0 1px 2px hsla(0, 0%, 47%, .42);
	transition: all .3s;
	cursor: pointer
}

.lp-mode__item--edit {
	border-radius: 6px 0 0 6px;
	background: url("/my/s3/images/svg_icons/ic_ol_edit-large.svg") no-repeat 50% 50% #697074;
}

.lp-mode__item--edit.lp-mode__item--active {
	background: url("/my/s3/images/svg_icons/ic_ol_edit-large.svg") no-repeat 50% 50% #17B03F;
	box-shadow: inset 0 1px 1px #a4acaf
}

.lp-mode__item--elem {
	border-radius: 0 6px 6px 0;
	background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26'%3E%3Cpath fill='%23fff' d='M19 10.75a2.233 2.233 0 0 0-.998.242 2.22 2.22 0 0 0-3-1 2.206 2.206 0 0 0-2.752-1.105V4.005a2.25 2.25 0 1 0-4.5 0v7.781l-.93-1.487a2.25 2.25 0 0 0-3.815 2.385l3.572 7.528a.75.75 0 0 0 1.355-.644l-3.614-7.604a.776.776 0 0 1 .197-1.108.753.753 0 0 1 1.034.238l2.315 3.705a.75.75 0 0 0 1.386-.397V4.005a.75.75 0 1 1 1.5 0V11.5a.75.75 0 0 0 1.5 0v-.495a.75.75 0 1 1 1.5 0V12.5a.75.75 0 0 0 1.5 0V12a.75.75 0 1 1 1.5 0v1.5a.75.75 0 0 0 1.5 0V13a.75.75 0 0 1 1.5 0v6.506a3.247 3.247 0 0 1-3.25 3.244h-3.53a5.589 5.589 0 0 1-2.741-.826.75.75 0 1 0-.76 1.294 7.066 7.066 0 0 0 3.501 1.032h3.53a4.747 4.747 0 0 0 4.75-4.744V13A2.246 2.246 0 0 0 19 10.75z'/%3E%3C/svg%3E") no-repeat 50% 50% #697074
}

.lp-mode__item--elem.lp-mode__item--active {
	background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26'%3E%3Cpath fill='%23fff' d='M19 10.75a2.233 2.233 0 0 0-.998.242 2.22 2.22 0 0 0-3-1 2.206 2.206 0 0 0-2.752-1.105V4.005a2.25 2.25 0 1 0-4.5 0v7.781l-.93-1.487a2.25 2.25 0 0 0-3.815 2.385l3.572 7.528a.75.75 0 0 0 1.355-.644l-3.614-7.604a.776.776 0 0 1 .197-1.108.753.753 0 0 1 1.034.238l2.315 3.705a.75.75 0 0 0 1.386-.397V4.005a.75.75 0 1 1 1.5 0V11.5a.75.75 0 0 0 1.5 0v-.495a.75.75 0 1 1 1.5 0V12.5a.75.75 0 0 0 1.5 0V12a.75.75 0 1 1 1.5 0v1.5a.75.75 0 0 0 1.5 0V13a.75.75 0 0 1 1.5 0v6.506a3.247 3.247 0 0 1-3.25 3.244h-3.53a5.589 5.589 0 0 1-2.741-.826.75.75 0 1 0-.76 1.294 7.066 7.066 0 0 0 3.501 1.032h3.53a4.747 4.747 0 0 0 4.75-4.744V13A2.246 2.246 0 0 0 19 10.75z'/%3E%3C/svg%3E") no-repeat 50% 50% #17B03F;
	box-shadow: inset 0 1px 1px #a4acaf
}

.lp-layout-popup {
  display: none;
  position: relative;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 32px;
  max-width: 500px;
}

.lp-layout-popup .lp-layout-popup__header {
  position: relative;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #212121;
  margin-bottom: 32px;
}

.lp-layout-popup .lp-layout-popup__close-button {
  position: absolute;
  right: 0;
}


#layoutUploadPreview .upload-file-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
  margin-top: 12px;
}

#layoutUploadPreview .upload-file-list .upload-file-list__item {
  background: #FFFBE8;
  border-radius: 20px;
  padding: 4px 16px 4px 10px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  display: inline-flex;
  align-items: center;
  margin: 0 4px 4px 0;
}

#layoutUploadPreview .upload-file-list .upload-file-list__item .s3-ico-24 {
  margin-right: 4px;
}
