.button-generator-wrapper form label{
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	}
.button-generator-wrapper form label strong{
	display: inline-block;
	vertical-align: middle;
	}
.s3-button-generator{
	font-size: 13px;
	font-family: Arial;
	display: table;
	}

.button-generator-wrapper{
	width: 420px;
	padding: 20px;
	}
.button-generator-groups-form{
	display: table-row;
	vertical-align: top;
	}
.button-generator-wrapper input[type=checkbox]{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	}

.button-generator-wrapper input[type=text]{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CFCFCF;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1) inset, 0 2px 2px -1px rgba(0, 0, 0, 0.1);
	color: #424242;
	display: inline-block;
	font: 13px/24px Arial,Helvetica,sans-serif;
	height: 26px;
	padding: 0 8px;
	vertical-align: middle;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	}
.button-generator-form-group{
	width: 190px;
	padding: 10px 20px 10px 0px;
	text-align: left;
	display: table-cell;
	}

#button_generator_canvas {
	display: table-cell;
	vertical-align: middle;
	width: 420px;
	height: 110px;
	text-align: center;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	margin: 3px;
	overflow: hidden;
	background: url("/my/s3/images/redesign/s3-cm-grid.png") repeat scroll left top;
	}
.button-generator-canvas-bg-control a{
	width: 10px;
	height: 10px;
	border: 1px solid #999;
	display: inline-block;
	margin: 0 3px;
	cursor: pointer;
	border-radius: 10px;
	}
.background-change-button-transparent{

	}
.background-change-button-dark{
	background: #000;
	}
.s3_button_separator{
	height: 1px;
	line-height: 1px;
	background: #DFDFDF;
	margin: 5px 0;
	}
.background-change-button-light{
	background: #fff;
	}
input.bg-input-small{
	width: 45px;
	}
.bg-label-padding{
	padding: 5px 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	line-height: 28px;
	}
.bg-apply-preset{
	cursor: pointer;
	}
.removePreset {
	color: #dd4c26;
	cursor: pointer;
	display: inline-block;
	text-decoration: underline;
	}
#s3_user_buttons{
	margin: 0;
	padding: 0;
	display: inline-block;
	height: 450px;
	width: 200px;
	}
#palettes{
	margin: 0;
	padding: 0;
	overflow-x: scroll;
	height: 50px;
	width: 480px;
	}
#palettes li{
	list-style-type: none;
	height: 20px;
	display: inline-block;
	margin-right: 10px;
	}
#palettes li a{
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	width: 35px;
	height: 20px;
	border: 1px solid #000;
	}
#s3_user_buttons li{
	list-style-type: none;
	padding-top: 18px;
	text-align: center;
	}
#s3_user_buttons li a{
	display: inline-block;
	}
input.bg-color-input{
	width: 66px;
	}
.colorpicker{
	z-index: 100;
	}
.button-generator-wrapper .ui-slider-horizontal {
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.7), 0 1px 2px 0 rgba(0, 0, 0, 0.4) inset!important;
	height: 4px!important;
	background: #A9A9A9!important;
	border-bottom-right-radius: 2px!important;
	border-top-right-radius: 2px!important;
	}
.button-generator-wrapper .ui-slider{
	margin: 5px 0;
	}

.button-generator-wrapper .ui-slider .ui-slider-handle {
	background: url('/my/s3/images/redesign/switch.png') no-repeat;
	height: 25px!important;
	width: 15px!important;
	border: none!important;
	cursor: pointer;
	}
.button-generator-wrapper .ui-slider-horizontal .ui-slider-handle{
	top: -10px;
	}

.button-generator-wrapper .ui-slider-range-min{
	border-bottom-left-radius: 2px!important;
	border-top-left-radius: 2px!important;
	background: #58B756!important;
	height: 4px!important;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.7), 0 1px 2px 0 rgba(0, 0, 0, 0.4) inset!important;
	}

.button-generator-wrapper .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	border-top-right-radius: 2px!important;
	}
.button-generator-wrapper .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	border-top-left-radius: 2px!important;
	}
.button-generator-wrapper .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{
	border-bottom-right-radius: 2px!important;
	}
.button-generator-wrapper .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-bottom-right-radius: 2px!important;
	}
.button-generator-wrapper .ui-widget-content{
	border: none!important;
	}
.paletteColorItem{
	display: inline-block;
	width: 5px;
	height: 20px;
	}
.s3_button_color_select{
	width: 20px;
	cursor: pointer;
	height: 20px;
	vertical-align: middle;
	border-radius: 4px 4px 4px 4px;
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	}
.s3_button_color_select_wrapper{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	height: 20px;
	padding: 3px;
	border-radius: 4px 4px 4px 4px;
	border: 1px solid #CFCFCF !important;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1) inset, 0 2px 2px -1px rgba(0, 0, 0, 0.1) !important;
	}
#palette_chooser{
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	-moz-box-sizing: border-box;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CFCFCF;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1) inset, 0 2px 2px -1px rgba(0, 0, 0, 0.1);
	color: #424242;
	display: inline-block;
	font: 13px/24px Arial,Helvetica,sans-serif;
	height: 26px;
	margin: 0 5px;
	padding-left: 4px;
	position: relative;
	vertical-align: middle;
	}
#palette_chooser_list{
	cursor: default;
	display: none;
	text-align: left;
	list-style-type: none;
	padding-top: 8px;
	padding-left: 4px;
	padding-bottom: 0px;
	padding-right: 0px;
	margin: 0;
	background: #FFFFFF;
	border: 1px solid #D5D5D5;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
	width: 118px;
	position: absolute;
	top: 28px;
	left: 0;
	z-index: 1000;
	}
#palette_chooser_list li{
	cursor: pointer;
	width: 18px;
	height: 18px;
	margin-right: 2px;
	margin-bottom: 2px;
	display: inline-block;
	border-radius: 2px;
	}
#palette_chooser_list li:hover{
	opacity: 0.7;
	outline: 1px dotted #3a3a3a;
	}
#palette_chooser span{
	display: inline-block;
	width: 18px;
	height: 24px;
	margin-left: 4px;
	background-image: url("/my/s3/images/redesign/s3-icons.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: -60px -181px;
	}
#palette_chooser_selected{
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 2px;
	position: relative;
	top: -4px;
	left: 0px;
	}
.s3_buttons_list{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}
.s3_buttons_list .tools{
	display: table;
	width: 100%;
	}
.s3_buttons_list .tools .l{
	text-align: left;
	display: table-cell;
	padding-left: 5px;
	}

.s3_buttons_list .tools .r{
	display: table-cell;
	text-align: right;
	padding-right: 20px;
	}
.s3_buttons_list li{
	display: inline-block;
	}
.s3_button_element{
	height: 110px;
	width: auto;
	min-width: 144px;
	max-width: 500px;
	text-align: center;
	background: #F3F3F3;
	overflow: hidden;
	display: inline-block;
	border: 1px solid #dedede;
	border-radius: 2px;
	box-shadow: 0 1px 0 0 #FFFFFF inset, 0 2px 2px -1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 20px;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 20px;
	cursor: pointer;
	vertical-align: middle;
	}
.s3_buttons_tools_menu{
	margin: 15px 0;
	}
.s3_buttons_list .tools span{
	cursor: pointer;
	}
.s3_buttons_list .tools span:hover{
	color: #296BD2;
	}
.s3-btn-action-ico{
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-left: 3px;
	}
.s3-btn-action-ico.copy{
	background: url('/my/s3/images/redesign/s3-icons.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: -109px -212px;
	}
.s3-btn-action-ico.del{
	background: url('/my/s3/images/redesign/s3-icons.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: -31px -213px;
	}
.s3-btn-action-ico.del:hover{
	background-position: -57px -213px;
	}
.s3-btn-action-ico.edit{
	background: url('/my/s3/images/redesign/s3-icons.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: -5px -212px;
	}
