.with-arrow-thin span.arrow {
  content: '';
  width: 26px;
  height: 26px;
  background-image: url("/my/s3/images/svg_icons/oah-arrright-thin.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: rotate(90deg);
  opacity: 0.5;
}
.with-arrow-thin:hover span.arrow,
.with-arrow-thin.context-button-active span.arrow {
  background-image: url("/my/s3/images/svg_icons/oah-arrright-thin-blue.svg");
  opacity: 1;
}
.with-arrow-thin.staff span.arrow {
  background-image: url("/my/s3/images/svg_icons/oah-arrright-thin-staff.svg");
}
.context-menu-v2 {
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  padding: 0;
  margin: 0;
}
.context-menu-v2 .context-menu-v2 {
  left: 100%;
  top: 0;
  margin-left: 3px;
}
.context-menu-v2 ul {
  padding-bottom: 8px;
}
.context-menu-v2 ul li {
  padding: 0;
  transition: background-color 0.2s ease-in-out;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.context-menu-v2 ul li.separator {
  border-top: 1px solid #DDDDDD;
  margin: 0 0 0 40px;
}
.context-menu-v2 ul li.with-ico a,
.context-menu-v2 ul li.with-ico span.txt {
  padding: 7px 11px 7px 8px;
}
.context-menu-v2 ul li.with-ico a span.ico,
.context-menu-v2 ul li.with-ico span.txt span.ico {
  margin-right: 8px;
}
.context-menu-v2 ul li:hover,
.context-menu-v2 ul li.selected {
  background-color: #D6FFD8;
}
.context-menu-v2 ul li.staff:hover {
  background-color: #FAE6FF;
}
.context-menu-v2 ul li.staff a,
.context-menu-v2 ul li.staff span.txt {
  color: #9A4CBD;
}
.context-menu-v2 ul li a,
.context-menu-v2 ul li span.txt {
  white-space: nowrap;
  padding: 9px 11px;
  display: flex;
  align-items: center;
  font-family: "Open Sans", sanf-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  flex: 1;
}
.context-menu-v2 ul li .menu-settings {
  margin-right: 8px;
}
.context-menu-v2 ul li.no-close {
  cursor: auto;
}
.context-menu-v2 ul li a span.ico,
.context-menu-v2 ul li span.txt span.ico {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.context-menu-v2 ul li a.context-button-active,
.context-menu-v2 ul li span.txt.context-button-active {
  background-color: #D6FFD8;
}
.context-menu-v2 ul li a.with-arrow-thin,
.context-menu-v2 ul li span.txt.with-arrow-thin {
  position: relative;
  padding-right: 45px;
}
.context-menu-v2 ul li a.with-arrow-thin:after,
.context-menu-v2 ul li span.txt.with-arrow-thin:after {
  content: '';
  width: 26px;
  height: 26px;
  background-image: url("/my/s3/images/svg_icons/oah-arrright-thin.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -13px;
}
.context-menu-v2 ul li a.critical {
  color: #E19906 !important;
}
.context-menu-v2 ul li a.over {
  color: #E03C33 !important;
}
.context-menu-v2 .row {
  display: flex;
}
.context-menu-v2 .row .col {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  flex-basis: 300px;
}
.context-menu-v2 .row .col:last-child {
  margin-right: 0;
}
.context-menu-v2 .row .col ul li.separator {
  border-top: 1px solid #DDDDDD;
  margin: 0 0 0 50px;
}
.context-menu-v2.site-dt-menu .site-dt-menu-item {
  display: block;
  width: 100%;
}
.context-menu-v2.site-dt-menu .site-dt-menu-item:before {
  content: '';
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: rotate(0deg);
  opacity: 0.5;
  top: 50%;
  margin-top: -13px;
  background-image: url("/my/s3/images/svg_icons/oah-arrright-thin.svg");
  background-size: 26px 26px;
}
.context-menu-v2.site-dt-menu .site-dt-menu-item a {
  padding-right: 35px;
}
.context-menu-v2.site-dt-menu .site-dt-menu-item.context-button-active:before {
  background-image: url("/my/s3/images/svg_icons/oah-arrright-thin-green.svg");
}
.context-menu-v2.site-dt-menu .site-dt-menu-item.context-button-active > a {
  background-color: #D6FFD8;
}
.context-menu-v2.top-panel-nav {
  padding: 10px 0;
}
.context-menu-v2.top-panel-nav ul {
  padding: 0;
}
.context-menu-v2.top-panel-nav ul li a,
.context-menu-v2.top-panel-nav ul li span.txt {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.context-menu-v2.top-panel-nav ul li a span.ico,
.context-menu-v2.top-panel-nav ul li span.txt span.ico {
  width: 26px;
  height: 26px;
  margin-right: 11px;
}
.context-menu-v2.top-panel-nav ul li a sup,
.context-menu-v2.top-panel-nav ul li span.txt sup {
  color: #1155CC;
  font-weight: normal;
  font-size: 12px;
  opacity: 0.5;
  margin: -8px 0 0 5px;
}
.context-menu-v2.top-panel-nav ul li.bold a,
.context-menu-v2.top-panel-nav ul li.bold span.txt {
  font-weight: 600;
}
.context-menu-v2 sup {
  color: #1155CC;
  font-weight: normal;
  font-size: 12px;
  opacity: 0.5;
  margin: -8px 0 0 5px;
}
.context-menu-news {
  font-style: normal;
  color: #212121;
}
.context-menu-news ul {
  padding: 0;
  margin: 0;
}
.context-menu-news__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.2px;
  color: #212121;
  padding: 16px;
}
.context-menu-news ul li a.news-item {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  max-width: 356px;
}
.context-menu-news ul li a.news-item.new:before {
  display: block;
  width: 8px;
  height: 8px;
  content: '';
  margin-right: 12px;
  border-radius: 50%;
  background-color: #29BC50;
  flex: 0 0 auto;
}
.context-menu-news ul li a.news-item .news-item__header {
  margin-right: auto;
}
.context-menu-news ul li a.news-item span.news-item__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  max-height: 60px;
  display: -webkit-box;
  white-space: normal;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.context-menu-news ul li a.news-item span.news-item__subtitle {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.4px;
  color: #838383;
  margin-top: 2px;
  padding: 0;
  max-height: 45px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
}
.context-menu-news ul li a.news-item span.news-item__date {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.4px;
  color: #838383;
  flex: 0 1 auto;
}
.context-menu-news .empty_list {
  padding-bottom: 15px;
  text-align: center;
  display: none;
}
.context-menu-news__all span,
.context-menu-news__all a {
  padding: 16px;
  border-top: 1px solid #e1e1e1;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.466667px;
  color: #1155CC;
  cursor: pointer;
  text-decoration: none;
}
header.s3-header-new {
  height: 72px;
  display: flex;
  background-color: #FFF;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  align-items: center;
}
header.s3-header-new .site-num {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: -0.2px;
  color: #455961;
  opacity: 0.4;
  text-decoration: none;
  white-space: nowrap;
}
header.s3-header-new .s3-logo {
  background: url("/my/s3/images/redesign/s3-logo.svg") no-repeat center 9px;
  padding: 0 22px 0 16px;
  height: 72px;
  width: 40px;
  position: relative;
  display: flex;
}
header.s3-header-new .s3-logo.dev {
  background: url("/my/s3/images/redesign/s3-logo-dev.svg") no-repeat center 9px;
}
header.s3-header-new .s3-logo a.s3-ajax-link {
  display: block;
  position: absolute;
  top: 8px;
  left: 19px;
  height: 40px;
  width: 40px;
}
header.s3-header-new .s3-logo .site-num {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 8px;
  text-align: center;
}
header.s3-header-new .s3-logo .line {
  position: absolute;
  width: 1px;
  height: 36px;
  background: #E3E3E3;
  right: 0;
}
header.s3-header-new .s3-logo .line.line1 {
  top: 1px;
  transform: rotate(-20deg);
}
header.s3-header-new .s3-logo .line.line2 {
  bottom: 1px;
  transform: rotate(20deg);
}
header.s3-header-new .s3-site-info {
  display: flex;
  font-family: "Open Sans", sanf-serif;
  align-items: center;
}
header.s3-header-new .s3-site-info .domain-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
header.s3-header-new .s3-site-info a {
  text-decoration: none;
}
header.s3-header-new .s3-site-info .site-domain {
  font-weight: 600;
  font-size: 14px;
  color: #333;
}
header.s3-header-new .s3-site-info .site-vers {
  position: relative;
  margin-left: 16px;
  align-self: flex-end;
  user-select: none;
}
header.s3-header-new .s3-site-info .site-vers .site-ver-control {
  cursor: pointer;
  display: flex;
  height: 24px;
  border-radius: 24px;
  padding: 0 5px 0 11px;
  background-color: #E3E3E3;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  align-items: center;
}
header.s3-header-new .s3-site-info .site-vers .site-ver-control:hover,
header.s3-header-new .s3-site-info .site-vers .site-ver-control.context-button-active {
  background-color: #D6FFD8;
}
header.s3-header-new .s3-site-info .site-vers .site-ver-control:hover span.arrow {
  background-image: url("/my/s3/images/svg_icons/oah-arrright-thin-green.svg");
}
header.s3-header-new .s3-site-info .site-vers .site-ver-control.context-button-active span.arrow {
  background-image: url("/my/s3/images/svg_icons/oah-arrright-thin-green.svg");
  transform: rotate(270deg);
}
header.s3-header-new .s3-site-info .site-vers span.ver-num {
  display: flex;
  align-items: center;
}
header.s3-header-new .s3-site-info .site-vers span.ver-num:before {
  content: '';
  display: flex;
  margin-right: 7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #f96332;
}
header.s3-header-new .s3-site-info .site-vers span.ver-num.indexing-allow:before {
  background-color: #64b753;
}
header.s3-header-new .navbar {
  display: flex;
  flex-grow: 1;
  height: 72px;
}
header.s3-header-new .navbar > ul {
  display: flex;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}
header.s3-header-new .navbar > ul > li {
  display: flex;
  position: relative;
  user-select: none;
}
header.s3-header-new .navbar > ul > li > a {
  font-family: "Open Sans", sanf-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
  text-decoration: none;
  color: #333;
  padding: 0 16px;
  transition: color 0.3s ease-in-out;
}
header.s3-header-new .navbar > ul > li > a:hover,
header.s3-header-new .navbar > ul > li > a.context-button-active {
  color: #1155CC;
}
header.s3-header-new .navbar > ul > li > a:hover:not(.staff) span.arrow,
header.s3-header-new .navbar > ul > li > a.context-button-active:not(.staff) span.arrow {
  background-image: url("/my/s3/images/svg_icons/oah-arrright-thin-blue.svg");
  opacity: 1;
}
header.s3-header-new .navbar > ul > li > a.staff {
  color: #9A4CBD;
}
header.s3-header-new .navbar > ul > li > a.staff:hover,
header.s3-header-new .navbar > ul > li > a.staff.context-button-active {
  color: #1155CC;
}
header.s3-header-new .navbar > ul > li > a.critical {
  color: #E19906 !important;
}
header.s3-header-new .navbar > ul > li > a.over {
  color: #E03C33 !important;
}
header.s3-header-new .navbar > ul > li > a span.arrow {
  margin: 0 -10px 0 0;
}
header.s3-header-new .navbar > ul > li > a span.s3-ico.i-upgrade-svg {
  margin: 0 12px 0 -7px;
}
header.s3-header-new .navbar > ul > li > a.adaptive span.s3-ico.w1280 {
  display: none;
}
header.s3-header-new .navbar .site-data-types {
  background: #fff;
  padding: 15px 0;
  margin-top: 1px;
  box-shadow: 0 2px 4px rgba(153, 153, 153, 0.4);
  display: none;
  position: absolute;
  border-radius: 3px;
}
header.s3-header-new .user-block {
  display: flex;
}
header.s3-header-new .user-block > div {
  display: flex;
  position: relative;
}
header.s3-header-new .user-block .user-block__btn {
  display: flex;
  font-family: "Open Sans", sanf-serif;
  font-weight: 600;
  font-size: 14px;
  align-items: center;
  line-height: 26px;
  letter-spacing: -0.2px;
  margin-right: 24px;
  cursor: pointer;
  position: relative;
  user-select: none;
  height: 72px;
}
header.s3-header-new .user-block .user-block__btn span.icon {
  width: 26px;
  height: 26px;
  margin-right: 0;
}
header.s3-header-new .user-block .user-block__btn span.icon.help {
  background-image: url("/my/s3/images/svg_icons/oah-help.svg");
}
header.s3-header-new .user-block .user-block__btn span.icon.user {
  background-image: url("/my/s3/images/svg_icons/oah-user.svg");
}
header.s3-header-new .user-block .user-block__btn span.icon.news {
  background-image: url("/my/s3/images/svg_icons/oah-events.svg");
  position: relative;
}
header.s3-header-new .user-block .context-menu ul li a .s3-ico {
  margin-right: 13px;
}
body.context-help-opened {
  overflow: hidden;
}
.s3-context-help__overlay {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 72px;
  z-index: 10010;
  display: flex;
  justify-content: flex-end;
  perspective: 1000px;
  transition: all 0.5s;
  visibility: hidden;
}
.s3-context-help__overlay * {
  box-sizing: border-box;
}
.s3-context-help__overlay.opened {
  visibility: visible;
}
.s3-context-help__overlay.opened:after {
  transition: opacity 0.5s;
  opacity: 1;
  width: 100%;
  height: 100%;
}
.s3-context-help__overlay.top0 {
  top: 0;
}
.s3-context-help__overlay:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  transition: opacity 0.7s, width 0.1s 0.5s, height 0.1s 0.5s;
  background-color: rgba(0, 0, 0, 0.35);
  opacity: 0;
  z-index: -1;
}
.s3-context-help {
  display: flex;
  flex-direction: column;
  width: 640px;
  background: #fff;
  height: auto;
  padding: 0;
  right: -100%;
  transition: all 0.5s;
  position: fixed;
  top: 72px;
  bottom: 0;
  z-index: 10011;
  font-family: "Open Sans", sanf-serif;
  font-weight: normal;
  font-size: 14px;
  color: #333333;
  overflow: hidden;
  box-sizing: border-box;
}
.s3-context-help.expand {
  width: 100%;
}
.s3-context-help.expand .context__menu {
  width: 20%;
}
.s3-context-help.expand .context__search:hover {
  width: 30%;
}
.s3-context-help.opened {
  right: 0;
}
.s3-context-help.top0 {
  top: 0;
}
.s3-context-help.search {
  background: #F5F5F5;
}
.s3-context-help .top__panel {
  flex-shrink: 0;
  background: #E0E3E5;
  padding: 8px 16px 8px 24px;
}
.s3-context-help .top__panel .search__wrap {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.s3-context-help .top__panel .search__wrap .fast-result {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 44px;
  width: 512px;
  height: auto;
  border-radius: 4px;
  max-height: calc(100vh - 148px);
  z-index: 3;
  background: #fff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.s3-context-help .top__panel .search__wrap .fast-result__top {
  flex-shrink: 0;
  background: #F5F5F5;
  height: 40px;
  padding: 11px 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
}
.s3-context-help .top__panel .search__wrap .fast-result__count {
  color: #838383;
}
.s3-context-help .top__panel .search__wrap .fast-result__count span {
  color: #333;
}
.s3-context-help .top__panel .search__wrap .fast-result__full {
  color: #1155CC;
  cursor: pointer;
}
.s3-context-help .top__panel .search__wrap .fast-result__bottom {
  flex-grow: 1;
  display: flex;
  overflow-y: hidden;
  padding: 24px 8px 24px 16px;
}
.s3-context-help .top__panel .search__wrap .fast-result__content {
  overflow-y: auto;
  padding-right: 16px;
  width: 100%;
}
.s3-context-help .top__panel .search__wrap .fast-result__content::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #D1D5D6;
}
.s3-context-help .top__panel .search__wrap .fast-result__content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #9AA5A7;
  border-radius: 5px;
}
.s3-context-help .top__panel .search__wrap .fast-result__content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #9AA5A7;
}
.s3-context-help .top__panel .search__wrap .fast-result__content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.s3-context-help .top__panel .search__wrap .fast-result__content ul li {
  line-height: 18px;
  letter-spacing: -0.2px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}
.s3-context-help .top__panel .search__wrap .fast-result__content ul li span {
  font-size: 13px;
  color: #838383;
  line-height: 18px;
}
.s3-context-help .top__panel .search__wrap .fast-result__content ul li span + a {
  margin-top: 4px;
}
.s3-context-help .top__panel .search__wrap .fast-result__content ul li a {
  text-decoration: none;
  line-height: 18px;
}
.s3-context-help .top__panel .search__wrap .fast-result__content ul li a:hover {
  text-decoration: underline;
}
.s3-context-help .top__panel .search__wrap .fast-result__content ul li:last-child {
  margin-bottom: 0;
}
.s3-context-help .top__panel .search__wrap .fast-result.opened {
  display: flex;
}
.s3-context-help .top__panel .search__controls {
  display: flex;
  align-items: center;
}
.s3-context-help .top__panel.opened .menu {
  cursor: pointer;
  width: fit-content;
  height: auto;
  visibility: visible;
  margin-top: 16px;
  margin-bottom: 8px;
}
.s3-context-help .top__panel.opened + .context__menu {
  top: 104px;
  width: 60%;
  padding: 0;
  left: -60%;
}
.s3-context-help .top__panel.opened + .context__menu.opened {
  left: 0;
}
.s3-context-help .top__panel.opened + .context__menu.opened + .help {
  margin-left: calc(60% + 8px);
  margin-right: calc(-60% - 8px);
}
.s3-context-help .top__panel .menu {
  display: flex;
  font-weight: 600;
  color: #1155CC;
  align-items: center;
  height: 0;
  margin: 0;
  transition: all 0.3s linear;
  visibility: hidden;
}
.s3-context-help .top__panel .menu .s3-ico.i-menu-svg {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-image: url("/my/s3/images/svg_icons/oah-menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  margin-right: 8px;
}
.s3-context-help .top__panel .menu .s3-ico.i-menu-svg.opened {
  background-image: url("/my/s3/images/svg_icons/oah_icons/oah-cancel3.svg");
}
.s3-context-help .top__panel a.full {
  font-weight: 600;
  font-size: 0;
  color: #1155CC;
  text-decoration: none;
  margin-right: 0;
}
.s3-context-help .top__panel a.full span.s3-ico {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-image: url("/my/s3/images/svg_icons/oah-arrlink2-blue.svg");
  margin-right: 16px;
  margin-top: -2px;
}
.s3-context-help .top__panel span.s3-ico.winexpand-thin {
  margin-right: 0 !important;
  cursor: pointer;
  background-image: url("/my/s3/images/svg_icons/winexpand.svg");
}
.s3-context-help .top__panel span.close {
  width: 24px;
  height: 24px;
  background: url("/my/s3/images/svg_icons/oah_icons/oah-cancel3.svg") no-repeat center center;
  cursor: pointer;
}
.s3-context-help .context__menu {
  position: absolute;
  top: 56px;
  bottom: 0;
  height: auto;
  background: #F5F5F5;
  width: 100%;
  z-index: 2;
  left: -100%;
  transition: all 0.3s linear;
  padding: 24px 8px 24px 0;
  box-sizing: border-box;
}
.s3-context-help .context__menu.opened {
  left: 0;
}
.s3-context-help .context__menu.opened .s3-btn-v2 {
  box-shadow: none;
}
.s3-context-help .help {
  flex-grow: 1;
  overflow-y: auto;
  transition: all 0.3s linear;
  padding: 16px;
  margin: 8px;
}
.s3-context-help .help::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #D1D5D6;
}
.s3-context-help .help::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #9AA5A7;
  border-radius: 5px;
}
.s3-context-help .help::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #9AA5A7;
}
.s3-context-help .help__path {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 8px;
}
.s3-context-help .help__path a {
  text-decoration: none;
}
.s3-context-help .help__path a:hover {
  text-decoration: underline;
}
.s3-context-help .help__path span {
  padding: 0 8px;
  color: #828282;
}
.s3-context-help .help__path:empty {
  display: none;
}
.s3-context-help .help__title {
  padding-bottom: 24px;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  color: #212121;
}
.s3-context-help .help__title:empty {
  display: none;
}
.s3-context-help .help__title + .help__sublist {
  padding-bottom: 40px;
}
.s3-context-help .help .help__sublist:empty {
  display: none;
}
.s3-context-help .help .help__sublist ul,
.s3-context-help .help ul.subpages:only-of-type:first-child,
.s3-context-help .help .sorting > ul.g-submenu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.s3-context-help .help .help__sublist ul li,
.s3-context-help .help ul.subpages:only-of-type:first-child li,
.s3-context-help .help .sorting > ul.g-submenu li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 16px;
}
.s3-context-help .help .help__sublist ul li:last-child,
.s3-context-help .help ul.subpages:only-of-type:first-child li:last-child,
.s3-context-help .help .sorting > ul.g-submenu li:last-child {
  margin-bottom: 0;
}
.s3-context-help .help .help__sublist ul li:before,
.s3-context-help .help ul.subpages:only-of-type:first-child li:before,
.s3-context-help .help .sorting > ul.g-submenu li:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: url("/my/s3/images/svg_icons/oah-arrow-right-long-grey.svg") center no-repeat;
}
.s3-context-help .help .help__sublist ul li a,
.s3-context-help .help ul.subpages:only-of-type:first-child li a,
.s3-context-help .help .sorting > ul.g-submenu li a {
  text-decoration: none;
  font-weight: 600;
  line-height: 20px;
}
.s3-context-help .help .help__sublist ul li a:hover,
.s3-context-help .help ul.subpages:only-of-type:first-child li a:hover,
.s3-context-help .help .sorting > ul.g-submenu li a:hover {
  text-decoration: underline;
}
.s3-context-help .help__content + .help__sublist {
  padding-top: 32px;
}
.s3-context-help .help__content .site-path {
  font-weight: 600;
  font-size: 13px;
  color: #828282;
}
.s3-context-help .help__content .site-path a {
  color: #1155CC;
  text-decoration: none;
}
.s3-context-help .help__content .site-path a:hover {
  text-decoration: underline;
}
.s3-context-help .help__content .main__title {
  display: none;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  color: #212121;
}
.s3-context-help .help__content .content {
  height: auto;
}
.s3-context-help .help__content .content a:not([href]) {
  text-decoration: none;
  color: #333;
}
.s3-context-help .help__content .content::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #D1D5D6;
}
.s3-context-help .help__content .content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #9AA5A7;
  border-radius: 5px;
}
.s3-context-help .help__content .content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #9AA5A7;
}
.s3-context-help .help__content .content img {
  max-width: 100%;
  height: auto;
}
.s3-context-help .help__content .content iframe {
  max-width: 100%;
}
.s3-context-help .help__content .content .found__count {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  color: #212121;
}
.s3-context-help .help__content .content .search__list {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}
.s3-context-help .help__content .content .search__list li {
  margin-bottom: 32px;
}
.s3-context-help .help__content .content .search__list li .path {
  font-size: 13px;
  line-height: 18px;
  color: #838383;
  margin-bottom: 4px;
}
.s3-context-help .help__content .content .search__list li a {
  display: block;
  text-decoration: none;
  letter-spacing: -0.2px;
  line-height: 18px;
  font-weight: normal;
  margin-bottom: 8px;
}
.s3-context-help .help__content .content .search__list li a:hover {
  text-decoration: underline;
}
.s3-context-help .help__content .content .search__list li a b {
  font-weight: normal;
}
.s3-context-help .help__content .content .search__list li .announce {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.4px;
  color: #838383;
}
.s3-context-help .help__content .content .search__list li .announce b {
  color: #333;
}
.s3-context-help .help__content .content .list-trigger {
  display: none;
}
.s3-context-help .help__content .content .list-trigger + br {
  display: none;
}
.s3-context-help .help__content .content .list-trigger + br + br {
  display: none;
}
.s3-context-help .help__content .content .sorting_alt_container {
  display: none;
}
.s3-btn-v2 {
  position: relative;
  background: #ECECEC;
  box-shadow: 0px 1px 1px rgba(204, 204, 204, 0.75);
  font: 600 14px "Open Sans", sans-serif;
  color: #333;
  padding: 0 16px;
  line-height: 38px;
  height: 40px;
  white-space: nowrap;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
}
.s3-btn-v2.disabled {
  cursor: auto;
  opacity: 0.5;
}
.s3-btn-v2:hover {
  background-color: #F5F5F5;
  box-shadow: 0px 1px 4px rgba(204, 204, 204, 0.5);
  border-color: #c7c7c7;
}
.s3-btn-v2:active {
  border-color: #DFDFDF;
  background: #DFDFDF;
  box-shadow: none;
}
.s3-btn-v2.ico-only {
  width: 40px;
  padding: 0;
  text-align: center;
}
.s3-btn-v2.ico-only .s3-oah-ico,
.s3-btn-v2.ico-only .s3-ico {
  margin: 0;
}
.s3-btn-v2.white,
.s3-btn-v2.white-gray,
.s3-btn-v2 .s3-radio-tabs .s3-rb {
  box-shadow: 0px 1px 5px rgba(43, 43, 43, 0.2);
}
.s3-btn-v2.green {
  background-color: #29BC50;
  box-shadow: 0px 1px 1px rgba(18, 121, 46, 0.75);
  color: #FFF;
}
.s3-btn-v2.green:hover {
  border-color: #27AB4A;
  background-color: #36C55C;
  box-shadow: 0px 2px 4px rgba(18, 121, 46, 0.5);
}
.s3-btn-v2.green:active {
  background: #27AB4A;
  box-shadow: none;
  border-color: #27AB4A;
}
.s3-btn-v2.green.disabled {
  background: #29BC50 !important;
  box-shadow: 0px 1px 1px rgba(18, 121, 46, 0.75) !important;
}
.s3-btn-v2.white {
  background-color: #ffffff;
  border-color: #e5e7e4;
}
.s3-btn-v2.white:hover {
  border-color: #8fc592;
  text-shadow: none;
}
.s3-btn-v2.white-gray {
  color: #424242;
  text-shadow: none;
  background-color: #ffffff;
  border-color: transparent;
}
.s3-btn-v2.white-gray:hover {
  border: 1px solid #bfc6c9;
  box-shadow: 0 1px 3px #bfc6c9;
  background-color: #f5fbfd;
}
.s3-btn-v2.white-green {
  text-shadow: none;
  background-color: #ffffff;
  border-color: transparent;
  box-shadow: 0px 1px 5px rgba(43, 43, 43, 0.2);
}
.s3-btn-v2.white-green:hover {
  border-color: transparent;
  background-color: #D5FDD7;
}
.s3-btn-v2.white-green:active,
.s3-btn-v2.white-green.active {
  border-color: transparent;
  background-color: #C4FBC7;
}
.s3-btn-v2.staffUser:hover {
  background-color: #FAE6FF;
}
.s3-btn-v2.staffUser:active {
  background-color: #EBCCFB;
}
.s3-btn-v2.without-margin {
  margin: 0 6px 0 0;
}
.s3-btn-v2.w-ico-first {
  padding-left: 7px;
}
.s3-btn-v2.w-ico-first .s3-ico,
.s3-btn-v2.w-ico-first .s3-oah-ico {
  margin-right: 5px;
}
.s3-btn-v2 .s3-btn-note {
  font-size: 13px;
  color: #878787;
}
@keyframes increase {
  from,
  to {
    width: 100%;
    height: 100%;
    margin: 0;
    border-color: transparent;
    box-shadow: 0 0 0 0 rgba(42, 191, 89, 0);
  }
  90% {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 0 rgba(42, 191, 89, 0.5);
    margin: 0;
    border-color: transparent;
  }
  95% {
    width: 56px;
    height: 56px;
    margin-top: -6px;
    margin-left: -6px;
    border-color: #2ABF59;
  }
  99% {
    box-shadow: 0 0 0 25px rgba(42, 191, 89, 0);
  }
}
.btn__open-context__help__wrap {
  position: fixed;
  right: 28px;
  bottom: 28px;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10010;
}
.btn__open-context__help__wrap .btn__open-context-help-hint {
  display: none;
  z-index: 10011;
  position: absolute;
  bottom: -12px;
  right: -12px;
  width: 320px;
  height: 170px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  padding: 24px 72px 24px 24px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}
.btn__open-context__help__wrap .btn__open-context-help-hint .close-btn {
  cursor: pointer;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: url("/my/s3/images/svg_icons/oah_icons/oah-cancel3.svg") center no-repeat;
}
.btn__open-context__help__wrap .btn__open-context-help-hint .title {
  color: #1155CC;
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: -0.2px;
}
.btn__open-context__help__wrap .btn__open-context-help-hint .text {
  margin-top: 8px;
  color: #212121;
  font-size: 13px;
  line-height: 18px;
}
.btn__open-context__help__wrap .btn__open-context-help-hint .btn__open-context__help {
  display: flex;
  position: absolute;
  bottom: 16px;
  right: 16px;
  animation: none;
}
.btn__open-context__help__wrap .btn__open-context-help-hint .btn__open-context__help:hover {
  width: 48px;
  height: 48px;
}
.btn__open-context__help__wrap span.btn__tooltip {
  display: block;
  visibility: hidden;
  position: absolute;
  bottom: 64px;
  right: 0;
  width: max-content;
  padding: 4px 8px;
  background: #FFF99D;
  box-shadow: 0px 1px 4px rgba(169, 162, 50, 0.4);
  border-radius: 4px;
  transition-property: visibility;
  transition-duration: 0.4s;
  color: #333;
}
.btn__open-context__help {
  display: block;
  width: 48px;
  height: 48px;
  background: linear-gradient(135deg, #36D067 0%, #2ABF59 100%);
  border-radius: 50%;
  border: 2px solid #2ABF59;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(42, 191, 89, 0.32), 0px 8px 16px rgba(42, 191, 89, 0.24);
  cursor: pointer;
  margin: 0;
  align-items: center;
  justify-content: center;
  z-index: 10010;
  transition-property: width, height;
  transition-duration: 0.4s;
}
.btn__open-context__help:hover {
  width: 56px;
  height: 56px;
}
.btn__open-context__help:hover + span.btn__tooltip {
  visibility: visible;
}
.btn__open-context__help:hover span.ico {
  animation: none;
}
.btn__open-context__help span.ico {
  display: block;
  background-image: url("/my/s3/images/svg_icons/oah-help-context.svg"), linear-gradient(135deg, #36D067 0%, #2ABF59 100%);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid transparent;
  width: 100%;
  height: 100%;
  animation: increase 10s infinite;
}
.menu-actions-wrap.redesign {
  background: #E0E3E5;
  border-radius: 8px;
  box-shadow: none;
  padding: 16px 25px;
}
.menu-actions-wrap.redesign .adaptive-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.menu-actions-wrap.redesign .adaptive-controls.disabled:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.menu-actions-wrap.redesign .adaptive-controls .col {
  display: flex;
}
.menu-actions-wrap.redesign span.s3-btn-v2.menu-add-page span.s3-ico {
  background-image: url("/my/s3/images/svg_icons/oah-add-circle-white.svg");
  width: 26px;
  height: 26px;
  background-size: 26px 26px;
}
.menu-actions-wrap.redesign .menu-displaying {
  display: flex;
  margin: 0 0 0 16px;
  white-space: nowrap;
}
.menu-actions-wrap.redesign .menu-displaying .s3-radio-tabs.medium {
  padding: 0;
  margin: 0;
  border-radius: 4px;
  box-shadow: 0px 1px 5px rgba(43, 43, 43, 0.2);
  height: 40px;
  display: flex;
}
.menu-actions-wrap.redesign .menu-displaying .s3-radio-tabs.medium label.s3-rb {
  background: #FFF;
  box-shadow: none;
  height: 40px !important;
  padding: 0 7px !important;
  font: 600 14px/38px "Open Sans" !important;
}
.menu-actions-wrap.redesign .menu-displaying .s3-radio-tabs.medium label.s3-rb.active .s3-ico.pagestree-svg {
  background-image: url("/my/s3/images/svg_icons/oah-pagestree-expand.svg");
}
.menu-actions-wrap.redesign .menu-displaying .s3-radio-tabs.medium label.s3-rb:hover {
  box-shadow: none;
  border-color: transparent;
  background-color: #D5FDD7;
}
.menu-actions-wrap.redesign .menu-displaying .s3-radio-tabs.medium label.s3-rb:active {
  background-color: #C4FBC7;
}
.menu-actions-wrap.redesign .menu-displaying .s3-radio-tabs.medium label.s3-rb + label.s3-rb {
  margin-left: 1px;
}
.menu-actions-wrap.redesign .menu-displaying .s3-radio-tabs.medium label.s3-rb.with-ico {
  padding-left: 7px !important;
}
.menu-actions-wrap.redesign .menu-displaying .s3-radio-tabs.medium label.s3-rb.with-ico .s3-ico,
.menu-actions-wrap.redesign .menu-displaying .s3-radio-tabs.medium label.s3-rb.with-ico .s3-oah-ico {
  margin-right: 8px;
}
.menu-actions-wrap.redesign .menu-displaying .s3-radio-tabs.medium label.s3-rb.ico-only {
  padding: 0 !important;
  text-align: center;
  width: 40px !important;
}
.menu-actions-wrap.redesign .menu-displaying .s3-radio-tabs.medium label.s3-rb.ico-only .s3-ico,
.menu-actions-wrap.redesign .menu-displaying .s3-radio-tabs.medium label.s3-rb.ico-only .s3-oah-ico {
  margin: 0;
}
.menu-actions-wrap.redesign .menu-displaying .s3-radio-tabs.medium label.s3-rb.active {
  background-color: #C4FBC7;
}
.menu-actions-wrap.redesign form.search_page {
  display: flex;
  margin: 0;
  height: auto;
  width: auto;
  justify-content: flex-start;
  margin-left: 24px;
}
.menu-actions-wrap.redesign form.search_page.disabled {
  opacity: 0.5;
}
.menu-actions-wrap.redesign form.search_page input.s_butt {
  opacity: 1;
  visibility: visible;
  border: none;
  background-color: #F3F3F3;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  font-size: 0;
  line-height: 0;
  display: flex;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/my/s3/images/svg_icons/oah-search2.svg");
}
.menu-actions-wrap.redesign form.search_page input.s_butt:hover {
  background-color: #D6FFD8;
}
.menu-actions-wrap.redesign form.search_page .s_inputs_wrap {
  display: flex;
  background: #FFF;
  box-shadow: 0px 1px 5px rgba(43, 43, 43, 0.2);
  border-radius: 4px;
}
.menu-actions-wrap.redesign form.search_page .s_inputs_wrap:after {
  display: none;
}
.menu-actions-wrap.redesign form.search_page .s_inputs_wrap .s_text {
  display: flex;
  height: 40px;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  padding: 0 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
  width: 300px;
  box-sizing: border-box;
}
.menu-actions-wrap.redesign form.menu-edit-save {
  height: auto;
  display: flex;
  margin-left: 24px;
  position: relative;
  z-index: 2;
}
.menu-group-operation {
  display: flex;
  margin-right: 16px;
  z-index: 2;
}
.menu-group-operation span.title {
  display: flex;
  align-items: center;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #8A97A0;
  margin-right: 16px;
}
.menu-group-operation .s3-btn-v2 span.s3-ico.s3-tooltip {
  display: none;
}
.menu-group-operation .menu-group-editing-actions {
  font-size: 0;
  line-height: 0;
  margin-bottom: 15px;
}
.menu-group-operation .select__control {
  background: #E0E3E5;
  border-radius: 4px;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.menu-group-operation .select__control .s3-cb {
  padding: 0;
  margin: 0;
}
.menu-group-operation .select__control .s3-cb.active .ico {
  background-image: url("/my/s3/images/svg_icons/ic-check-item.svg");
  background-position: center center;
}
.menu-group-operation .select__control .s3-cb .ico {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
}
.menu-group-operation span.s3-btn-v2.green.action {
  border-radius: 0 4px 4px 0;
  margin: 0 0 0 -3px;
  height: 39px;
  position: relative;
  vertical-align: top;
  display: none;
}
.menu-group-operation span.s3-btn-v2.green.action.visible {
  display: inline-block;
}
.menu-group-operation .s3-select.v2.white + .chzn-container a.chzn-single,
.menu-group-operation .s3-action-select .s3-select.v2.white + .chzn-container a.chzn-single {
  font-size: 14px !important;
  font-family: "Open Sans" !important;
  color: #344 !important;
  font-weight: 600 !important;
  background: #FCFCFC !important;
  border: 1px solid #C0C0C0 !important;
  box-sizing: border-box !important;
  height: 40px !important;
  line-height: 38px !important;
  padding: 0 16px !important;
}
.menu-group-operation .s3-select.v2.white + .chzn-container a.chzn-single > div,
.menu-group-operation .s3-action-select .s3-select.v2.white + .chzn-container a.chzn-single > div {
  width: 28px;
}
.menu-group-operation .s3-select.v2.white + .chzn-container a.chzn-single > div b,
.menu-group-operation .s3-action-select .s3-select.v2.white + .chzn-container a.chzn-single > div b {
  background: url("/my/s3/images/svg_icons/oah-arrdown.svg") no-repeat scroll 0 50% !important;
  background-size: 22px 22px !important;
}
.menu-group-operation .s3-select.v2.white + .chzn-container.chzn-container-active a.chzn-single,
.menu-group-operation .s3-action-select .s3-select.v2.white + .chzn-container.chzn-container-active a.chzn-single {
  background: #F4FFF4 !important;
  border-color: #31B153 !important;
  box-shadow: 0px 1px 4px rgba(41, 188, 80, 0.5) !important;
}
.menu-group-operation .s3-select.v2.white + .chzn-container.chzn-container-active a.chzn-single > div > b,
.menu-group-operation .s3-action-select .s3-select.v2.white + .chzn-container.chzn-container-active a.chzn-single > div > b {
  background: url("/my/s3/images/svg_icons/oah-arrdown-green.svg") no-repeat scroll 0 50% !important;
  background-size: 22px 22px !important;
}
.menu-group-operation .s3-select.v2.white + .chzn-container.chzn-with-drop a.chzn-single,
.menu-group-operation .s3-action-select .s3-select.v2.white + .chzn-container.chzn-with-drop a.chzn-single {
  background: #FCFCFC !important;
}
.menu-group-operation .s3-select.v2.white + .chzn-container.chzn-with-drop a.chzn-single > div > b,
.menu-group-operation .s3-action-select .s3-select.v2.white + .chzn-container.chzn-with-drop a.chzn-single > div > b {
  background: url("/my/s3/images/svg_icons/oah-arrdown-green.svg") no-repeat scroll 0 50% !important;
  background-size: 22px 22px !important;
}
.menu-group-operation .s3-select.v2.white + .chzn-container.chzn-with-drop .chzn-drop,
.menu-group-operation .s3-action-select .s3-select.v2.white + .chzn-container.chzn-with-drop .chzn-drop {
  background: #FFF !important;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15) !important;
}
.menu-group-operation .s3-select.v2.white + .chzn-container.chzn-with-drop .chzn-drop .chzn-results li.result-selected,
.menu-group-operation .s3-action-select .s3-select.v2.white + .chzn-container.chzn-with-drop .chzn-drop .chzn-results li.result-selected,
.menu-group-operation .s3-select.v2.white + .chzn-container.chzn-with-drop .chzn-drop .chzn-results li:hover,
.menu-group-operation .s3-action-select .s3-select.v2.white + .chzn-container.chzn-with-drop .chzn-drop .chzn-results li:hover {
  background: #D5FDD7 !important;
}
.s3__menu-list {
  padding: 0;
  margin: 0;
  display: flex;
}
.s3__menu-list > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.s3__menu-list > ul > li {
  display: flex;
  margin: 0;
  margin-left: 24px;
  font-size: 0;
  line-height: 0;
  align-items: center;
  position: relative;
}
.s3__menu-list > ul > li > span.menu-item {
  box-sizing: border-box;
  height: 32px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  color: #212121;
  border: none;
  border-bottom: 2px solid transparent;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.s3__menu-list > ul > li > span.menu-item.blue {
  color: #1155CC;
  background: none;
}
.s3__menu-list > ul > li span.menu-settings {
  cursor: pointer;
  margin-left: 5px;
}
.s3__menu-list > ul > li span.add-menu {
  cursor: pointer;
}
.s3__menu-list > ul > li span.add-menu .s3-ico {
  width: 24px;
  height: 24px;
  background-image: url("/my/s3/images/svg_icons/oah-add-circle.svg");
  background-size: 24px 24px;
}
.s3__menu-list > ul > li.active > span.menu-item,
.s3__menu-list > ul > li:hover > span.menu-item {
  border-color: #29BC50;
}
#contextHelpMenu {
  padding: 0;
  height: 100%;
  overflow-y: scroll;
}
#contextHelpMenu::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #D1D5D6;
}
#contextHelpMenu::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #9AA5A7;
  border-radius: 5px;
}
#contextHelpMenu::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #9AA5A7;
}
#contextHelpMenu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#contextHelpMenu ul li a {
  display: block;
  font-family: "Open Sans", sanf-serif;
  text-decoration: none;
  font-weight: 600;
}
#contextHelpMenu ul.nav-main > li {
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}
#contextHelpMenu ul.nav-main > li > a,
#contextHelpMenu ul.nav-main > li > .first-level {
  padding: 16px 58px 16px 24px;
  font-size: 18px;
  color: #212121;
  font-weight: 600;
}
#contextHelpMenu ul.nav-main > li > a:hover,
#contextHelpMenu ul.nav-main > li > .first-level:hover {
  background: #F2FFEE;
}
#contextHelpMenu ul.nav-main > li > a.active,
#contextHelpMenu ul.nav-main > li > .first-level.active {
  background: #E2FCDA;
}
#contextHelpMenu ul.nav-main > li.opened {
  background: rgba(255, 255, 255, 0.6);
}
#contextHelpMenu ul.nav-main > li > ul > li > a:hover:not(.active) {
  background: #F2FFEE;
}
#contextHelpMenu ul.nav-main li.has_sublist {
  position: relative;
}
#contextHelpMenu ul.nav-main li.has_sublist > a + span,
#contextHelpMenu ul.nav-main li.has_sublist > .first-level + span {
  border-radius: 6px;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  width: 26px;
  height: 26px;
  opacity: 0.3;
  background: url("/my/s3/images/svg_icons/oah_icons/oah-add.svg") center / 26px 26px no-repeat;
}
#contextHelpMenu ul.nav-main li.has_sublist > a + span:hover,
#contextHelpMenu ul.nav-main li.has_sublist > .first-level + span:hover {
  opacity: 1;
  background-color: #E2FCDA;
}
#contextHelpMenu ul.nav-main li.has_sublist > a:hover + span,
#contextHelpMenu ul.nav-main li.has_sublist > .first-level:hover + span {
  opacity: 1;
}
#contextHelpMenu ul.nav-main li.has_sublist.opened > a + span,
#contextHelpMenu ul.nav-main li.has_sublist.opened > .first-level + span {
  top: 16px;
  background-image: url("/my/s3/images/svg_icons/oah-small-remove.svg");
}
#contextHelpMenu ul.nav-main li.opened > ul {
  display: block;
}
#contextHelpMenu ul.nav-main ul {
  display: none;
  margin-left: 32px;
  margin-right: 16px;
  margin-bottom: 16px;
}
#contextHelpMenu ul.nav-main ul li {
  padding: 2px 0;
}
#contextHelpMenu ul.nav-main ul li a {
  border-radius: 6px;
  padding: 6px 32px 6px 8px;
  font-size: 16px;
  color: #212121;
}
#contextHelpMenu ul.nav-main ul li a.active {
  color: #212121;
  background: #E2FCDA;
}
#contextHelpMenu ul.nav-main ul li.has_sublist > a + span {
  background-size: 24px 24px;
  right: 4px;
}
#contextHelpMenu ul.nav-main ul li.has_sublist.opened > a + span {
  top: 6px;
}
#contextHelpMenu ul.nav-main ul ul {
  margin: 10px 0 6px 16px;
}
#contextHelpMenu ul.nav-main ul ul a {
  font-size: 15px;
  color: #1155CC;
}
#contextHelpMenu ul.nav-main ul ul a:hover {
  text-decoration: underline;
}
#contextHelpMenu ul.nav-main ul ul ul a {
  color: #212121;
  font-size: 14px;
  font-weight: normal;
}
.s3-action-select .s3-select.white.v2 + .chzn-container.chzn-with-drop .chzn-drop .chzn-results li {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  color: #333 !important;
  padding: 7px 24px 9px 50px !important;
  letter-spacing: -0.2px;
}
.s3-action-select .s3-select.white.v2 + .chzn-container.chzn-with-drop .chzn-drop .chzn-results li.action:before {
  width: 26px;
  height: 26px;
  margin-top: -13px;
}
.s3-action-select .s3-select.white.v2 + .chzn-container.chzn-with-drop .chzn-drop .chzn-results li.action.view:before {
  background-image: url("/my/s3/images/svg_icons/oah-view.svg");
}
.s3-action-select .s3-select.white.v2 + .chzn-container.chzn-with-drop .chzn-drop .chzn-results li.action.hide:before {
  background-image: url("/my/s3/images/svg_icons/oah-view-hide.svg");
}
.s3-action-select .s3-select.white.v2 + .chzn-container.chzn-with-drop .chzn-drop .chzn-results li.action.delete:before {
  background-image: url("/my/s3/images/svg_icons/oah-trash-red.svg");
}
.s3-action-select .s3-select.white.v2 + .chzn-container.chzn-with-drop .chzn-drop .chzn-results li.action.allow_indexing:before {
  background-image: url("/my/s3/images/svg_icons/oah-seoindex-on.svg");
}
.s3-action-select .s3-select.white.v2 + .chzn-container.chzn-with-drop .chzn-drop .chzn-results li.action.disallow_indexing:before {
  background-image: url("/my/s3/images/svg_icons/oah-seoindex-off.svg");
}
.s3-action-select .s3-select.white.v2 + .chzn-container a.chzn-single > span.action {
  padding-left: 35px;
}
.s3-action-select .s3-select.white.v2 + .chzn-container a.chzn-single > span:before {
  width: 26px;
  height: 26px;
  margin-top: -13px;
}
.s3-action-select .s3-select.white.v2 + .chzn-container a.chzn-single > span.view:before {
  background-image: url("/my/s3/images/svg_icons/oah-view.svg");
}
.s3-action-select .s3-select.white.v2 + .chzn-container a.chzn-single > span.hide:before {
  background-image: url("/my/s3/images/svg_icons/oah-view-hide.svg");
}
.s3-action-select .s3-select.white.v2 + .chzn-container a.chzn-single > span.delete:before {
  background-image: url("/my/s3/images/svg_icons/oah-trash-red.svg");
}
.s3-action-select .s3-select.white.v2 + .chzn-container a.chzn-single > span.allow_indexing:before {
  background-image: url("/my/s3/images/svg_icons/oah-seoindex-on.svg");
}
.s3-action-select .s3-select.white.v2 + .chzn-container a.chzn-single > span.disallow_indexing:before {
  background-image: url("/my/s3/images/svg_icons/oah-seoindex-off.svg");
}
@media screen and (max-width: 1560px) {
  .menu-actions-wrap.redesign .adaptive-controls .s3-radio-tabs.medium label.s3-rb.with-ico {
    font-size: 0 !important;
    padding: 0 7px !important;
  }
  .menu-actions-wrap.redesign .adaptive-controls .s3-radio-tabs.medium label.s3-rb.with-ico .s3-ico {
    display: none;
    margin: 0;
  }
  .menu-actions-wrap.redesign .adaptive-controls .s3-radio-tabs.medium label.s3-rb.with-ico .s3-ico.s3-tooltip {
    display: inline-block;
  }
}
@media screen and (max-width: 1420px) {
  .menu-group-operation span.title {
    font-size: 0 !important;
  }
}
@media screen and (max-width: 1280px) {
  header.s3-header-new .navbar > ul > li a.adaptive {
    font-size: 0;
  }
}
@media screen and (max-width: 1366px) {
  header.s3-header-new .s3-site-info .site-vers .site-ver-control {
    font-size: 0;
    padding: 0;
  }
  .menu-actions-wrap.redesign .adaptive-controls .menu-group-operation .s3-btn-v2 {
    font-size: 0;
    padding: 0 7px;
  }
  .menu-actions-wrap.redesign .adaptive-controls .menu-group-operation .s3-btn-v2 .s3-ico {
    margin: 0;
    display: none;
  }
  .menu-actions-wrap.redesign .adaptive-controls .menu-group-operation .s3-btn-v2 .s3-ico.s3-tooltip {
    display: inline-block;
  }
}
@media screen and (max-width: 1280px) {
  header.s3-header-new .navbar > ul > li a.adaptive {
    font-size: 0;
  }
  header.s3-header-new .navbar > ul > li a.adaptive span.s3-ico {
    margin-right: 0 !important;
  }
  header.s3-header-new .navbar > ul > li a.adaptive span.s3-ico.w1280 {
    display: flex;
    margin: 0 !important;
  }
  header.s3-header-new .navbar > ul > li a.hide__icon span.s3-ico.w1280:nth-child(2) {
    display: none;
  }
}
.context__search {
  position: relative;
  width: 100%;
  height: 40px;
  background: white;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 1px 5px rgba(43, 43, 43, 0.2);
  display: flex;
  margin-right: 24px;
}
.context__search input {
  flex-grow: 1;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: block;
  font-size: 1em;
  padding: 10px 16px;
  box-sizing: border-box;
  background: none;
  font: 600 14px "Open Sans", sans-serif;
}
.context__search input::placeholder {
  color: #212121;
  opacity: 0.5;
}
.context__search button {
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 7px;
  width: 40px;
  height: 40px;
  border-radius: 0 4px 4px 0;
  text-align: center;
  border: none;
  background: #F3F3F3 url("/my/s3/images/svg_icons/oah-search2.svg") 50% 50% no-repeat;
  background-size: 26px 26px;
  cursor: pointer;
  outline: none;
}
.context__search:hover {
  cursor: pointer;
}
.context__search:hover button {
  background-color: #D6FFD8;
  color: white;
}
.page__list {
  display: flex;
}
.page__list .s3_pagelist_container {
  display: flex;
}
.page__list .s3_pagelist_container > a,
.page__list .s3_pagelist_container > b {
  margin: 0;
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
}
.page__list .s3_pagelist_container > a span,
.page__list .s3_pagelist_container > b span {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  line-height: 30px;
  background-color: #fff;
  border: 1px solid #E1E1E1;
}
.page__list .s3_pagelist_container > a span:active,
.page__list .s3_pagelist_container > b span:active {
  box-shadow: none;
}
.page__list .s3_pagelist_container > span {
  margin: 0;
}
.page__list span.s3_pagelist_name {
  display: none;
}
.page__list span.s3_pagelist_name + b.s3_pagelist_lnk_active span {
  border-radius: 4px 0 0 4px;
  border-left: 1px solid #E1E1E1;
}
.page__list span.s3_pagelist_name + a.s3_pagelist_lnk span {
  border-radius: 4px 0 0 4px;
  border-left: 1px solid #E1E1E1;
}
.page__list a {
  text-decoration: none;
}
.page__list a.s3_pagelist_lnk_first span,
.page__list a.s3_pagelist_lnk_last span,
.page__list a.s3_pagelist_lnk_next span,
.page__list a.s3_pagelist_lnk_prev span {
  font-size: 0;
  line-height: 0;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}
.page__list a.s3_pagelist_lnk span {
  font-size: 13px;
  letter-spacing: -0.2px;
  color: #333;
  font-family: "Open Sans", sanf-serif;
  font-weight: 600;
  border-radius: 0;
  border-left: none;
}
.page__list a.s3_pagelist_lnk:hover span {
  background-color: #F2FFEE;
}
.page__list a.s3_pagelist_lnk:first-child span {
  border-radius: 4px 0 0 4px;
  border-left: 1px solid #E1E1E1;
}
.page__list a.s3_pagelist_lnk_prev {
  margin-right: 16px;
}
.page__list a.s3_pagelist_lnk_prev span {
  background-image: url("/my/s3/images/svg_icons/oah_icons/oah-arrow-left-grey.svg");
}
.page__list a.s3_pagelist_lnk_prev + a.s3_pagelist_lnk span {
  border-radius: 4px 0 0 4px;
  border-left: 1px solid #E1E1E1;
}
.page__list a.s3_pagelist_lnk_prev + b.s3_pagelist_lnk_active span {
  border-radius: 4px 0 0 4px;
  border-left: 1px solid #E1E1E1;
}
.page__list a.s3_pagelist_lnk_first {
  margin-right: 4px;
}
.page__list a.s3_pagelist_lnk_first span {
  background-image: url("/my/s3/images/svg_icons/oah_icons/oah-arrow-left-dual-grey.svg");
}
.page__list a.s3_pagelist_lnk_next {
  margin-left: 16px;
}
.page__list a.s3_pagelist_lnk_next span {
  background-image: url("/my/s3/images/svg_icons/oah_icons/oah-arrow-right-grey.svg");
}
.page__list a.s3_pagelist_lnk_last {
  margin-left: 4px;
}
.page__list a.s3_pagelist_lnk_last span {
  background-image: url("/my/s3/images/svg_icons/oah_icons/oah-arrow-right-dual-grey.svg");
}
.page__list b.s3_pagelist_lnk_active span {
  font-size: 13px;
  font-family: "Open Sans", sanf-serif;
  background-color: #C4FBC7;
  font-weight: 600;
  border: 1px solid #E1E1E1;
  border-left: none;
  border-radius: 0;
}
.page__list b.s3_pagelist_lnk_active:last-child span {
  border-radius: 0 4px 4px 0;
}
.page__list b.s3_pagelist_lnk_active + a.s3_pagelist_lnk span {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
@media screen and (max-width: 767px) {
  .s3-context-help {
    display: none;
  }
  .btn__open-context__help__wrap {
    display: none;
  }
}
.notice_popup_content {
  max-width: 1243px;
  margin: 0 auto;
  padding: 22px 2px;
  box-sizing: border-box;
  font-family: "Open Sans", sanf-serif;
}
.notice_popup_content .notice_date {
  display: inline-block;
  vertical-align: top;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.4px;
  color: #838383;
  position: relative;
}
.notice_popup_content .notice_date .s3-ico.i-ol-favorite {
  margin: -4px 0 0 2px;
  width: 15px;
  height: 15px;
  background-size: contain;
}
.notice_popup_content .notice_text {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  padding: 16px 0 48px;
}
.notice_popup_content .s3-btn {
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  font-weight: 600;
  font-size: 15px;
}
.bluepopup-wrapper > table td.draggable_title > span.notice_title {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #212121;
  font-family: "Open Sans", sanf-serif;
}
.icon.news .notice_number {
  position: absolute;
  top: -2.7px;
  right: 0;
  width: 16px;
  height: 16px;
  font-size: 9px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.366667px;
  color: #FFFFFF;
  background: #E7433A;
  border-radius: 50%;
  display: none;
}
