.fast-pay .light-color {
    color: #777;
}

.fast-pay-table th {
    text-align: left;
}

.fast-pay-warning {
    padding: 6px 10px;
    border-radius: 6px;
    background-color: #fdf8bc;
    color: #333;
}

.fast-pay-warning .i-info {
    margin-right: 5px;
}

.fast-pay-alert {
    padding: 6px 10px;
    border-radius: 6px;
    background-color: #ffe2dd;
    color: #333;
}

.fast-pay-alert  .i-alert-red-solid {
    margin-right: 5px;
}

.fast-pay-alert  .fast-pay-alert-text {
    margin-right: 5px;
}

.fast-pay-alert-text {
    color: #e7433a;
}

.fast-pay .s3-pagelist-wrapper{
    text-align: center;
}

.fast-pay-green-add-btn {
    padding-left: 7px;
}


.fast-pay-table-wrap {
    padding: 10px 15px 15px;
}

.fast-pay .table-light {
    font-size: 13px;
}

.fast-pay .table-light th {
    font-weight: 700;
    padding-right: 45px;
}

.fast-pay .table-light td, .fast-pay .table-light td {
    padding-top: 8px;
    padding-bottom: 8px;
}

.fast-pay .title-light {
    font-weight: normal;
}

.fast-pay .title-blue {
    color: #5681cb;
    margin-bottom: 30px;
}

.fast-pay .title-with-line {
    position: relative;
    overflow: hidden;
}

.fast-pay .title-with-line:after {
    position: absolute;
    top: 50%;
    margin-left: 12px;
    height: 1px;
    background-color: #d8d8d8;
    content: '';
    width: 100%;
}

.fast-pay .s3-btn.w-ico-first.add-order .s3-ico:first-child {
    margin-right: 0;
}

.fast-pay .s3-data-list {
    margin-top: 15px;
    font-size: 12px;
}

.fast-pay .s3-data-list-table {
    width: 100%;
    white-space: nowrap;
}

.fast-pay .s3-data-list .s3-data-list-table tbody tr:nth-child(odd) {
    background: #fcfcfc;
}
.fast-pay .s3-data-list .s3-data-list-table tbody tr:nth-child(even) {
    background: none;
}
.fast-pay .s3-data-list .s3-data-list-table tbody tr.fast-pay-orders-item-from-cms {
    background-color: #fffcd7;
}


.fast-pay .s3-data-list .s3-data-list-table tbody tr td {
    font-size: 12px;
    color: #212121;
}

.fast-pay  .s3-data-list .s3-data-list-table thead tr th.full-width, .fast-pay  .s3-data-list .s3-data-list-table tbody tr td.full-width {
    width: 100%;
}

.fast-pay .s3-data-list .date .time {
    margin-left: 8px;
}

.fast-pay .s3-data-list th.price {
    text-align: center;
    padding-right: 45px;
}
.fast-pay .s3-data-list td.price {
    text-align: right;
}

.fast-pay .s3-data-list .s3-data-list-table tbody tr td.detail {
    color: #777;
}


.fast-pay .handle {
    cursor: ns-resize;
}


/** Услуги **/

.fast-pay .s3-data-list-services {
    min-width: 580px;
}

.fast-pay .s3-data-list-services .s3-clipboard-btn {
    margin: 0 10px;
    opacity: 1;
}

.fast-pay .s3-data-list-services .sort {
    padding-left: 8px;
    padding-right: 0;
}

.fast-pay .s3-data-list-services .name {
    padding-left: 12px !important;
}

.fast-pay .s3-data-list-services td.price {
    padding-right: 80px;
}


.fast-pay .s3-data-list-services .name a, .fast-pay .s3-data-list-services .price b {
    font-size: 13px;
}

.fast-pay .s3-data-list-services .actions, .fast-pay .s3-data-list-services .s3-data-list-table tbody tr td.actions {
    padding-right: 10px;
}

/** Услуги **/


/** Просмотр заказа **/

.order-container {
    min-width: 410px;
    margin: 15px 0 30px;
    padding: 10px;
    color: #212121;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.order-section {
    padding-bottom: 15px;
}

.order-section-title {
    padding-bottom: 15px;
    color: #666;
    font-size: 16px;
}

.order-section-list-row {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.order-section-list-row:first-of-type .order-section-list-col-title {
    border-top: 0;
}

.order-section-list-col {
    vertical-align: top;
    padding: 10px 15px;
    box-sizing: border-box;
}

.order-section-list-col-title {
    border-top: 1px solid #fff;
    font-weight: 700;
    color: #212121;
    background-color: #fafafa;

    -moz-box-flex: 1;
    -webkit-flex: 1 0 40%;
    -moz-flex: 1 0 40%;
    -ms-flex: 1 0 40%;
    flex: 1 0 40%;
    max-width: 40%;
    box-sizing: border-box;
}
.order-section-list-col-content {
    margin-left: 14px;
    border-top: 1px solid #d8d8d8;

    -moz-box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}


.order-footer .order-section-list-col-title, .order-footer .order-section-list-col-content {
    border: 0;
    background: none;
}

.order-total-price {
    font-size: 22px;
}
.order-currency {
    font-size: 17px;
}

/** Просмотр заказа **/

/** Формы **/
.fast-pay-forms .form-element.with-padding {
    padding-left: 55px;
}

.fast-pay-forms .form-element.with-padding .form-item-title {
    margin-left: -55px;
}

.fast-pay-forms .form-element .form-item-title {
    padding-bottom: 5px;
}

#fast-pay-order-container {
    display: none;
}

/** Формы **/

@media print {
    #fast-pay-order-container {
        display: block;
    }
}


.fast-payments-filter {
    position: relative;
    margin-bottom: 28px;
}
.fast-block-title {
    height: 30px;
    color: #212121;
    font-family: Arial;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
}
.fast-payments-filter .s3-btn#fast-payments-langs-btn {
    display: block;
    margin: 0;
    width: 240px;
    height: 35px;
    background-color: #fcfcfc;
    border: 1px solid silver;
    border-radius: 4px;
    box-shadow: none;
    color: #212121;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.fast-payments-filter .s3-btn#fast-payments-langs-btn:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: url("/my/s3/images/svg_icons/ic_ar-updown.svg") 0 50% no-repeat;
    width: 20px;
}
.fast-payments-filter .s3-btn#fast-payments-langs-btn.context-button-active {
    background-color: #fffaf1;
    border-color: #fbb017;
    box-shadow: 0 1px 2px #fadca0;
    outline-style: none;
}
.fast-payments-filter .s3-btn#fast-payments-langs-btn span.s3-ico {
    margin-right: 8px;
    margin-top: -1px;
}
.fast-payments-filter .context-menu {
    margin-top: 4px;
}
.fast-payments-filter #fast-payments-langs li {
    padding-top: 5px;
    padding-bottom: 5px;
}
.fast-payments-note {
    margin: 0 0 25px;
    color: #333;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
}
.fast-payments-note span.s3-ico {
    margin-right: 15px;
}
.payment-systems-list li span.title-note {
    display: inline-block;
    vertical-align: middle;
    color: #a5a36e;
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
}
.payment-systems-list li .url {
    float: right;
    width: 32px;
    height: 30px;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background-color: #f6f6f6;
    border-radius: 0 2px 2px 0;
}
.payment-systems-list li .url.recommend {
    background-color: #f4f4a7;
}
.payment-systems-list li .status {
    color: #666;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    padding-right: 12px;
    padding-left: 25px;
}