/* from header tpl */

*[readonly] {background: #f4f4f4;}
span.topmenuText { color: #666666; font-size: 12px; }
a.topmenuLink { color: #000000; text-decoration: underline; font-size: 12px; }
a.topmenuLink2 { color: #000000; text-decoration: underline;  font-size: 12px; }
a.topmenuLink2:hover { color: #000000; text-decoration: underline;  font-size: 12px;  }
a.topmenuRedLink { color: #ee0000; text-decoration: underline; font-weight: bold; font-size: 12px;  }
td.flag {  padding:4px 7px 4px 7px; }

/* COMMON */

SPAN.link { cursor:pointer; color:blue; font-family: arial; font-size:11px;}


/* service divs  */

div.loading { display: none; font-size:12px; color:#000000; border-bottom: 2px solid #000000; border-right: 2px solid #000000; background-color: #ffffff; padding: 30px; font-weight: bold; }
div.modal { background-color:#000;width:100%;height:100%;position: fixed; top:0px; left:0px; display:none; opacity:0.5;filter:alpha(opacity=50); }

/* global vars */

body, td { font-family: arial; font-size: 13px; }
th{font-size: 0.94em; font-weight:bolder;}
h3 { font-size:18px; font-family: arial; margin-top: 0px; margin-bottom: 10px; }
h4 { font-size:16px; font-family: arial; margin-top: 5px; margin-bottom: 8px; }

a { text-decoration: none; color: #0088CC;}
a:hover { text-decoration: underline; }

/* Tables */

.table1{border-width:0 1px 1px 0; border-style: solid; border-color: black; }
.table1 td, .table1 th{border-width:1px 0 0 1px; border-style: solid; border-color: black; padding:1px 3px;}
@media screen {
	.table-min, .table-min-v, .results-table {
		font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
		border: 0 none;
	}
	.table-min th {
		font-weight: normal;
		font-size: 14px;
		padding: 10px 8px;
		border-width: 0 0 2px 0;
		border-color: #666666;
		border-style: solid;
		color: #1a1a1a;
	}
	.table-min td, .table-min-v td {
		color: #404040;
		padding: 6px 8px;
		border-bottom: 1px solid #ccc;
	}
	.table-min tr:hover td, .table-min-v tr:hover td  {color: #0a0a0a;}
	.table-min-v-first {background: #f4f4f4; }

	.results-table {
		border: 1px solid #cccccc !important;
	}

	.results-table tr > td {
		background: #f8f8f8;
		vertical-align: top;
	}

	.results-table table {
		border: none !important;
	}

	.results-table .results-table-result td {
		padding-right: 20px;
		border: none !important;
	}

	.results-table .results-table-result {
		border: none !important;
	}
}
@media print {
	.table-min, .table-min-v { border-width:0 1px 1px 0; border-style: solid; border-color: black; }
	.table-min td, .table-min-v td,
	.table-min th, .table-min-v th{ border-width:1px 0 0 1px; border-style: solid; border-color: black; padding:1px 3px;}

	.results-table {
		border: 1px solid #cccccc;
	}

	.results-table > td {
		background: #f8f8f8;
	}

	.results-table .results-table-sub-row {
		width: 100%;
	}
	.results-table table {
		border: none !important;
	}
	.results-table .results-table-sub-row td {
		border: none;
	}

	.results-table .results-table-result td {
		padding-right: 20px;
	}
}

.draggable { cursor: move; }
.draggable_title {cursor: move; //height:auto;}

/* menu pages tree */
span.tpl {cursor:pointer;font-size:11px;font-family:Arial;color:#669966;margin-left:25px;}
span.pageName { font-size: 13px; color: #000099;  text-decoration: none; cursor: pointer; }
span.pageName:hover { font-size: 13px; color: #000099; text-decoration: underline; cursor: pointer; }
span.pageHidden { font-size: 13px; color: #999999;  text-decoration: none; cursor: pointer; }
span.pageVerification { font-size: 13px; color: darkviolet;  text-decoration: none; cursor: pointer; }
span.pageHidden2 { font-size: 13px; color: #ff6666;  text-decoration: none; cursor: pointer; }
span.pageContextMenu { font-size: 13px; text-decoration: none; color: #000000; font-weight: bold; cursor: pointer; }
span.pageLocked, span.pageLocked:hover {color: darkcyan !important;}
a.pageUrl { margin-left: 15px; font-size: 11px; font-family: arial; color: #777777; }
a.noindex { color: darkred; }
span.pageLink { color: #777777; font-size: 11px; font-family: arial;}
span.pageLink a { color: #666699; }
#divPageInfo {position: absolute; display: none; padding: 6px; z-index: 5200; background: #F9F9ED; border: 1px solid #B8BC76; }
#divPageInfo td {font-size: 11px !important;}

div.branch { padding: 0 0 0 15px; margin: 0 0 0 4px; background-image:
	url(/my/s3/images/branch.gif?v=2); background-repeat: no-repeat;
	background-position: left 10px;
	white-space: nowrap; font-size:11px; font-family: arial; font-weight:
	normal; line-height: 20px; border-left:1px dotted #999;}
div.branch-end { padding: 0 0 0 15px; margin: 0 0 0 4px; background-image: url(/my/s3/images/branch-end.gif); background-repeat: no-repeat; white-space: nowrap;  font-size: 11px; font-family: arial; font-weight: normal; line-height: 20px; }
div.branch-root { padding: 0 0 0 15px; margin: 0 0 0 4px; white-space: nowrap;  font-size: 13px; font-family: arial; color: #000000; line-height: 20px; }

img.page-expand-collapse{position: relative; top: 0px; left: -20px; margin: 0 -12px 0 0; cursor: pointer;}
div.branch-collapsed, div.branch-collapsed div {display: none;}
div.branch-expanded, div.branch-collapsed {display: block;}
div.branch-collapsed div {display: none;}

div.tree-empty { border: 1px dashed gray; padding: 0 0 0 15px; margin: 0 0 0 4px; white-space: nowrap;  font-size: 11px; font-family: arial; color: #666666; font-weight: bold; line-height: 20px; }

div#saveFolderOrder { text-align:center; }
span.savePagesOrder, span.saveFolderOrder { font-weight: bold; background-color: #ffff00; text-decoration: none; color: black; cursor: pointer; padding-left: 10px; padding-right: 10px; border-bottom: 1px solid #999999; border-right: 1px solid #999999; }
span.savePagesOrderCancel, span.saveFolderOrderCancel { font-weight: bold; background-color: #dddddd; text-decoration: none; color: black; cursor: pointer; padding-left: 10px; padding-right: 10px; border-bottom: 1px solid #999999; border-right: 1px solid #999999; }

/* ClassForm */
div.form_error,
span.form_error { color:red;font-weight:bold;}
span.form_note { color: #aaaaaa; font: normal 12px Arial; line-height: 14px;}
span.form_note.list-note {
	display: inline-block;
	padding: 5px 0 0 8px;
}
span.form_readonly_title {font-weight:bold;}
span.form_readonly_value {font-weight:bold;font-size:14px;color:#f5a709}
span.form_required { color:red;font-weight:bold;}

/* object global colors */

.objectContentWrapper {}
.objectName, .objectContainer { text-decoration: none; cursor: pointer; font-weight: bold; }
.objectRemove { color: #aa0000 !important; text-decoration: none; cursor: pointer; }
.objectRemove-img { vertical-align: middle; }
.objectChoose { color: #009900; text-decoration: none; cursor: pointer; }
.objectInfo { color: #777777; text-decoration: none; font-weight: normal; }
.objectInfo a, .objectInfo a:visited {color:#3F3F3F;}
.objectInfo small {write-space: wrap;}
.objectNotRequired { color: #777777; text-decoration: none; }
.objectAction { color: #1155cc; cursor: pointer; text-decoration: none;  }
.objectEdit { color: #1155cc; cursor: pointer; text-decoration: none;  }
.objectActionBlack { color: #444444; cursor: pointer; text-decoration: underline; write-space: nowrap; }
.staffUser, div.staffUser label {color: #9A4CBD !important;}
div.staffUser, p.staffUser, tr.staffUser {border: 1px dotted #979797; background: #FDF0FF; margin: 0 0 10px 0; padding: 10px; border-radius: 4px;}

.objectName:hover, .objectContainer:hover, .objectRemove:hover, .objectEdit:hover, .objectAction:hover, .objectChoose:hover { text-decoration: underline; }
.folderContentControl{max-width: 580px;}
.folderContentControl__add-button {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 7px 12px;
    display: inline-block;
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px #DFDFDF;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.2px;
    color: #212121;
}
.folderContentControl__add-button:hover {
    box-shadow: inset 0 1px 1px #DFDFDF;
    background-color: #D5FDD7;
}

.discountSelectItem { cursor: pointer; border: 1px solid #dedede; text-decoration: none; padding: 5px; color: #6D8DAD; font-size: 11px; line-height: 10px; margin-bottom: 4px; margin-right:3px; background: #f2f2f2; display: inline-block; border-radius: 2px; text-shadow: 0px -1px 0px rgba(153,153,153,0.2), 0px 1px 1px rgba(255,255,255,1); }
.discountSelectItem:hover { text-decoration: none; background: #DCE3E5; border: 1px solid #B6CDDB; color: #6D8DAD; }

.bonusSelectItem { cursor: pointer; border: 1px solid #dedede; text-decoration: none; padding: 5px; color: #6D8DAD; font-size: 11px; line-height: 10px; margin-bottom: 4px; margin-right:3px; background: #f2f2f2; display: inline-block; border-radius: 2px; text-shadow: 0px -1px 0px rgba(153,153,153,0.2), 0px 1px 1px rgba(255,255,255,1); }
.bonusSelectItem:hover { text-decoration: none; background: #DCE3E5; border: 1px solid #B6CDDB; color: #6D8DAD; }

/* Template data */
.b-name { }
.b-name span{ font:normal 18px/32px Arial; color:#3f3f3f; float:left}
.b-name a{ font:normal 12px/32px Arial; float:right; background:url(/my/s3/images/ico-openlink.png) 100% 40% no-repeat; padding:0 20px;}

.data-block  { font-family:Arial; border-collapse:collapse; width:100%; border-top:3px solid #e2e2e2}
.data-block td { padding:10px 20px 10px 7px; line-height:18px; font-size:14px; color:#838383}
.data-block tr { border-bottom: 1px solid #e2e2e2;}
.data-block tr.odd { background: #f5f5f5;}

.data-block td a.name { color:#00f; font:normal 14px Arial; text-decoration:underline; padding-left:25px; background:url(/my/s3/images/ico-edit.png) 0 50% no-repeat;}
.data-block td a.name:hover { text-decoration:none;}

.data-block td a.new {background:url(/my/s3/images/ico-add.png) 0 50% no-repeat; color:#299f2e;}
.data-block td a.new:hover { color:#299f2e;}


table.shared td a.name { color:#7c7cdf; font:normal 12px Arial; text-decoration:underline; padding-left:25px; background:url(/my/s3/images/ico-edit.png) 0 50% no-repeat;}
table.shared td a.name:hover { text-decoration:none;}

table.shared td a.new {background:url(/my/s3/images/ico-add.png) 0 50% no-repeat; color:#299f2e;}
table.shared td a.new:hover { color:#299f2e;}


table.shared td span.noedit{ color:#838383; font-size:12px; margin-left: 25px; }


.data-block td a.edit{ color:#838383; font-size:12px; text-decoration:underline; padding-left:25px; background:url(/my/s3/images/ico-replace.png) 0 50% no-repeat;}
.data-block td a.edit:hover { text-decoration: underline; color:#00f; }


table.data-block td.query { font-size:11px; color:#838383; }

table.data-block td a.query {padding-right:14px; padding-left:25px; text-decoration:none; color:#838383;  background:url(/my/s3/images/ico-query.png) 0 50% no-repeat;}
table.data-block td a.query:hover { color:#00f; text-decoration:underline}

table.data-block td a.alias { text-decoration:underline; padding-left: 15px;  color:#838383; font-family: monospace;}
table.data-block td a.alias:hover { color:#00f; }



/* object list */

ul.boxes {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li.box { border-bottom: 1px solid #e0e0e0; background-color: #f0f0f0; padding: 5px 10px; }
tbody#kinds_items tr.box {background-color: #f0f0f0;}
li.box.hiddenByLink {background: #E1E9F6;}
body .box.selected {background: #D6FFD8 !important;}
li.disactivated {border: 1px solid #DF8B8B !important; background-color: #FFEFEF !important }
li.box_draggable { border: 1px solid #e0e0e0; background-color: #f0f0f0; margin-bottom: 5px; padding: 5px;cursor:move; list-style-type: none;}
ul.boxes li.box_draggable { width: 100% }
ul.boxes li ul {
	list-style: none;
	padding: 0 0 0 20px;
}
/* object list redesign */
.data-list-title {
	color: #484848;
	font: 700 13px Arial;
	line-height: 15px;
	margin-bottom: 5px;
}
.form-item-title {
    display: block;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #212121;
    margin-bottom: 4px;
}
.form-item-title b {
    font-weight: 600;
}

.form-item-title strong {
    font-weight: 600;
}
ul.boxes.data-list {
	list-style-type: none;
	background: #ebebeb;
	margin: 0px;
	padding: 7px;
	border-radius: 4px;
	max-width: 900px;
}
ul.boxes.data-list.single li.box .handle {
	display: none;
}
ul.boxes.data-list.json_sortable li.s3_sortable_placeholder,
ul.boxes.data-list.ui-sortable li.s3_sortable_placeholder {
	margin-bottom: 3px;
	height: 30px;
	box-sizing: border-box;
}
#shop2-field-container li.box .handle,
ul.boxes.data-list.json_sortable li.box .handle,
ul.boxes.data-list.shop2-ref-elements li.box .handle,
ul.boxes.data-list.shop2-color-ref-elements li.box .handle,
ul.boxes.data-list.lp_layout_sortable li.box .handle,
ul.boxes.data-list.ui-sortable li.box .handle {
	background: url("/my/s3/images/svg_icons/ic_draggable.svg") 50% 50% no-repeat #f8f8f8;
	float: left;
	width: 22px;
	height: 40px;
	vertical-align: middle;
	cursor: move;
	border-radius: 2px 0 0 2px;
}
._page-edit__buttons .s3_sortable_placeholder {
	width: 238px;
	height: 76px;
	margin-right: 15px;
	border-radius: 6px;
}
ul.s3-data-list.ui-sortable li.data-list-item .handle,
ul.s3-data-list.template_sortable li.data-list-item .handle {
	background: url("/my/s3/images/svg_icons/ic_draggable.svg") 50% 50% no-repeat;
	vertical-align: middle;
	cursor: move;
	border-radius: 2px 0 0 2px;
}
ul.s3-data-list.ui-sortable li.data-list-item .handle:hover {
	background-image: url("/my/s3/images/svg_icons/ic_draggable-hover.svg");
}

div.ui-sortable a._page-edit__buttons-item .handle,
div.template_sortable a._page-edit__buttons-item .handle {
	background: url("/my/s3/images/svg_icons/ic_draggable_black.svg") 50% 50% no-repeat;
	opacity: .5;
	width: 10px;
	height: 30px;
	vertical-align: middle;
	cursor: move;
	border-radius: 2px 0 0 2px;
}

div.ui-sortable a._page-edit__buttons-item .handle:hover {
	background-image: url("/my/s3/images/svg_icons/ic_draggable_black.svg");
	opacity: .6;
}
#menu_container li.box > ul{
	border-top: 1px solid #e0e0e0;
	padding: 10px 10px 10px 0;
}
#menu_container li.box > ul ul {
	display: none;
}
#menu_container li.box{
	border: none;
	background: none;
	padding: 0;
}
#menu_container li.box span.title{
	background-color: #f0f0f0;
	display: block;
	padding: 8px;
	border-bottom: 1px solid #e0e0e0;
	cursor: pointer;
	font-weight: bold;
}
#menu_container li.box .s3-rb .ico{
	margin: 0 3px;
}
#menu_container li.box span.objectName{
	line-height: 22px;
}
#menu_container .s3-btn.without-margin{
	margin: 0px 0;
	line-height: 18px;
	padding: 0;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	height: 18px;
	width: 18px;
	color: #3ead43;
}
#menu_container .s3-btn.without-margin .sign:before{
	content:"+";
	font-size: 15px;
}
#menu_container .s3-btn.without-margin .sign.minus:before{
	content:"-";
}
#shop2-field-container li.box .handle:hover,
ul.boxes.data-list.json_sortable li.box .handle:hover,
ul.boxes.data-list.ui-sortable li.box .handle:hover {
	background-image: url("/my/s3/images/svg_icons/ic_draggable-hover.svg");
	background-color: #DAE7FC;
}
ul.boxes.data-list li.box .toggler {
	background: #f8f8f8;
	float: left;
	padding: 0 7px;
	height: 30px;
	vertical-align: middle;
	cursor: move;
	border-radius: 2px 0 0 2px;
	position: relative;
}
ul.boxes.data-list li.box .toggler .switcher {
	padding: 0;
}
ul.boxes.data-list li.box .toggler .switcher .ico {
	margin-left: 0;
	margin-right: 0;
}
ul.boxes.data-list li.box {
	background: #ffffff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: none;
	box-shadow: 0 1px 1px rgba(120, 120, 120, 0.23);
	padding: 0;
	position: relative;
}
ul.boxes.data-list li.locked {
	background-color: #ffe2dd;
}

ul.boxes.data-list li.box .note {
	color: #666;
	font-family: Arial, Helvetica, sanf-serif;
	font-size: 12px;
	font-weight: 400;
	float: left;
	display: block;
	line-height: 30px;
	padding-left: 7px;
	padding-right: 7px;
}

ul.boxes.data-list li.box .switcher {
	float: right;
	padding: 0 4px;
	display: block;
	line-height: 30px;
	background-color: #f6f6f6;
	margin: 0 1px;
}

ul.boxes.data-list li.box .system {
	float: right;
	width: 94px;
	display: block;
	height: 30px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

ul.boxes.data-list li.box .system-ga {
	background-image: url(/my/s3/images/badge-analitics.svg);
}

ul.boxes.data-list li.box .system-ya {
	background-image: url(/my/s3/images/badge-metrika.svg);
}

ul.boxes.data-list li.box.invisible-menu-item .title .name{
	color: #333333;
}
ul.boxes.data-list:after,
ul.boxes.data-list li.box:after,
ul.boxes.data-list li.controls:after {display:block; clear:both; content:"."; visibility:hidden; line-height:0;}

ul.boxes.data-list li.box + li.box,
ul.boxes.data-list li.box + li.s3_sortable_placeholder {
	margin-top: 5px;
}
ul.boxes.data-list li.box:first-child + li.s3_sortable_placeholder {
	margin-top: 0;
}
ul.boxes.data-list li.box + li.s3_sortable_placeholder:last-child {
	margin-bottom: 0;
}
ul.boxes.data-list li.box .title {
	padding: 0 10px;
	cursor: pointer;
	float: left;
	max-width: 800px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
ul.boxes.data-list li.box .title .objectEdit {
	display: inline-block;
}
ul.boxes.data-list li.box .title-note {
	font-size: 10px;
	color: #666;
	line-height: 30px;
}
ul.boxes.data-list li.box .title .objectEdit:hover,
ul.boxes.data-list li.box .title .objectName:hover{
	text-decoration: none;
}
ul.boxes.data-list li.box .title .name {
	color: #15c;
	font: 700 13px Arial;
	line-height: 30px;
	padding-left: 6px;
	padding-right: 6px;
}
ul.boxes.data-list li.box .title:hover .name {
	text-decoration: underline;
}
ul.boxes.data-list li.box .title.readonly {
	cursor: default;
	padding-left: 4px;
}
ul.boxes.data-list li.box .title.readonly .name {
	color: #212121;
}
ul.boxes.data-list li.box .title.readonly.processing .name,
ul.boxes.data-list li.box .title.readonly.disabled .name {
	color: #828282;
}
ul.boxes.data-list li.box .title.readonly:hover .name {
	text-decoration: none;
}
ul.boxes.data-list li.box .settings {
	border-right: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
}
ul.boxes.data-list li.box .settings,
ul.boxes.data-list li.box .remove,
ul.boxes.data-list li.box .force,
ul.boxes.data-list li.box .status,
ul.boxes.data-list li.box .copy {
	float: right;
	width: 32px;
	height: 30px;
	cursor: pointer;
	line-height: 30px;
	text-align: center;
}
ul.boxes.data-list li.box .remove .s3-ico.i-delete-svg {
	width: 32px;
	height: 30px;
	max-width: 32px;
	vertical-align: top;
	background-color: #f8f8f8;
	background-position: 8px 6px;
	-webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
}
ul.boxes.data-list li.box .remove .s3-ico.i-delete-svg:hover {
	background-color: #ffe2dd;
}
ul.boxes.data-list li.box .status {
	cursor: default;
	color: #666666;
	font-family: Arial;
	font-size: 12px;
	font-weight: 400;
	width: auto;
	padding-right: 12px;
}
ul.boxes.data-list li.box .status .s3-ico {
	margin-right: 8px;
}

ul.boxes.data-list li.box .settings .s3-ico.i-gear-svg,
ul.boxes.data-list li.box .settings .s3-ico.i-info,
ul.boxes.data-list li.box .force .s3-ico.i-force,
ul.boxes.data-list li.box .settings .s3-ico.i-ol-results,
ul.boxes.data-list li.box .copy .s3-ico.i-copy-svg {
	width: 32px;
	height: 30px;
	max-width: 32px;
	vertical-align: top;
	background-color: #f8f8f8;
	background-position: 7px 6px;
}
ul.boxes.data-list li.box .copy .s3-ico.i-copy-svg {
	background-image: url('/my/s3/images/svg_icons/ic_ol_copy.svg');
}
ul.boxes.data-list li.box .force .s3-ico.i-force.enable {
	background-color: #d0f8ca;
}
ul.boxes.data-list li.box .force .s3-ico.i-force.disable {
	background-color: #ffe2dd;
}
ul.boxes.data-list li.box .settings .s3-ico.i-gear-svg:hover,
ul.boxes.data-list li.box .settings .s3-ico.i-ol-results:hover,
ul.boxes.data-list li.box .copy .s3-ico.i-copy-svg:hover {
	background-color: #DAE7FC;
}
ul.boxes.data-list li.controls {
	color: #212121;
}
ul.boxes.data-list li.controls + li.box {
	margin-top: 6px;
}
ul.boxes.data-list li.controls.hidden + li.box {
	margin-top: 0;
}
ul.boxes.data-list.single li.controls + li.box {
	margin-top: auto;
}
ul.boxes.data-list li.controls:last-child {
	padding-bottom: 0;
}
ul.boxes.data-list li.controls .title {
	font: 700 13px Arial;
	line-height: 34px;
	padding-left: 10px;
}
ul.boxes.data-list li.controls .s3-btn:first-child {
	margin-left: 0;
}
ul.boxes.data-list li.controls .s3-btn {
	margin-right: 0;
}
ul.boxes.data-list li.controls .s3-btn + .s3-btn {
	margin-left: 6px;
}
ul.boxes.data-list li.controls .s3-btn.right {
	float: right;
}
ul.boxes.data-list.noedit li.box .title {
	cursor: auto;
}
ul.boxes.data-list.noedit li.box span.name {
	color: #212121;
	text-decoration: none !important;
	cursor: auto;
}

li.image { width: 160px; height: 175px; margin: 10px 10px 0px 0px; display: inline-block; text-align:center; font-size: 9px; font-family: arial; }
li.image_draggable { width: 160px; height: 175px; margin: 10px 10px 0px 0px; display: inline-block; text-align:center; font-size: 9px; font-family: arial;cursor:move; }

img.image { border: 2px solid #cccccc; cursor: pointer; }

/* spacers */

.spacer4 { font-size:4px; }
.spacer20 { height: 20px; }


/* forms */

form { margin : 0px; }
input.buttonBluepop { cursor: pointer; font-weight: bold; }
div.yellow_help { font-weight:normal; border-top:1px dotted #999999; border-bottom:1px dotted #999999; padding:7px; background-color: #ffffcc; }
.checkbox{margin:0px;}

form .hidden {
	display: none;
}
button.objectAction {
	border: 0px none;
	background: none;
	padding: 1px 6px;
	margin: 0;
}

/* folder Selector */

div.folderBranch, span.all-folders {position: relative; padding: 0 0 0 15px; margin: 0 0 0 7px;
	background-image: url(/my/s3/images/branch.gif); background-repeat: no-repeat;
	background-position: left 10px; white-space: nowrap;
	font-size:13px; font-family: arial; font-weight: normal; line-height: 20px;
	border-left: 1px dotted #999999;}
span.all-folders {display: block;}
div.folderBranch-end { padding: 0 0 0 15px; margin: 0 0 0 7px; background-image: url(/my/s3/images/branch-end.gif); background-repeat: no-repeat; background-position: 0 1px; white-space: nowrap;  font-size: 13px; font-family: arial; font-weight: normal; line-height: 20px; }
div.folderBranch-root { padding: 0 0 0 15px; margin: 0 0 0 -10px; white-space: nowrap;  font-size: 13px; font-family: arial; color: #666666; font-weight: normal; line-height: 20px; }
span.folderName { color: #0000cc; text-decoration: none; cursor: pointer; }
span.folderHidden {color: #999999; font-weight: bolder;}
span.folderLinked {color: #2E902E; font-weight: bolder;}
span.folderContextMenu { color: #000099; text-decoration: none; font-weight: bold; cursor: pointer; }
div.folderBranch input {margin: 0 3px;}
img.folderEye { cursor: pointer; border: 1px solid #ccc; }
img.folderLink { cursor: pointer; border: 1px solid rgba(255,255,255,0); margin-right: 4px;}

img.folder-expand-collapse{position: relative; top: 0px; left: -20px; margin: 0 -9px 0 0; cursor: pointer;}
div.folderBranch-collapsed, div.folderBranch-collapsed div {display: none;}
div.folderBranch-expanded, div.folderBranch-collapsed {display: block;}
div.folderBranch-collapsed div {display: none;}

/* context menus */

td.contextMenuIcon { text-align:center; height: 28px; width: 30px; background-color: #dfdfdf; }
td.contextMenuName { padding: 7px 5px 7px 10px; font-size: 12px; font-family: arial; background-color: #ffffff; white-space: nowrap;}
td.contextMenuName span { color: #666666; cursor: pointer; }
td.contextMenuName span:hover { color: #666666; cursor: pointer; text-decoration: underline; }

/* confirm */

#confirm, #confirm_green, #lp_confirm, .confirm-popup{
    box-sizing: border-box;
    min-width: 270px;
    padding: 25px 30px;
    background-color: #ffffff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.32);
    display: none;
    border-radius: 4px;
	max-width: 500px;
}
#confirm #confirm_message,
#confirm_green #confirm_green_message,
#lp_confirm #lp_confirm_message,
.confirm-popup #confirm_message,
#cropper_confirm #cropper_confirm_message {
    display: block;
    margin-bottom: 25px;
    color: #333;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
}
#cropper_confirm #cropper_confirm_message {
	font-size: 14px;
}
#confirm #confirm_submit,
#confirm_green #confirm_green_submit,
#lp_confirm #lp_confirm_submit,
.confirm-popup #confirm_submit, #cropper_confirm #cropper_confirm_submit {
    outline-style: none;
}

#alert, #prompt, #cropper_confirm {
	box-sizing: border-box;
	width: 400px;
	padding: 25px 30px;
	background-color: #ffffff;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.32);
	display: none;
	border-radius: 4px;
	max-width: 500px;
}
#cropper_confirm {
	width: auto;
	max-width: 510px;
}
#alert {
	position: fixed !important;
	top: 50px !important;
}
#alert_message {
	display: block;
	margin-bottom: 25px;
	color: #333;
	font-size: 15px;
	font-weight: 400;
	line-height: 17px;
}
#prompt input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 25px;
}
#prompt-title {
	display: block;
	margin-bottom: 3px;
	color: #333;
	font-size: 13px;
	font-weight: 700;
	line-height: 17px;
}
#alert_message p:first-child {
	margin-top: 0;
}
#alert .s3-btn {
	margin-left: 0;
}

/* forms */

div.fieldset { padding: 10px; border: 1px solid #d0d0d0; margin-top: 10px; margin-bottom: 10px; height: 55px; }
span.fieldset { padding:0px 10px 0px 10px; background-color: white; display: inline; margin-top: -17px; position: absolute; color: #666666; }

form.hidden { margin: 0px 0px 0px 0px; }

/* page content and properties */

div.fieldset2 { padding: 10px; border: 1px solid #d0d0d0; margin-bottom: 15px; }
span.fieldset2 { padding:0px 10px 0px 10px; background-color: white; display: inline; font-weight: bold; margin-top: -17px; position: absolute; color: #666666; }
li.normal { margin-top: 2px; }
li.empty { color: #cc0000; margin-top: 2px; }
span.switch { cursor: pointer; -moz-user-select: none; -khtml-user-select: none; user-select: none; }
.page-type-desc td {white-space: nowrap;}

/* selector */

li.selected_empty { background-color: transparent; border-width: 0px; }

/* anketa */
div.anketa_control { margin-bottom:1px; border: 1px solid #d0d0d0; padding:15px; background-color:#f0f0f0; cursor: move; }
div.anketa_empty { width: 50px; background-color: white; }
span.anketa_button { background-color: #dddddd; border:1px solid #cccccc; padding: 0px 5px 0px 5px; cursor: pointer; }
/* board */
div.disactivatedPost,div.normalPost{padding: 15px; margin-bottom:15px;}
div.disactivatedPost{border:1px solid #DF8B8B;background-color:#FFEFEF;}
div.normalPost{border:1px solid #999999;background-color:#F0F0F0;}

div#ajax-loader {
	background:#FF8A00 none repeat scroll 0 0;
	color:#FFFFFF;
	display:none;
	margin:0 auto;
	padding: 2px 8px;
	position:absolute;
	top:0;
	left: 0;
	font-size:90%;
}

tr.green {background: #D4FFBF; color: #2E6F0D}
tr.green:hover {background: #DFFFCF; }

tr.pink {background: #FFBFD4; color: #6F0D2E}
tr.pink:hover {background: #FFCFDF; }

tr.cyan {background: #BFFFFE; color: #0D6F6D}
tr.cyan:hover {background: #CFFFFE}

tr.blue {background: #BFE2FF; color: #0D436F}
tr.blue:hover {background: #CFE9FF}

tr.violet {background: #FFBFFF; color: #6F0D6F}
tr.violet:hover {background: #FFCFFF}

tr.orange{background: #FFE9BF; color: #6F4E0D}
tr.orange:hover {background: #FFEFCF}

tr.red {background: #FF9FA3; color: darkred}
tr.red:hover {background: #FFBFC2}

tr.brown{background: #DFA67D; color: #7F3A07}
tr.brown:hover {background: #EFBB95;}

tr.grey{background: #C0C0C0; color: #333}
tr.grey:hover {background: #D3D3D3;}

tr.magenta{background: rgb(250,117,250); color: #BF00BF}
tr.magenta:hover {background: rgb(250,117,252);}

tr.aquamarine{background: #CFFFEE; color: #0AAF76}
tr.aquamarine:hover {background: #DFFFF3;}

tr.khaki{background: #BDB76B; color: #5F5706 }
tr.khaki:hover {background: #CFC881;}

/* select options */
option.separator {font-weight: bolder; color: #333; text-align: center; font-weight: 1.05em}

/* XHR msgs */
.xhr-error-details {
	font-size: xx-small;
	font-family: monospace;
	font-weight:normal
}
.xhr-msg {
	position: fixed;
	color: #fff;
	padding: 15px;
	display: inline-block;
	border-radius: 30px;
	background-color: rgba(0,0,0,0.7);
	font-size: 15px;
	text-align: center;
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	opacity: 0;
}
.popup-message {
	font-weight: bolder;
	position: absolute;
	border: 1px solid #CCCCCC;
	color: #000000;
	padding: 5px;
	background-color: #FFFFFF;
}

/*search results*/
.search-highlight{background: #F9F993; color: #222222;}

/*code highlight*/
pre .comment{color: #007700; font-style: italic;}

/*advertise blocks*/

.usefull_info a, .importaint_info a {color:#006cdb; text-decoration:underline;}
.usefull_info a:hover, .importaint_info a:hover {text-decoration:none;}

.adv_info, .importaint_info, .usefull_info {
    margin-bottom: 13px;
    padding-bottom: 10px;
    width: 270px;
}

div.vkontakte_info {
    margin-bottom: 13px;
}
.vkontakte_info p, .adv_info p, .importaint_info p, .usefull_info p{
    color: #464646;
    display: block;
    font: bold 14px Arial,Helvetica,sans-serif;
    margin-left: 18px;
    margin-top: 5px;
}


.adv_info ul, .importaint_info ul, .usefull_info ul{
    list-style:none;
    margin:20px 0 10px 14px;
    padding:0;
}

.adv_info ul li, .importaint_info ul li, .usefull_info ul li{
    background:url("/my/s3/images/blocks_marker.gif") 0 10px no-repeat;
    font: normal 12px Arial;
    padding:3px 0 3px 13px;
}

.adv_info {
    background:url("/my/s3/images/rblock_hline_bg.jpg") 0 26px no-repeat;
}

.importaint_info {
    background:url("/my/s3/images/rblock_hline_bg.jpg") -571px 26px no-repeat;
}

.usefull_info {
    background:url("/my/s3/images/rblock_hline_bg.jpg") -285px 26px no-repeat;
}

.warning { background: #FFEDED; border: 1px solid #ED8080; color: darkred; padding: 10px; font-weight: bolder; }

.init-calendar {
	width: 76px;
	font-size:0.86em;
}

/*Page list*/

.s3_pagelist_container span{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0px 0px 1px #fff inset;
	display: inline-block;
	border: 1px solid #bbb;
	color: #444444;
	width: 25px;
	height: 25px;
	font-size: 11px;
	text-align:center;
	line-height: 25px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: border 0.218s ease 0s;
	transition: background 0.218s ease 0s;
	}
.s3_pagelist_container span:hover{
	border: 1px solid #A3A3A3;
	}
.s3_pagelist_container span:active{
	background: #eee;
	box-shadow: 0px 1px 1px #777 inset;
	border: 1px solid #bbb;
	color: #444444;
	text-decoration: none;
	}
span.s3_pagelist_lnk_first,
span.s3_pagelist_lnk_prev,
span.s3_pagelist_lnk_next,
span.s3_pagelist_lnk_last {
	width: auto;
	padding: 0 5px;
	background: #F2F2F2;
	border: 1px solid #bbb;
	color: #444;
	transition: border 0.218s ease 0s;
	transition: background 0.218s ease 0s;
	}
span.s3_pagelist_lnk_first:hover,
span.s3_pagelist_lnk_prev:hover,
span.s3_pagelist_lnk_next:hover,
span.s3_pagelist_lnk_last:hover {
	text-decoration: none;
	background: #f2f2f2;
	}
b.s3_pagelist_lnk_active span{
	background: #f2f2f2;
	border: 1px solid #A3A3A3;
	color: #444;
	}
.s3_pagelist_container span.disabled, .s3_pagelist_container span.disabled:hover,.s3_pagelist_container span.disabled:active{
	color: #cccccc;
	background: #fff;
	border: 1px solid #CCC9C9;
	text-shadow: none;
	box-shadow: none;
	cursor: default;
	}

.s3_sortable_placeholder,
tbody#kinds_items tr.sortable_fix td.s3_sortable_placeholder_table {
	background: #F8FFE5;
	height: 30px;
	border: 1px dashed #919B9C;
	float: none !important;
}

/*
a: t.ismailov
d: 31.01.2013

start
*/
.s3_templates_download {float: right; margin: -30px 60px 0 0; }
.s3_templates_download a {float: none; display: block; margin: 0 0 15px 0;}
.s3_cl {line-height: 0; font-size: 0; height: 0; clear: both; float: none;}
/*end*/

/* ratings stars */
.s3_rating {display:inline-block; width:55px; font-size:0; height:10px; background:url("/my/s3/images/ico-rating.png") 0 0 repeat-x; text-align:left;}
.s3_rating .s3_rating_stars {width:11px; height:10px; background:url("/my/s3/images/ico-rating.png") 0 -13px repeat-x; display:inline-block;}
.s3_rating.stars-2 .s3_rating_stars {width:22px;}
.s3_rating.stars-3 .s3_rating_stars {width:33px;}
.s3_rating.stars-4 .s3_rating_stars {width:44px;}
.s3_rating.stars-5 .s3_rating_stars {width:55px;}
/* rating end */


/* discount hint*/
.s3-tooltip {cursor: pointer}
body .custom-tooltip-styling {
    max-width: 300px !important;
	z-index: 9999999 !important;
	background-color: #FFF99D !important;
    background-image: none !important;
	border: none !important;
    border-radius: 4px !important;
    margin-left: -5px !important;
    margin-top: -11px !important;
    padding: 15px !important;
	box-shadow: 0px 1px 4px rgba(169, 162, 50, 0.4) !important;
    font: normal 13px/16px Arial, Helvetica, sans-serif;
    color: #333;
	box-sizing: border-box !important;
    overflow-wrap: break-word;
}
body .custom-tooltip-styling.small {
	padding: 6px 10px !important;
}
body .custom-tooltip-styling.access {
	background-color: #ffcac0 !important;
	padding: 10px 15px !important;
	color: #212121;
	font-family: Arial;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	border-color: #ffcac0 !important;
}
body .custom-tooltip-styling.access strong {
	display: block;
	padding-bottom: 5px;
}
/* discount hint*/


/* articles */
.selected-article {	display: block; min-height: 15px; list-style:none; min-width:300px; border-bottom: 1px dashed #ccc;padding:4px 0; }
.selected-article__icon {display: block; cursor: move; float: left; text-decoration: none; margin: -1px 5px 0 0;}
.selected-article .objectRemove {float: right}
.selected-article span {padding-right: 15px;display: block;}

/* articles end */
.s3_settings_notice {
	background: #FFDAD8;
	border: 1px solid #FF3823;
	padding: 10px 5px;
	color: #B90F0A;
}

.cms_advanced_more {
	display: inline-block;
	margin-left: 10px;
}

.cms_advanced_alert {
	font-weight: normal;
}
select[name='form[tariffs][]'] +  .chzn-container-multi .chzn-choices .search-choice{
	float: none;
	margin-right: 5px;
}
