include _header.jade


<div class="site-container block-404-wr">
    <div class="site-container__inner">
        <div class="site-container__inner__right no-left-col">
            <section class="block-404">
                <div class="block-404__inner block-width">
                    <div class="block-404__image">
                        <img src="img/cart/404header.svg" alt="404header">
                    </div>
                    <div class="block-404__text">Неправильно набран адрес, или такой страницы на сайте больше не существует.<br>Вернитесь на главную.</div>
                    <div class="block-404__btn">
                        <a href="/">На главную</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
include _footer_contacts.jade