<div class="bottom_form">
    <div class="bottom_form_border">
        <svg width="1102" height="300" viewBox="0 0 1102 300" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1083.69 299.947H18.5045C18.0265 299.947 17.5486 299.589 17.5486 298.991C17.5486 290.269 10.3795 283.1 1.65705 283.1C1.17911 283.1 0.701172 282.741 0.701172 282.144V17.6809C0.820657 17.2029 1.17911 16.725 1.77654 16.725C10.499 16.725 17.5486 9.67538 17.5486 0.952953C17.5486 0.355526 18.0265 -0.00292969 18.5045 -0.00292969H1083.69C1084.17 -0.00292969 1084.65 0.355526 1084.65 0.952953C1084.65 9.67538 1091.82 16.8445 1100.54 16.8445C1101.02 16.8445 1101.5 17.2029 1101.5 17.8004V282.383C1101.5 282.861 1101.14 283.339 1100.54 283.339C1091.82 283.339 1084.65 290.508 1084.65 299.23C1084.53 299.589 1084.17 299.947 1083.69 299.947ZM19.3409 298.155H1082.74C1083.21 289.074 1090.5 281.905 1099.46 281.427V18.5173C1090.38 18.0393 1083.21 10.7507 1082.74 1.78935H19.3409C18.8629 10.8702 11.5743 18.0393 2.61294 18.5173L2.61294 281.427C11.6938 281.905 18.8629 289.194 19.3409 298.155Z" fill="#D7B05F" /></svg>
    </div>
    <div class="bottom_form_inner">
        <div class="bottom_form_inner__left">
            <div class="bottom_form__title">Не нашли то,<br />что нужно?</div>
            <div class="bottom_form__text">выполним икону по индивидуальному заказу</div>
        </div>
        <div class="bottom_form_inner__right">
            <form action="#">
                <div class="tpl-field type-text required">
                    <div class="field-value">
                        <input type="text" size="30" maxlength="100" value="" name="d[0]" placeholder="Ваше имя">
                    </div>
                </div>
                <div class="tpl-field type-phone required">
                    <div class="field-value">
                        <input type="text" size="30" maxlength="100" value="" name="d[1]" placeholder="Ваш телефон">
                    </div>
                </div>
                <div class="tpl-field type-email required">
                    <div class="field-value">
                        <input type="text" size="30" maxlength="100" value="" name="d[1]" placeholder="Ваша почта">
                    </div>
                </div>
                <div class="tpl-field type-text">
                    <div class="field-value">
                        <input type="text" size="30" maxlength="100" value="" name="d[1]" placeholder="Какая икона">
                    </div>
                </div>
                <div class="tpl-field type-policity">
                    <label>
                        <input type="checkbox" checked="">
                        <span>Я согласна на <a href="#">обработку персональных данных</a></span>
                    </label>
                </div>
                <div class="tpl-field tpl-field-button">
                    <button type="submit" class="tpl-form-button">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>