</div>
</div>
<footer class="footer">
    <div class="block_inner">
        <div class="footer_top">
            <div class="logo">
                <a href="">
                    <img src="img/logo-footer.png" alt="">
                </a>
            </div>
            <div class="phone">
                <a href="tel:+7 495 888 4567">+7 495 888 4567</a>
            </div>
            <a href="" class="btn_link" data-remodal-target="callback-form-main">Обратный звонок</a>
            include _soc_block.jade
            <div class="email">
                <a href="mailto:aleksei64200@mail.ru">aleksei64200@mail.ru</a>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="menu_footer_mob">
                <ul>
                    <li><a href="">Главная</a></li>
                    <li><a href="">Каталог</a></li>
                    <li><a href="">О мастерской</a></li>
                </ul>
            </div>
            <div class="left">
                <div class="yandex_block">
                    <div class="name">Отзывы на Яндекс.картах</div>
                    <div class="image">
                        <iframe src="https://yandex.ru/sprav/widget/rating-badge/41884959120" width="150" height="50" frameborder="0"></iframe>
                    </div>
                </div>
                <div class="copy">© Наследие, 2011-2025г. <br>  Все права защищены. <br>Копирование фото материалов и текстов запрещено.</div>
            </div>
            <div class="footer_menu">
                <div class="col">
                    <ul>
                        <li>
                            <a href="">Главная</a>
                            <ul>
                                <li><a href="">Вопрос ответ</a></li>
                                <li><a href="">Блог</a></li>
                                <li><a href="">Отзывы</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="">Каталог</a>
                            <ul>
                                <li><a href="">Иконы в наличии</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li>
                            <a href="">О мастерской</a>
                            <ul>
                                <li><a href="">О нас</a></li>
                                <li><a href="">Контакты</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="">Покупателям</a>
                            <ul>
                                <li><a href="">Как заказать</a></li>
                                <li><a href="">Доставка и оплата</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer_map">
                <div class="address">Наш магазин <br>Москва, ул. Большая Якиманка, д. 19, метро «Полянка»</div>
                <div class="map">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A78c9ebd1183f0b9d0f247d4e98499274336826eb4fbfb9f25fb20e600cdf7261&amp;source=constructor" width="100%" height="202" frameborder="0"></iframe>
                </div>
            </div>
            <div class="copy_mob">© Наследие, 2011-2025г. <br>  Все права защищены. <br>Копирование фото материалов и текстов запрещено.</div>
        </div>
    </div>
</footer>
</div>
<div class="panel_fixed">
    <div class="btn_f btn_catalog burger_btn">
        <i></i>
        <span>Меню</span>
    </div>
    <div class="btn_f btn_search">
        <i></i>
        <span>Поиск</span>
    </div>
    <a href="" class="btn_f btn_favorites">
        <i></i>
        <span>Избранное</span>
    </a>
    <a href="" class="btn_f cart_mini">
        <i></i>
        <span>Корзина</span>
    </a>
    <a href="#" class="btn_f btn_call">
        <i></i>
        <span>Связаться</span>
    </a>
    <div class="select_btns">
        <a href="#" class="call_btn" data-remodal-target="callback-form-main">
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1254_10113)">
                <path d="M21.3862 10.4915C21.4162 6.96678 18.4142 3.73557 14.6943 3.28875C14.6203 3.27998 14.5397 3.26662 14.4544 3.25249C14.2702 3.22198 14.0797 3.19061 13.8876 3.19061C13.1252 3.19061 12.9214 3.72617 12.8677 4.04558C12.8155 4.35614 12.8653 4.61693 13.0154 4.82105C13.2679 5.16437 13.7121 5.22532 14.069 5.27415C14.1735 5.28859 14.2722 5.30203 14.3548 5.32058C17.6971 6.0674 18.8224 7.24155 19.3724 10.5554C19.3859 10.6363 19.3919 10.7361 19.3984 10.8419C19.4224 11.2381 19.4724 12.0622 20.3584 12.0622H20.3585C20.4322 12.0622 20.5115 12.0558 20.594 12.0433C21.4191 11.9179 21.3933 11.1645 21.3808 10.8026C21.3773 10.7006 21.374 10.6042 21.3826 10.5401C21.3849 10.5239 21.3861 10.5077 21.3862 10.4915Z" fill="#781F1C" />
                <path d="M13.6711 1.99441C13.7701 2.00155 13.8638 2.00838 13.9419 2.02034C19.4301 2.86436 21.9541 5.46467 22.6536 10.9959C22.6655 11.0899 22.6673 11.2046 22.6693 11.326C22.6763 11.7582 22.6906 12.6571 23.6561 12.6758L23.686 12.6761C23.9888 12.6761 24.2297 12.5848 24.402 12.4045C24.7025 12.0901 24.6815 11.6231 24.6646 11.2478C24.6605 11.1557 24.6565 11.069 24.6575 10.9931C24.7273 5.3361 19.8306 0.206366 14.1787 0.0156056C14.1552 0.0148292 14.1329 0.0160714 14.1103 0.0192547C14.0992 0.0208851 14.0786 0.0229037 14.0433 0.0229037C13.987 0.0229037 13.9176 0.0180124 13.8441 0.0130435C13.7552 0.00698758 13.6544 0 13.5523 0C12.6522 0 12.4811 0.639751 12.4592 1.02112C12.4087 1.90248 13.2614 1.96452 13.6711 1.99441Z" fill="#781F1C" />
                <path d="M22.3888 18.144C22.2721 18.0549 22.1514 17.9627 22.0385 17.8717C21.4392 17.3894 20.8017 16.945 20.1852 16.5151C20.0572 16.4259 19.9293 16.3367 19.8018 16.2473C19.0121 15.6926 18.302 15.423 17.6312 15.423C16.7277 15.423 15.94 15.9222 15.2899 16.9066C15.0018 17.343 14.6524 17.5552 14.2217 17.5552C13.967 17.5552 13.6777 17.4825 13.3617 17.3391C10.8126 16.1832 8.99234 14.4108 7.95143 12.0713C7.44824 10.9405 7.61136 10.2014 8.49692 9.59985C8.99979 9.25855 9.93582 8.62314 9.86952 7.40637C9.79444 6.02462 6.74568 1.86709 5.46113 1.39488C4.91726 1.19488 4.34584 1.19302 3.75966 1.39022C2.28295 1.88665 1.22324 2.75847 0.694828 3.91126C0.184191 5.02516 0.20725 6.33308 0.76152 7.69364C2.36385 11.6273 4.61664 15.057 7.45756 17.8872C10.2383 20.6577 13.6561 22.9271 17.6159 24.6321C17.9728 24.7857 18.3472 24.8695 18.6205 24.9306C18.7137 24.9516 18.7941 24.9694 18.8527 24.9855C18.885 24.9943 18.9182 24.999 18.9515 24.9993L18.9828 24.9995C18.9828 24.9995 18.9828 24.9995 18.9829 24.9995C20.8454 24.9995 23.0816 23.2976 23.7684 21.3574C24.3701 19.6585 23.2715 18.8187 22.3888 18.144Z" fill="#781F1C" />
                <path d="M14.4953 6.48719C14.1764 6.49526 13.5129 6.51172 13.28 7.18758C13.1711 7.50342 13.1841 7.77764 13.3188 8.00264C13.5165 8.33276 13.8952 8.43393 14.2397 8.48944C15.489 8.68991 16.1306 9.38075 16.259 10.6634C16.3186 11.2614 16.7213 11.679 17.2384 11.679C17.2766 11.679 17.3157 11.6768 17.3546 11.6721C17.9765 11.5981 18.278 11.1411 18.2507 10.3141C18.2607 9.45101 17.809 8.47112 17.0407 7.69061C16.2698 6.90769 15.3406 6.46677 14.4953 6.48719Z" fill="#781F1C" />
              </g>
              <defs>
                <clipPath id="clip0_1254_10113">
                  <rect width="25" height="25" fill="white" />
                </clipPath>
              </defs>
            </svg>
        </a>
        <a href="" class="wh">
            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.0042 1.1123H16.9959C8.25955 1.1123 1.15527 8.23776 1.15527 17C1.15527 20.4754 2.27216 23.6969 4.17158 26.3123L2.19719 32.214L8.2877 30.2621C10.7929 31.9264 13.7816 32.8876 17.0042 32.8876C25.7405 32.8876 32.8448 25.7599 32.8448 16.9999C32.8448 8.23989 25.7405 1.1123 17.0042 1.1123Z" fill="#56B95D" />
              <path d="M26.2232 23.5474C25.8408 24.6301 24.3237 25.5274 23.1138 25.79C22.2855 25.9664 21.2044 26.1078 17.5644 24.5943C12.9076 22.6601 9.90905 17.9155 9.67563 17.6077C9.45151 17.2998 7.79395 15.0957 7.79395 12.8155C7.79395 10.5357 8.94848 9.42531 9.41412 8.94912C9.79603 8.55752 10.4279 8.37915 11.034 8.37915C11.2302 8.37915 11.4063 8.38885 11.5651 8.39688C12.0305 8.41694 12.2639 8.44449 12.5712 9.18134C12.9534 10.105 13.8841 12.3847 13.9953 12.6193C14.1082 12.8537 14.2208 13.1712 14.0625 13.4789C13.9137 13.7968 13.7833 13.9378 13.5495 14.2077C13.3157 14.4782 13.0936 14.6846 12.8601 14.9743C12.6464 15.2265 12.4047 15.4967 12.6741 15.9635C12.9434 16.4203 13.8741 17.9432 15.2445 19.1666C17.0137 20.7454 18.4472 21.2499 18.9604 21.4645C19.3427 21.6235 19.7981 21.5855 20.0771 21.2877C20.4317 20.9042 20.8699 20.2689 21.3153 19.6435C21.6321 19.1946 22.0321 19.1389 22.4521 19.2977C22.8798 19.4467 25.1436 20.5689 25.6091 20.8012C26.0743 21.0355 26.3817 21.1467 26.4945 21.3434C26.6054 21.5396 26.6054 22.4633 26.2232 23.5474Z" fill="white" />
            </svg>
        </a>
        <a href="" class="tg">
            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1207_9052)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17 0C26.3892 0 34 7.61082 34 17C34 26.3892 26.3892 34 17 34C7.61082 34 0 26.3892 0 17C0 7.61082 7.61082 0 17 0Z" fill="#588DEE" />
                <path d="M24.6509 10.8581L22.2304 23.0602C22.2304 23.0602 21.8917 23.9062 20.9613 23.5005L15.3766 19.2186L15.3507 19.206C16.105 18.5286 21.9548 13.2693 22.2104 13.0309C22.6062 12.6617 22.3605 12.4418 21.901 12.7208L13.2602 18.2079L9.9266 17.0863C9.9266 17.0863 9.402 16.8997 9.35153 16.494C9.30039 16.0876 9.94387 15.8677 9.94387 15.8677L23.5339 10.5367C23.5339 10.5367 24.6509 10.0459 24.6509 10.8581Z" fill="white" />
              </g>
              <defs>
                <clipPath id="clip0_1207_9052">
                  <rect width="34" height="34" fill="white" />
                </clipPath>
              </defs>
            </svg>
        </a>
    </div>
</div>
<div class="remodal" data-remodal-id="callback-form-main" role="dialog" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="close-button">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.3">
                <line x1="30.6329" y1="10.5617" x2="10.5626" y2="30.632" stroke="#781F1C" stroke-width="2" />
                <line x1="29.5468" y1="29.9433" x2="9.83689" y2="10.2333" stroke="#781F1C" stroke-width="2" />
            </g>
        </svg>
    </button>
    <div class="popup-form">
        <div class="popup-form__title">Оставить заявку</div>
        <div class="popup-form__body">
            <form>
                <div class="tpl-field popup-form__form-field required">
                    <input type="text" placeholder="Введите имя">
                </div>
                <div class="tpl-field type-email popup-form__form-field required">
                    <input type="text" placeholder="Введите email">
                </div>
                <div class="tpl-field type-phone popup-form__form-field required">
                    <input type="text" placeholder="Введите телефон">
                </div>
                <div class="tpl-field popup-form__form-field policity-field required">
                    <label>
                        <input type="checkbox" checked>
                        <span>Я согласна на <a href="#">обработку персональных данных</a></span>
                    </label>
                </div>
                <div class="popup-form__form-field submit-button">
                    <button class="tpl-form-button">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="remodal" data-remodal-id="order-pop" role="dialog" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="close-button">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.3">
                <line x1="30.6329" y1="10.5617" x2="10.5626" y2="30.632" stroke="#781F1C" stroke-width="2" />
                <line x1="29.5468" y1="29.9433" x2="9.83689" y2="10.2333" stroke="#781F1C" stroke-width="2" />
            </g>
        </svg>
    </button>
    <div class="popup-form">
        <div class="popup-form__title">Изготовить на заказ</div>
        <div class="popup-form__body">
            <form>
                <div class="tpl-field popup-form__form-field required">
                    <input type="text" placeholder="Введите имя">
                </div>
                <div class="tpl-field type-email popup-form__form-field required">
                    <input type="text" placeholder="Введите email">
                </div>
                <div class="tpl-field type-phone popup-form__form-field required">
                    <input type="text" placeholder="Введите телефон">
                </div>
                <div class="tpl-field popup-form__form-field policity-field required">
                    <label>
                        <input type="checkbox" checked>
                        <span>Я согласна на <a href="#">обработку персональных данных</a></span>
                    </label>
                </div>
                <div class="popup-form__form-field submit-button">
                    <button class="tpl-form-button">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js" integrity="sha512-a/KwXZUMuN0N2aqT/nuvYp6mg1zKg8OfvovbIlh4ByLw+BJ4sDrJwQM/iSOd567gx+yS0pQixA4EnxBlHgrL6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="//cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js?ver=1.0.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.js"></script>
<script src="js/range_slider.js"></script>
<script src="js/catalog.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/inputmask.js"></script>
<script src="js/cart-scripts.js"></script>
<script src="js/main.js"></script>
</body>

</html>