</div>
</div>
<footer class="footer">
    <div class="block_inner">
        <div class="footer_top">
            <div class="logo">
                <a href="">
                    <img src="img/logo-footer.png" alt="">
                </a>
            </div>
            <div class="phone">
                <a href="tel:+7 495 888 4567">+7 495 888 4567</a>
            </div>
            <a href="" class="btn_link" data-remodal-target="callback-form-main">Обратный звонок</a>
            include _soc_block.jade
            <div class="email">
                <a href="mailto:aleksei64200@mail.ru">aleksei64200@mail.ru</a>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="left">
                <div class="yandex_block">
                    <div class="name">Отзывы на Яндекс.картах</div>
                    <div class="image">
                        <img src="img/ya.png" alt="">
                    </div>
                </div>
                <div class="copy">© Наследие, 2011-2025г. <br>  Все права защищены. <br>Копирование фото материалов и текстов запрещено.</div>
            </div>
            <div class="footer_menu">
                <div class="col">
                    <ul>
                        <li>
                            <a href="">Главная</a>
                            <ul>
                                <li><a href="">Вопрос ответ</a></li>
                                <li><a href="">Блог</a></li>
                                <li><a href="">Отзывы</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="">Каталог</a>
                            <ul>
                                <li><a href="">Иконы в наличии</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li>
                            <a href="">О мастерской</a>
                            <ul>
                                <li><a href="">О нас</a></li>
                                <li><a href="">Контакты</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="">Покупателям</a>
                            <ul>
                                <li><a href="">Как заказать</a></li>
                                <li><a href="">Доставка и оплата</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer_map">
                <div class="address">Наш магазин <br>Москва, ул. Большая Якиманка, д. 19, метро «Полянка»</div>
                <div class="map">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A78c9ebd1183f0b9d0f247d4e98499274336826eb4fbfb9f25fb20e600cdf7261&amp;source=constructor" width="100%" height="202" frameborder="0"></iframe>
                </div>
            </div>
            <div class="copy_mob">© Наследие, 2011-2025г. <br>  Все права защищены. <br>Копирование фото материалов и текстов запрещено.</div>
        </div>
    </div>
</footer>
</div>
<div class="panel_fixed">
    <div class="btn_f btn_catalog">
        <i></i>
        <span>Каталог</span>
    </div>
    <div class="btn_f btn_search">
        <i></i>
        <span>Поиск</span>
    </div>
    <a href="" class="btn_f btn_favorites">
        <i></i>
        <span>Избранное</span>
    </a>
    <a href="" class="btn_f cart_mini">
        <i></i>
        <span>Корзина</span>
    </a>
    <a href="" class="btn_f btn_call">
        <i></i>
        <span>Позвонить</span>
    </a>
</div>
<div class="remodal" data-remodal-id="callback-form-main" role="dialog" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="close-button">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.3">
                <line x1="30.6329" y1="10.5617" x2="10.5626" y2="30.632" stroke="#781F1C" stroke-width="2" />
                <line x1="29.5468" y1="29.9433" x2="9.83689" y2="10.2333" stroke="#781F1C" stroke-width="2" />
            </g>
        </svg>
    </button>
    <div class="popup-form">
        <div class="popup-form__title">Оставить заявку</div>
        <div class="popup-form__body">
            <form>
                <div class="tpl-field popup-form__form-field required">
                    <input type="text" placeholder="Введите имя">
                </div>
                <div class="tpl-field type-email popup-form__form-field required">
                    <input type="text" placeholder="Введите email">
                </div>
                <div class="tpl-field type-phone popup-form__form-field required">
                    <input type="text" placeholder="Введите телефон">
                </div>
                <div class="tpl-field popup-form__form-field policity-field required">
                    <label>
                        <input type="checkbox" checked>
                        <span>Я согласна на <a href="#">обработку персональных данных</a></span>
                    </label>
                </div>
                <div class="popup-form__form-field submit-button">
                    <button class="tpl-form-button">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js" integrity="sha512-a/KwXZUMuN0N2aqT/nuvYp6mg1zKg8OfvovbIlh4ByLw+BJ4sDrJwQM/iSOd567gx+yS0pQixA4EnxBlHgrL6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/inputmask.js"></script>
<script src="js/main.js"></script>
</body>

</html>