include _header.jade
<link rel='stylesheet' href="css/swiper-bundle.min.css"/>
<link rel="stylesheet" href="css/cart.css">
<h1 style="text-align: center;">О МАСТЕРСКОЙ</h1>
<div class="site-container">
    <div class="site-container__inner">
        <div class="site-container__inner__right no-left-col">
            <section class="about-us-block">
                <div class="about-us-block__inner block-width">
                    <div class="about-us-block__slider">
                        <div class="about-us-block__slider-inner">
                            <div class="slider-border">
                                <svg width="844" height="341" viewBox="0 0 844 341" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M825.709 340.888H18.5221C18.0441 340.888 17.5662 340.529 17.5662 339.932C17.5662 331.21 10.3971 324.04 1.67463 324.04C1.19669 324.04 0.71875 323.682 0.71875 323.085V18.6213C0.838235 18.1434 1.19669 17.6654 1.79412 17.6654C10.5165 17.6654 17.5662 10.6158 17.5662 1.89338C17.5662 1.29596 18.0441 0.9375 18.5221 0.9375H825.709C826.187 0.9375 826.665 1.29596 826.665 1.89338C826.665 10.6158 833.834 17.7849 842.557 17.7849C843.035 17.7849 843.513 18.1434 843.513 18.7408V323.323C843.513 323.801 843.154 324.279 842.557 324.279C833.834 324.279 826.665 331.448 826.665 340.171C826.546 340.529 826.187 340.888 825.709 340.888ZM19.3585 339.096H824.754C825.232 330.015 832.52 322.846 841.482 322.368V19.4577C832.401 18.9798 825.232 11.6912 824.754 2.72978H19.3585C18.8805 11.8107 11.5919 18.9798 2.63051 19.4577L2.63052 322.368C11.7114 322.846 18.8805 330.134 19.3585 339.096Z" fill="#D7B05F"/>
                                </svg>
                            </div>
                            <div class="slider-wrapper swiper">
                                <div class="swiper-wrapper">
                                    <div class="about-us-block__slider-item swiper-slide">
                                        <img src="img/cart/about-us-slider1.png" alt="about-us-slider1.png">
                                        <div class="item-title">Своя иконописная мастерская</div>
                                    </div>
                                    <div class="about-us-block__slider-item swiper-slide">
                                        <img src="img/cart/about-us-slider1.png" alt="about-us-slider1.png">
                                        <div class="item-title">Своя иконописная мастерская 2</div>
                                    </div>
                                    <div class="about-us-block__slider-item swiper-slide">
                                        <img src="img/cart/about-us-slider1.png" alt="about-us-slider1.png">
                                        <div class="item-title">Своя иконописная мастерская 3</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination">
                                <div class="swiper-pagination-bullet"></div>
                                <div class="swiper-pagination-bullet"></div>
                                <div class="swiper-pagination-bullet"></div>
                            </div>
                        </div>
                        <div class="about-us-block__slider-text">Наша мастерская находится в одном из  древних духовных центров Православной Руси, Владимирской области. Уже в  летописях XVII века эти места упоминаются как оживленные, с погостом и  мужским монастырем на берегу реки Мстёра. Через некоторое время  население разрослось и местность получила статус слободы, ей дали  одноименное название от реки, на берегу которой она расположилась.</div>
                    </div>
                    <div class="about-us-block__history">
                        <div class="about-us-block__history-title">Наша история</div>
                        <div class="about-us-block__history-text">Мстёрские образы отличались особой  нарядностью и свежестью. В дореволюционной России они считались одними  из лучших. Мастера получили особый статус поставщиков императорского и  великокняжеских дворов. Даже в молитвенной комнате императора Николая II находился образ мастеров Мстёры.<br>После 1917 года иконописные мастерские слободы были переориентированы в фабрику пролетарского искусства. В  80-х годов XX века они были восстановлены в прежнем статусе, а искусные  иконописцы воссоздали древнюю традицию письма.<br>«Наследие» обращает Ваше внимание на  то, что наши художники имеют специальное образование и дипломы об  окончании художественных вузов, училищ и иконописных курсов. Но самое  главное – это то, что они являются хранителями и продолжателями древней  традиции русской иконографии.<br>Каждый художник с особым благоговением хранит мастерство, переданное ему от родителей и учителей.</div>
                        <div class="about-us-block__history-slider">
                            <div class="slider-wrapper swiper">
                                <div class="swiper-wrapper">
                                    <div class="slider-item swiper-slide">
                                        <a href="img/cart/history1.png">
                                            <img src="img/cart/history1.png" alt="history1">
                                        </a>
                                    </div>
                                    <div class="slider-item swiper-slide">
                                        <a href="img/cart/history2.png">
                                            <img src="img/cart/history2.png" alt="history2">
                                        </a>
                                    </div>
                                    <div class="slider-item swiper-slide">
                                        <a href="img/cart/history3.png">
                                            <img src="img/cart/history3.png" alt="history3">
                                        </a>
                                    </div>
                                    <div class="slider-item swiper-slide">
                                        <a href="img/cart/history1.png">
                                            <img src="img/cart/history1.png" alt="history1">
                                        </a>
                                    </div>
                                    <div class="slider-item swiper-slide">
                                        <a href="img/cart/history2.png">
                                            <img src="img/cart/history2.png" alt="history2">
                                        </a>
                                    </div>
                                    <div class="slider-item swiper-slide">
                                        <a href="img/cart/history3.png">
                                            <img src="img/cart/history3.png" alt="history3">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-controls">
                                <div class="swiper-button-prev">
                                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.7051 14.4332L6.45508 9.18323L11.7051 3.93323" stroke="#FAF9C3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                                <div class="swiper-button-next">
                                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.86914 3.93298L12.1191 9.18298L6.86914 14.433" stroke="#FAF9C3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    include _bottom_form.jade
</div>

<script src="js/swiper-bundle.min.js"></script>
<script src="js/cart-scripts.js"></script>
include _footer.jade