include _header.jade
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal-default-theme.css" integrity="sha512-nF9G9AnUEVv+zx285OqwGE8c1gmkys3qV6iuDK5rVG/UuZLWRgGBy/tN5WzSXXuZDZ1YvwhJ9+a/DTj71L8Lrw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="css/cart.css">
<div class="site-container">
    <h1>Контакты</h1>
    <div class="site-container__inner">
        <div class="site-container__inner__right no-left-col">
            <section class="contacts-block">
                <div class="contacts-block__inner block-width">
                    <div class="contacts-block__top">
                        <div class="contacts-block__contacts">
                            <div class="body">
                                <div class="contacts-block__phones">
                                    <div class="icon">
                                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_526_6948)">
                                                <path d="M13.6756 7.1579C13.6948 4.9021 11.7735 2.83412 9.39277 2.54816C9.34541 2.54254 9.29383 2.534 9.23923 2.52495C9.12136 2.50543 8.99947 2.48535 8.87649 2.48535C8.38854 2.48535 8.25811 2.82811 8.22377 3.03253C8.19038 3.23129 8.22223 3.3982 8.31828 3.52883C8.47987 3.74856 8.76419 3.78756 8.99257 3.81882C9.0595 3.82806 9.12265 3.83666 9.17552 3.84853C11.3146 4.32649 12.0348 5.07795 12.3868 7.19879C12.3954 7.25062 12.3993 7.31447 12.4034 7.3822C12.4188 7.63571 12.4508 8.16317 13.0178 8.16317H13.0179C13.0651 8.16317 13.1158 8.15909 13.1686 8.15104C13.6967 8.07079 13.6801 7.58866 13.6722 7.357C13.6699 7.29176 13.6678 7.23005 13.6733 7.189C13.6748 7.17867 13.6755 7.16828 13.6756 7.1579Z" fill="#D7B05F"/>
                                                <path d="M8.73796 1.71978C8.80132 1.72435 8.86129 1.72873 8.91123 1.73638C12.4237 2.27655 14.0391 3.94075 14.4867 7.48072C14.4943 7.5409 14.4955 7.61429 14.4968 7.692C14.5012 7.96858 14.5104 8.54393 15.1283 8.55586L15.1475 8.55605C15.3413 8.55605 15.4954 8.49762 15.6057 8.38224C15.798 8.18105 15.7846 7.88217 15.7738 7.64197C15.7712 7.58303 15.7686 7.52753 15.7693 7.47894C15.8139 3.85846 12.68 0.575434 9.06278 0.453347C9.04778 0.45285 9.03347 0.453645 9.01901 0.455682C9.0119 0.456726 8.99873 0.458018 8.97617 0.458018C8.9401 0.458018 8.89573 0.454887 8.84867 0.451707C8.79178 0.447831 8.72728 0.443359 8.66189 0.443359C8.08584 0.443359 7.97632 0.8528 7.96231 1.09687C7.93001 1.66095 8.4757 1.70065 8.73796 1.71978Z" fill="#D7B05F"/>
                                                <path d="M14.318 12.0555C14.2433 11.9985 14.1661 11.9395 14.0938 11.8812C13.7103 11.5726 13.3023 11.2881 12.9077 11.013C12.8259 10.956 12.744 10.8989 12.6624 10.8416C12.1569 10.4866 11.7025 10.3141 11.2732 10.3141C10.695 10.3141 10.1908 10.6336 9.77473 11.2636C9.59038 11.5429 9.36673 11.6787 9.0911 11.6787C8.92812 11.6787 8.74293 11.6322 8.54074 11.5404C6.90929 10.8006 5.74432 9.66627 5.07813 8.16898C4.75609 7.4453 4.86049 6.97226 5.42725 6.58726C5.74909 6.36883 6.34814 5.96217 6.30571 5.18344C6.25766 4.29911 4.30645 1.6383 3.48434 1.33608C3.13627 1.20808 2.77055 1.20689 2.3954 1.3331C1.45031 1.65082 0.772095 2.20878 0.433909 2.94657C0.107101 3.65946 0.121859 4.49653 0.476592 5.36729C1.50208 7.88485 2.94387 10.0798 4.76206 11.8912C6.54173 13.6643 8.72911 15.1167 11.2634 16.2079C11.4918 16.3062 11.7314 16.3598 11.9064 16.3989C11.966 16.4124 12.0175 16.4238 12.055 16.4341C12.0756 16.4397 12.0969 16.4427 12.1182 16.4429L12.1382 16.443C12.1382 16.443 12.1382 16.443 12.1383 16.443C13.3303 16.443 14.7615 15.3538 15.201 14.1121C15.5861 13.0248 14.883 12.4873 14.318 12.0555Z" fill="#D7B05F"/>
                                                <path d="M9.26591 4.59516C9.06183 4.60033 8.63714 4.61086 8.48812 5.04341C8.4184 5.24555 8.42675 5.42105 8.51296 5.56505C8.63947 5.77633 8.88186 5.84107 9.10233 5.8766C9.90188 6.0049 10.3125 6.44704 10.3947 7.26791C10.4328 7.65066 10.6906 7.91794 11.0215 7.91794C11.0459 7.91794 11.071 7.9165 11.0959 7.91347C11.4939 7.86612 11.6868 7.5737 11.6694 7.0444C11.6757 6.49201 11.3867 5.86488 10.895 5.36535C10.4016 4.86428 9.80688 4.58209 9.26591 4.59516Z" fill="#D7B05F"/>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_526_6948">
                                                    <rect width="16" height="16" fill="white" transform="translate(-0.00976562 0.443359)"/>
                                                </clipPath>
                                                </defs>
                                        </svg>
                                    </div>
                                    <div class="phones">
                                        <div class="item">
                                            <a href="tel:+7 495 888 4567">+7 495 888 4567</a>
                                        </div>
                                    </div>
                                    <div class="btn">
                                        <a href="javascript:void(0);" data-remodal-target="callback-form-main">Обратный звонок</a>
                                    </div>
                                </div>
                                <div class="contacts-block__mails">
                                    <div class="icon">
                                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_526_6962)">
                                                <path d="M15.8486 3.62213L10.9961 8.44335L15.8486 13.2646C15.9363 13.0812 15.9895 12.8785 15.9895 12.6621V4.2246C15.9895 4.00813 15.9363 3.80548 15.8486 3.62213Z" fill="#D7B05F"/>
                                                <path d="M14.5849 2.81836H1.39739C1.18092 2.81836 0.978266 2.87158 0.794922 2.9593L6.99689 9.13002C7.54527 9.67839 8.43702 9.67839 8.98539 9.13002L15.1874 2.9593C15.004 2.87158 14.8014 2.81836 14.5849 2.81836Z" fill="#D7B05F"/>
                                                <path d="M0.131172 3.62213C0.0434531 3.80548 -0.00976562 4.00813 -0.00976562 4.2246V12.6621C-0.00976562 12.8786 0.0434531 13.0813 0.131172 13.2646L4.98364 8.44335L0.131172 3.62213Z" fill="#D7B05F"/>
                                                <path d="M10.3349 9.1062L9.64823 9.79286C8.73452 10.7066 7.24773 10.7066 6.33402 9.79286L5.64739 9.1062L0.794922 13.9274C0.978266 14.0151 1.18092 14.0684 1.39739 14.0684H14.5849C14.8014 14.0684 15.004 14.0151 15.1874 13.9274L10.3349 9.1062Z" fill="#D7B05F"/>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_526_6962">
                                                    <rect width="16" height="16" fill="white" transform="translate(-0.00976562 0.443359)"/>
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </div>
                                    <div class="body">
                                        <div class="mails">
                                            <div class="item">
                                                <a href="mailto:aleksei64200@mail.ru">aleksei64200@mail.ru</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contacts-block__messengers">
                                    <div class="title">Начать чат</div>
                                    <div class="phone">
                                        <a href="tel:+7 919 012 24 64">+7 919 012 24 64</a>
                                    </div>
                                    <div class="messengers">
                                        <div class="messengers__item">
                                            <a href="javascript:void(0);">
                                                <img src="img/cart/whatsapp.svg" alt="whatsapp">
                                            </a>
                                        </div>
                                        <div class="messengers__item">
                                            <a href="javascript:void(0);">
                                                <img src="img/cart/telegram.svg" alt="telegram">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contacts-block__address">
                            <div class="icon">
                                <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 8.76112C0 4.16125 3.84388 0.443359 8.49345 0.443359C13.1561 0.443359 17 4.16125 17 8.76112C17 11.0791 16.157 13.231 14.7695 15.0549C13.2388 17.0669 11.3522 18.8198 9.22854 20.1958C8.74251 20.5138 8.30387 20.5378 7.77045 20.1958C5.63474 18.8198 3.74809 17.0669 2.2305 15.0549C0.841983 13.231 0 11.0791 0 8.76112ZM5.69336 9.01965C5.69336 10.5606 6.95079 11.7726 8.49258 11.7726C10.0354 11.7726 11.3049 10.5606 11.3049 9.01965C11.3049 7.49069 10.0354 6.21973 8.49258 6.21973C6.95079 6.21973 5.69336 7.49069 5.69336 9.01965Z" fill="#D7B05F"/>
                                </svg>
                            </div>
                            <div class="body">
                                <div class="title">Наш магазин находиться по адресу</div>
                                <div class="desc">Москва, ул. Большая Якиманка, 19  </div>
                                <div class="text">От метро Полянка 3 минуты<br>Ближайшая стоянка для транспорта Бродников переулок</div>
                            </div>
                        </div>
                        <div class="contacts-block__schedule">
                            <div class="icon">
                                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_690_9311)">
                                        <path d="M17.032 2.24336H16.132V1.34336C16.132 0.803359 15.772 0.443359 15.232 0.443359C14.692 0.443359 14.332 0.803359 14.332 1.34336V2.24336H5.33203V1.34336C5.33203 0.803359 4.97203 0.443359 4.43203 0.443359C3.89203 0.443359 3.53203 0.803359 3.53203 1.34336V2.24336H1.73203C1.28203 2.24336 0.832031 2.60336 0.832031 3.14336V15.7434C0.832031 16.2834 1.28203 16.6434 1.73203 16.6434H7.22203C6.59203 15.5634 6.23203 14.3034 6.23203 13.0434C6.23203 9.08336 9.47203 5.84336 13.432 5.84336C15.142 5.84336 16.672 6.47336 17.932 7.46336V3.14336C17.932 2.69336 17.482 2.24336 17.032 2.24336Z" fill="#D7B05F"/>
                                        <path d="M13.4312 7.64336C10.4612 7.64336 8.03125 10.0734 8.03125 13.0434C8.03125 16.0134 10.4612 18.4434 13.4312 18.4434C16.4012 18.4434 18.8313 16.0134 18.8313 13.0434C18.8313 10.0734 16.4012 7.64336 13.4312 7.64336ZM15.2313 13.9434H13.4312C12.8912 13.9434 12.5312 13.5834 12.5312 13.0434V10.3434C12.5312 9.80336 12.8912 9.44336 13.4312 9.44336C13.9712 9.44336 14.3312 9.80336 14.3312 10.3434V12.1434H15.2313C15.7713 12.1434 16.1313 12.5034 16.1313 13.0434C16.1313 13.5834 15.7713 13.9434 15.2313 13.9434Z" fill="#D7B05F"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_690_9311">
                                        <rect width="18" height="18" fill="white" transform="translate(0.832031 0.443359)"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <div class="body">
                                <div class="title">Часы работы</div>
                                <div class="desc">9.00-20.00 Без обеда и выходных</div>
                                <div class="text">В преддверии церковных и светских праздников, пожалуйста, уточняйте график работы магазина</div>
                            </div>
                        </div>
                    </div>
                    <div class="contacts-block__middle">
                        <div class="contacts-block__middle-left">
                            <div class="contacts-block__info">
                                <div class="contacts-block__info-item">
                                    <div class="contacts-block__info-title">Мастерская находится по адресу</div>
                                    <div class="contacts-block__info-body">Владимирская область, Мстёра, ул.Дзержинского, 16</div>
                                </div>
                                <div class="contacts-block__info-item">
                                    <div class="contacts-block__info-title">Представительство в Москве</div>
                                    <div class="contacts-block__info-body">Метро Пролетарская. Крестьянская площадь дом 10. Новоспасский мужской монастырь.Посмотреть и купить имеющуюся в  наличии икону можно в церковной лавке при входе в монастырь слева.</div>
                                </div>
                                <div class="contacts-block__info-item">
                                    <div class="contacts-block__info-title">Вы можете купить наши иконы при монастырях:</div>
                                    <div class="contacts-block__info-body">
                                        <ul>
                                            <li>Заиконоспасский</li>
                                            <li>Сретенский</li>
                                            <li>Троице Сергиева Лавра</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contacts-block__middle-right">
                            <div class="border-frame">
                                <svg width="651" height="337" viewBox="0 0 651 337" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M636.267 336.423H14.8278C14.4323 336.423 14.0367 336.127 14.0367 335.632C14.0367 328.414 8.10353 322.48 0.88484 322.48C0.489295 322.48 0.09375 322.184 0.09375 321.689V15.1283C0.192636 14.7328 0.489294 14.3372 0.983726 14.3372C8.20242 14.3372 14.0367 8.50295 14.0367 1.28425C14.0367 0.789823 14.4323 0.493164 14.8278 0.493164H636.267C636.662 0.493164 637.058 0.789823 637.058 1.28425C637.058 8.50295 642.991 14.4361 650.21 14.4361C650.606 14.4361 651.001 14.7328 651.001 15.2272V321.887C651.001 322.283 650.704 322.678 650.21 322.678C642.991 322.678 637.058 328.611 637.058 335.83C636.959 336.127 636.662 336.423 636.267 336.423ZM15.52 334.94H635.476C635.871 327.425 641.904 321.492 649.32 321.096V15.8205C641.805 15.425 635.871 9.39292 635.476 1.97646H15.52C15.1245 9.49181 9.0924 15.425 1.67593 15.8205V321.096C9.19128 321.492 15.1245 327.524 15.52 334.94Z" fill="#D7B05F"/>
                                </svg>
                            </div>
                            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A78c9ebd1183f0b9d0f247d4e98499274336826eb4fbfb9f25fb20e600cdf7261&amp;source=constructor" width="640" height="324" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="contacts-block__rekvizits">
                        <div class="contacts-block__rekvizits-title">Наши реквизиты:</div>
                        <div class="contacts-block__rekvizits-list">
                            <div class="contacts-block__rekvizits-item">
                                <div class="item">
                                    <div class="title">ИП</div>
                                </div>
                                <div class="item">
                                    <div class="value">Шуняев Алексей Вадимович</div>
                                </div>
                            </div>
                            <div class="contacts-block__rekvizits-item">
                                <div class="item">
                                    <div class="title">ИНН: </div>
                                    <div class="value">330702130463</div>
                                </div>
                                <div class="item">
                                    <div class="title">ЕГРИП: </div>
                                    <div class="value">304333405100010</div>
                                </div>
                            </div>
                            <div class="contacts-block__rekvizits-item">
                                <div class="item">
                                    <div class="title">Дата регистрации: </div>
                                    <div class="value">15.07.2002</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contacts-block__form">
                        <div class="contacts-block__form-inner">
                            <div class="contacts-block__form-title blocks-title">Задать вопрос</div>
                            <div class="contacts-block__form-body">
                                <form>
                                    <div class="left-fields">
                                        <div class="tpl-field contacts-block__form-field required">
                                            <input type="text" placeholder="Введите имя">
                                        </div>
                                        <div class="tpl-field contacts-block__form-field type-email required">
                                            <input type="text" placeholder="Введите email">
                                        </div>
                                        <div class="tpl-field contacts-block__form-field type-phone required">
                                            <input type="text" placeholder="Введите телефон">
                                        </div>
                                    </div>
                                    <div class="right-fields">
                                        <div class="tpl-field contacts-block__form-field">
                                            <textarea placeholder="Укажите что вас заинтересовало"></textarea>
                                        </div>
                                    </div>
                                    <div class="tpl-field contacts-block__form-field policity-field required">
                                        <label>
                                            <input type="checkbox" checked>
                                            <span>Я согласна на <a href="#">обработку персональных данных</a></span>
                                        </label>
                                    </div>
                                    <div class="contacts-block__form-field submit-button">
                                        <button class="tpl-form-button">Отправить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

include _footer.jade