include _header_main.jade

<div class="site-container">
	<div class="tags_block">
		<a href="" class="tag_btn">Александр Невский</a>
		<a href="" class="tag_btn">Спиридон</a>
		<a href="" class="tag_btn">Матрона Московская</a>
		<a href="" class="tag_btn">Николай Чудотворец</a>
		<a href="" class="tag_btn">Сергий Радонежский</a>
		<a href="" class="tag_btn">Сергий Радонежский</a>
		<a href="" class="tag_btn">Сергий Радонежский</a>
		<a href="" class="tag_btn">Сергий Радонежский</a>
		<div class="btn_more_tag">Показать все</div>
	</div>
	<div class="site-container__inner">
		<aside class="site-container__inner__left">
			<div class="menu_left_wrap">
				<div class="menu_name">Иконы в наличии</div>
				<ul>
					<li><a href="">Иконы в наличии</a></li>
					<li><a href="">ПОПУЛЯРНЫЕ иконы</a></li>
					<li><a href="">Иконы Спасителя</a></li>
					<li><a href="">Иконы Богородицы</a></li>
					<li class="hasSubmenu">
						<a href="">Иконы Святых (именные) +</a>
						<ul>
							<li><a href="">Александр Невский</a></li>
							<li><a href="">Андрей Первозванный</a></li>
							<li><a href="">Матрона Московская</a></li>
							<li><a href="">Николай Чудотворец</a></li>
							<li><a href="">Георгий Победоносец</a></li>
							<li><a href="">Сергий Радонежский</a></li>
							<li><a href="">Серафим Саровский</a></li>
							<li>
								<a href="">Спиридон</a>
								<ul>
									<li><a href="">Тримифунтский</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="">Иконы Ангела Хранителя</a></li>
					<li><a href="">Иконы Архангелов</a></li>
					<li><a href="">Иконы Троицы</a></li>
					<li><a href="">Венчальные пары</a></li>
					<li><a href="">Иконы Петра и Февронии</a></li>
					<li><a href="">Иконы Мерные</a></li>
					<li><a href="">Иконы Семейные</a></li>
					<li><a href="">Иконы Праздников</a></li>
					<li><a href="">Соборы Святых</a></li>
					<li><a href="">Библейские сюжеты</a></li>
					<li><a href="">Иконы Храмовые</a></li>
					<li><a href="">Иконы эксклюзивные</a></li>
					<li><a href="">Иконы миниатюрные (дорожные)</a></li>
					<li><a href="">Иконы ювелирные</a></li>
				</ul>
			</div>
			<div class="site-links">
				<div class="site-links__items"><a href="#">Найти<br/><strong>своего покровителя</strong></a></div>
				<div class="site-links__items"><a href="#">Написание<br/><strong>редких святых</strong></a></div>
				<div class="site-links__items"><a href="#">Какую икону<br/><strong>купить в подарок</strong></a></div>
				<div class="site-links__items"><a href="#">Перед какой иконой<br/><strong>молиться в различных ситуациях</strong></a></div>
			</div>
		</aside>
		<div class="site-container__inner__right">
			<section class="main-slider">
				<div class="main-slider__inner block-width">
					<div class="main-slider__inner__title blocks-title">Наши новые работы</div>
					<div class="main-slider__inner__body">
						<div class="slider-wrap2 swiper">
							<div class="product-list swiper-wrapper">
								<div class="product-item swiper-slide">
									<div class="product-item__stock buy">В наличии</div>
									<div class="favorite_btn"></div>
									<div class="product-item__image"><a href="#"><img src="img/pl_pic1.png"></a></div>
									<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
									<div class="product-item__article">Арт. 3765, размер 22-28см,</div>
									<div class="product-item__bottom">
										<div class="product-item__price"><span>35 500</span> руб</div>
										<button class="product-item__btn buy"><span>В корзину</span></button>
									</div>
								</div>
								<div class="product-item swiper-slide">
									<div class="product-item__stock notavailable">ПОД ЗАКАЗ</div>
									<div class="favorite_btn"></div>
									<div class="product-item__image"><a href="#"><img src="img/pl_pic2.png"></a></div>
									<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
									<div class="product-item__article">Арт. 3765, размер 22-28см,</div>
									<div class="product-item__bottom">
										<div class="product-item__price"><span>35 500</span> руб</div>
										<button class="product-item__btn buy"><span>В корзину</span></button>
									</div>
								</div>
								<div class="product-item swiper-slide">
									<div class="product-item__stock buy">В наличии</div>
									<div class="favorite_btn"></div>
									<div class="product-item__image"><a href="#"><img src="img/pl_pic3.png"></a></div>
									<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
									<div class="product-item__article">Арт. 3765, размер 22-28см,</div>
									<div class="product-item__bottom">
										<div class="product-item__price"><span>35 500</span> руб</div>
										<button class="product-item__btn buy"><span>В корзину</span></button>
									</div>
								</div>
								<div class="product-item swiper-slide">
									<div class="product-item__stock buy">В наличии</div>
									<div class="favorite_btn"></div>
									<div class="product-item__image"><a href="#"><img src="img/pl_pic1.png"></a></div>
									<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
									<div class="product-item__article">Арт. 3765, размер 22-28см,</div>
									<div class="product-item__bottom">
										<div class="product-item__price"><span>35 500</span> руб</div>
										<button class="product-item__btn buy"><span>В корзину</span></button>
									</div>
								</div>
								<div class="product-item swiper-slide">
									<div class="product-item__stock notavailable">ПОД ЗАКАЗ</div>
									<div class="favorite_btn"></div>
									<div class="product-item__image"><a href="#"><img src="img/pl_pic2.png"></a></div>
									<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
									<div class="product-item__article">Арт. 3765, размер 22-28см,</div>
									<div class="product-item__bottom">
										<div class="product-item__price"><span>35 500</span> руб</div>
										<button class="product-item__btn buy"><span>В корзину</span></button>
									</div>
								</div>
								<div class="product-item swiper-slide">
									<div class="product-item__stock buy">В наличии</div>
									<div class="favorite_btn"></div>
									<div class="product-item__image"><a href="#"><img src="img/pl_pic3.png"></a></div>
									<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
									<div class="product-item__article">Арт. 3765, размер 22-28см,</div>
									<div class="product-item__bottom">
										<div class="product-item__price"><span>35 500</span> руб</div>
										<button class="product-item__btn buy"><span>В корзину</span></button>
									</div>
								</div>
							</div>
						</div>
						<div class="main-slider__inner__body__controls">
							<div class="swiper-button-prev"><svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.7051 14.4332L6.45508 9.18323L11.7051 3.93323" stroke="#FAF9C3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></div>
							<div class="swiper-button-next"><svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.86914 3.93298L12.1191 9.18298L6.86914 14.433" stroke="#FAF9C3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></div>
						</div>
					</div>
				</div>
			</section>
			<div class="main_text">
				<div class="main_text__title">Рукописные иконы в интернет-магазине мастерской «НАСЛЕДИЕ»</div>
				<div class="main_text__body">Здравствуйте, дорогие посетители! Добро пожаловать на сайт ! Здесь вы можете приобрести для себя икону и передать по наследству своим детям и внукам. «Наследие»- так называется наша мастерская. Называя её, мы думали в первую очередь о том, что все мы, иконописцы, являемся хранителями и продолжателями древних традиций русской иконографии, носителями знаний, оставленных нам нашими предками. Это считаем мы нашим главным НАСЛЕДИЕМ. <a href="#">подробнее</a></div>
			</div>
			<div class="about-us-block__slider">
			<div class="about-us-block__slider-inner">
				<div class="slider-border">
					<svg width="844" height="341" viewBox="0 0 844 341" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M825.709 340.888H18.5221C18.0441 340.888 17.5662 340.529 17.5662 339.932C17.5662 331.21 10.3971 324.04 1.67463 324.04C1.19669 324.04 0.71875 323.682 0.71875 323.085V18.6213C0.838235 18.1434 1.19669 17.6654 1.79412 17.6654C10.5165 17.6654 17.5662 10.6158 17.5662 1.89338C17.5662 1.29596 18.0441 0.9375 18.5221 0.9375H825.709C826.187 0.9375 826.665 1.29596 826.665 1.89338C826.665 10.6158 833.834 17.7849 842.557 17.7849C843.035 17.7849 843.513 18.1434 843.513 18.7408V323.323C843.513 323.801 843.154 324.279 842.557 324.279C833.834 324.279 826.665 331.448 826.665 340.171C826.546 340.529 826.187 340.888 825.709 340.888ZM19.3585 339.096H824.754C825.232 330.015 832.52 322.846 841.482 322.368V19.4577C832.401 18.9798 825.232 11.6912 824.754 2.72978H19.3585C18.8805 11.8107 11.5919 18.9798 2.63051 19.4577L2.63052 322.368C11.7114 322.846 18.8805 330.134 19.3585 339.096Z" fill="#D7B05F"/></svg>
				</div>
				<div class="slider-wrapper swiper">
					<div class="swiper-wrapper">
						<div class="about-us-block__slider-item swiper-slide">
							<img src="img/cart/about-us-slider1.png" alt="about-us-slider1.png">
							<div class="item-title">Своя иконописная мастерская</div>
						</div>
						<div class="about-us-block__slider-item swiper-slide">
							<img src="img/cart/about-us-slider1.png" alt="about-us-slider1.png">
							<div class="item-title">Своя иконописная мастерская 2</div>
						</div>
						<div class="about-us-block__slider-item swiper-slide">
							<img src="img/cart/about-us-slider1.png" alt="about-us-slider1.png">
							<div class="item-title">Своя иконописная мастерская 3</div>
						</div>
					</div>
				</div>
				<div class="swiper-pagination">
					<div class="swiper-pagination-bullet"></div>
					<div class="swiper-pagination-bullet"></div>
					<div class="swiper-pagination-bullet"></div>
				</div>
			</div>
			</div>
		</div>
	</div>
	<div class="main_tabs">
		<div class="main_tabs__top">
			<ul class="shop-product-tabs">
				<li class="active-tab r-tabs-state-active"><a href="#shop2-tabs-1">В наличии</a></li>
				<li class="active-tab "><a href="#shop2-tabs-2">Под заказ</a></li>
			</ul>
			<div class="main_tabs__top__link"><a href="#">Перейти в каталог</a></div>
		</div>
		<div class="main_tabs__bot">
			<div class="shop2-product-desc">
				<div class="desc-area active-area" id="shop2-tabs-1" style="display: block;">
					<div class="product-list">
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic1.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic2.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic3.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic1.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock notavailable">ПОД ЗАКАЗ</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic2.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic3.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic1.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic2.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic3.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic3.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic1.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock notavailable">ПОД ЗАКАЗ</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic2.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic3.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic1.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic2.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic3.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
					</div>
					<div class="more_link">
						<a href="">Смотреть дальше иконы в наличии</a>
					</div>
				</div>
				<div class="desc-area" id="shop2-tabs-2">
					<div class="product-list">
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic1.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic2.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic3.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic1.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock notavailable">ПОД ЗАКАЗ</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic2.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic3.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic1.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic2.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic3.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic3.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic1.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock notavailable">ПОД ЗАКАЗ</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic2.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic3.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic1.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic2.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
						<div class="product-item">
							<div class="product-item__stock buy">В наличии</div>
							<div class="favorite_btn"></div>
							<div class="product-item__image"><a href="#"><img src="img/pl_pic3.png"></a></div>
							<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
							<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
							<div class="product-item__bottom">
								<div class="product-item__price"><span>35 500</span> руб</div>
								<button class="product-item__btn buy"><span>В корзину</span></button>
							</div>
						</div>
					</div>
					<div class="more_link">
						<a href="">Смотреть дальше иконы в наличии</a>
					</div>
				</div>
			</div>
		</div>
		<div class="main_tabs__more">
			<a href="#">Смотреть весь каталог</a>
		</div>
	</div>
	<div class="main_news">
		<div class="main_news__title">Новости</div>
		<div class="main_news__body">
			<div class="slider-wrap4 swiper">
				<div class="main_news_in swiper-wrapper">
					<div class="main_news_items swiper-slide">
						<div class="main_news_pic">
							<a href="#"><img src="img/news_pic1.png"></a>
						</div>
						<div class="main_news_text">
							<strong><a href="#">Заказывала икону Троицы (27х31) в конце апреля. Сегодня (фактически  через три недели)</a></strong> забрала её в магазине на Большой Якиманке. Икона  написана замечательно! Лики выписаны именно так ...
						</div>
					</div>
					<div class="main_news_items swiper-slide">
						<div class="main_news_pic">
							<a href="#"><img src="img/news_pic2.png"></a>
						</div>
						<div class="main_news_text">
							<strong><a href="#">Заказывала икону Троицы (27х31) в конце апреля. Сегодня</a></strong> забрала её в магазине на Большой Якиманке. Икона  написана замечательно! Лики выписаны именно так ... 
						</div>
					</div>
					<div class="main_news_items swiper-slide">
						<div class="main_news_pic">
							<a href="#"><img src="img/news_pic3.png"></a>
						</div>
						<div class="main_news_text">
							<strong><a href="#">Сегодня (фактически  через три недели)</a></strong> забрала её в магазине на Большой Якиманке. Икона  нла её в магазине на Большой Якиманке. Икона  написана замечательно! Лики выписаны именно  ... 
						</div>
					</div>
					<div class="main_news_items swiper-slide">
						<div class="main_news_pic">
							<a href="#"><img src="img/news_pic1.png"></a>
						</div>
						<div class="main_news_text">
							<strong><a href="#">Заказывала икону Троицы (27х31) в конце апреля. Сегодня (фактически  через три недели)</a></strong> забрала её в магазине на Большой Якиманке. Икона  написана замечательно! Лики выписаны именно так ...
						</div>
					</div>
					<div class="main_news_items swiper-slide">
						<div class="main_news_pic">
							<a href="#"><img src="img/news_pic2.png"></a>
						</div>
						<div class="main_news_text">
							<strong><a href="#">Заказывала икону Троицы (27х31) в конце апреля. Сегодня</a></strong> забрала её в магазине на Большой Якиманке. Икона  написана замечательно! Лики выписаны именно так ... 
						</div>
					</div>
					<div class="main_news_items swiper-slide">
						<div class="main_news_pic">
							<a href="#"><img src="img/news_pic3.png"></a>
						</div>
						<div class="main_news_text">
							<strong><a href="#">Сегодня (фактически  через три недели)</a></strong> забрала её в магазине на Большой Якиманке. Икона  нла её в магазине на Большой Якиманке. Икона  написана замечательно! Лики выписаны именно  ... 
						</div>
					</div>
				</div>
			</div>
			<div class="main_news__slider-controls">
				<div class="swiper-button-prev">
					<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M11.7051 14.4332L6.45508 9.18323L11.7051 3.93323" stroke="#FAF9C3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</div>
				<div class="swiper-button-next">
					<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6.86914 3.93298L12.1191 9.18298L6.86914 14.433" stroke="#FAF9C3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</div>
			</div>
		</div>
	</div>
	<div class="main_reviews">
		<div class="main_reviews__title">Отзывы</div>
		<div class="main_reviews__body">
			<div class="slider-wrap5 swiper">
				<div class="main_reviews_in swiper-wrapper">
					<div class="main_reviews_items swiper-slide">
						<div class="reviews_page_question">
							<div class="name">Елена</div>
							<div class="date">02.05.2024</div>
							<div class="text"><div class="text_in">Заказывала икону Троицы (27х31) в конце апреля. Сегодня (фактически  через три недели)  забрала её в магазине на Большой Якиманке. Икона  написана замечательно! Лики выписаны именно так, как обговаривала с  художником. Это просто произведение церковного ... <a href="#">подробнее</a></div></div>
						</div>
						<div class="reviews_page_answer"></div>
					</div>
					<div class="main_reviews_items swiper-slide">
						<div class="reviews_page_question">
							<div class="name">Юрий</div>
							<div class="date">02.05.2024</div>
							<div class="text"><div class="text_pic"><img src="img/reviews_main_pic1.png"></div><div class="text_in">Заказывал в подарок на день рождения сыну икону "Неупиваемая чаша". Прекрасный и излучающий тепло образ Богородицы на иконе Хороший и крепкий футляр, в который была упакована ... <a href="#">подробнее</a></div></div>
						</div>
						<div class="reviews_page_answer"></div>
					</div>
					<div class="main_reviews_items swiper-slide">
						<div class="reviews_page_question">
							<div class="name">Елена</div>
							<div class="date">02.05.2024</div>
							<div class="text"><div class="text_in">Заказывала икону Троицы (27х31) в конце апреля. Сегодня (фактически  через три недели)  забрала её в магазине на Большой Якиманке. Икона  написана замечательно! Лики выписаны именно так, как обговаривала с  художником. Это просто произведение церковного ... <a href="#">подробнее</a></div></div>
						</div>
						<div class="reviews_page_answer"></div>
					</div>
					<div class="main_reviews_items swiper-slide">
						<div class="reviews_page_question">
							<div class="name">Юрий</div>
							<div class="date">02.05.2024</div>
							<div class="text"><div class="text_pic"><img src="img/reviews_main_pic1.png"></div><div class="text_in">Заказывал в подарок на день рождения сыну икону "Неупиваемая чаша". Прекрасный и излучающий тепло образ Богородицы на иконе Хороший и крепкий футляр, в который была упакована ... <a href="#">подробнее</a></div></div>
						</div>
						<div class="reviews_page_answer"></div>
					</div>
				</div>
			</div>
			<div class="main_reviews__slider-controls">
				<div class="swiper-button-prev">
					<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M11.7051 14.4332L6.45508 9.18323L11.7051 3.93323" stroke="#FAF9C3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</div>
				<div class="swiper-button-next">
					<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6.86914 3.93298L12.1191 9.18298L6.86914 14.433" stroke="#FAF9C3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</div>
			</div>
		</div>
	</div>
	<div class="site-links site-links-mobile">
		<div class="site-links__items"><a href="#">Найти<br/><strong>своего покровителя</strong></a></div>
		<div class="site-links__items"><a href="#">Написание<br/><strong>редких святых</strong></a></div>
		<div class="site-links__items"><a href="#">Какую икону<br/><strong>купить в подарок</strong></a></div>
		<div class="site-links__items"><a href="#">Перед какой иконой<br/><strong>молиться в различных ситуациях</strong></a></div>
	</div>
	include _bottom_form.jade
</div>
include _footer.jade