include _header.jade
<link rel='stylesheet' href="css/swiper-bundle.min.css"/>
<link rel="stylesheet" href="css/cart.css">
<link rel="stylesheet" href="css/news_page_in.css">
<div class="site-container">
	<div class="site-container__inner">
		<div class="site-container__inner__right no-left-col">
			<div class="news_in">
				<div class="news_in_top">
					<div class="news_in_title">Тонкости Создания Икон: Ремесло, Сохраняющееся Сквозь Века</div>
					<div class="news_in_date">02.05.2024</div>
				</div>
				<div class="news_in_pic"><img src="img/news_in_pic.png"></div>
				<div class="news_in_note">В иконописной мастерской сохраняют древние традиции создания икон, следуя строго установленным канонам, где каждая деталь имеет духовное значение. Художники используют особые техники: грунтовку досок левкасом, рисунок подложки, нанесение слоев темперы, а также уникальный процесс золочения. Эта сложная и многослойная работа требует не только мастерства, но и глубокого понимания духовного смысла каждого образа.<br/>На финальном этапе иконы покрывают олифой, которая придаёт изображению защитный блеск и глубину цвета. Этот процесс сохранился с древности и требует больших усилий для достижения нужного результата. Иконописцы утверждают, что такое искусство требует духовного сосредоточения и внутренней тишины, чтобы в каждой иконе отразился истинный смысл православной веры.				</div>
				<div class="news_block">
					<div class="news_block_title">Подготовка доски для иконы</div>
					<div class="news_block_text">Первый этап создания иконы — подготовка основы. Используется деревянная доска, обычно из липы, которую покрывают специальной грунтовкой — левкасом. Левкас представляет собой смесь мела и клея, которая образует прочное и ровное покрытие, необходимое для нанесения рисунка. Процесс грунтовки может занять несколько дней, так как левкас наносят послойно, тщательно просушивая каждый слой.</div>
				</div>
				<div class="news_block2">
					<div class="news_block2_border"></div>
					<div class="news_block2_in">Деревянная доска, покрытая слоем левкаса, готовая для нанесения рисунка. В кадре могут быть кисти и мелкая пыль левкаса. Мастер наносит рисунок на грунтованную доску, используя тонкие линии. Видны детали будущего изображения в сдержанных контурах.</div>
				</div>
				<div class="news_in_list">
					<div class="news_in_list_items">Подготовка доски для иконы с использованием левкаса.</div>
					<div class="news_in_list_items">Процесс нанесения золотого листа на икону.</div>
					<div class="news_in_list_items">Финальная обработка иконы — покрытие олифой для сохранения цвета и защиты.</div>
				</div>
				<div class="news_block">
					<div class="news_block_title">Нанесение рисунка и подготовка композиции</div>
					<div class="news_block_text">Когда левкас высох, мастер начинает наносить начальный рисунок, называемый подложкой. Этот этап предполагает использование тонких линий для обозначения будущего изображения. Многие иконописцы прибегают к технике "картон" (или "спольверо"), перенося контуры рисунка с бумаги на доску через мелкие проколы.</div>
				</div>
				<div class="news_block3">
					<div class="news_block3_pic"><img src="img/news_block3_pic.png"></div>
					<div class="news_block3_text">
						<div class="news_block3_title">Золочение: символ божественного света</div>
						<div class="news_block3_items">
							<div class="num">01</div>
							<div class="text">Золочение — один из самых значимых этапов, так как золото символизирует божественный свет.</div>
						</div>
						<div class="news_block3_items">
							<div class="num">02</div>
							<div class="text">Для этого используются тонкие листы золота, которые наклеиваются на подготовленную поверхность, часто при помощи специального клея — миксии.</div>
						</div>
						<div class="news_block3_items">
							<div class="num">03</div>
							<div class="text">Работа с золотом требует особой осторожности</div>
						</div>
					</div>
				</div>
				<div class="news_gallery">
					<div class="news_gallery_title">Галерея</div>
					<div class="swiper-pagination">
						<div class="swiper-pagination-bullet"></div>
						<div class="swiper-pagination-bullet"></div>
						<div class="swiper-pagination-bullet"></div>
					</div>
					<div class="news_gallery_in">
						<div class="slider-wrapper swiper">
							<div class="swiper-wrapper">
								<div class="slider-item swiper-slide">
									<a href="img/news_in_pic1.png">
										<img src="img/news_in_pic1.png" alt="news_in_pic1">
									</a>
								</div>
								<div class="slider-item swiper-slide">
									<a href="img/news_in_pic2.png">
										<img src="img/news_in_pic2.png" alt="news_in_pic2">
									</a>
								</div>
								<div class="slider-item swiper-slide">
									<a href="img/news_in_pic3.png">
										<img src="img/news_in_pic3.png" alt="news_in_pic3">
									</a>
								</div>
								<div class="slider-item swiper-slide">
									<a href="img/news_in_pic1.png">
										<img src="img/news_in_pic1.png" alt="news_in_pic1">
									</a>
								</div>
								<div class="slider-item swiper-slide">
									<a href="img/news_in_pic2.png">
										<img src="img/news_in_pic2.png" alt="news_in_pic2">
									</a>
								</div>
								<div class="slider-item swiper-slide">
									<a href="img/news_in_pic3.png">
										<img src="img/news_in_pic3.png" alt="news_in_pic3">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	include _bottom_form.jade
</div>
</div>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/cart-scripts.js"></script>
include _footer.jade