include _header.jade
<link rel='stylesheet' href="/css/swiper-bundle.min.css"/>
<link rel="stylesheet" href="css/catalog.css">
<link rel="stylesheet" href="css/cart.css">
<link rel="stylesheet" href="css/product_page.css">
<div class="site-container">
	<div class="site-container__inner">
		<div class="site-container__inner__right no-left-col">
			<div class="product_page">
				<div class="product_page__left">
					<div class="inner">
						<div class="thumbs_image">
							<div thumbsslider class="swiper mySwiper_thumb">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="img/product_page_pic1.png" alt="">
									</div>
									<div class="swiper-slide">
										<img src="img/product_page_pic2.png" alt="CR200B" />
									</div>
								</div>
							</div>
						</div>
						<div class="main_image">
							<div class="swiper mySwiper_main">
								<div class="swiper-wrapper">
									<a href="img/product_page_pic1.png" class="swiper-slide">
										<img src="img/product_page_pic1.png" alt="">
									</a>
									<a href="img/product_page_pic2.png" class="swiper-slide">
										<img src="img/product_page_pic2.png" alt="CR200B" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="product_page__right">
					<div class="product_page_name">Икона Агния (Анна ) Римская Дева Арт.1740</div>
					<div class="product_page_params">
						<div class="product_page_params_items">
							<div class="params_title">Срок изготовления</div>
							<div class="params_body">В наличии.</div>
						</div>
						<div class="product_page_params_items">
							<div class="params_title">Размер:</div>
							<div class="params_body">17-21см</div>
						</div>
						<div class="product_page_params_items">
							<div class="params_title">Технология:</div>
							<div class="params_body">Возможно написание в других размерах.</div>
						</div>
						<div class="product_page_params_items">
							<div class="params_title">Материал:</div>
							<div class="params_body">Доска липовая с левкасом, темперные краски на яичном желтке, сусальное золото 960 пробы.</div>
						</div>
					</div>
					<div class="product_page_wr">
						<div class="product_page_wr_in">
							<div class="product__stock">В наличии</div>
							<div class="product__price"><span>3 470 </span>руб.</div>
						</div>
						<button class="product__btn buy"><span>В корзину</span></button>
						<div class="favorite_btn"></div>
					</div>
					<div class="product_page__buy-oneclick">
						<a href="javascript:void(0);" data-remodal-target="buy-one-click">Купить в один клик</a>
					</div>
					<div class="product_page__delivery">
						<div class="items">Безопасная оплата</div>
						<div class="items">Cамовывоз день в день </div>
					</div>
				</div>
			</div>
			<div class="product_tabs">
				<div class="product_tabs__top">
					<ul class="shop-product-tabs">
						<li class="active-tab r-tabs-state-active"><a href="#shop2-tabs-1">Характеристики</a></li>
						<li class="active-tab "><a href="#shop2-tabs-2">Описание товара</a></li>
					</ul>
				</div>
				<div class="product_tabs__bot">
					<div class="shop2-product-desc">
						<div class="desc-area active-area" id="shop2-tabs-1" style="display: block;">Ламинированная икона с ликами святых. Имеет небольшой размер и легко  помещается в нагрудный карман, сумочку, в бумажник, не занимает много  места и помогает в любое время обратиться к Богу. На оборотной стороне  расположена молитва или тропарь святому. Икона с двух сторон покрыта  специальной пленкой, благодаря этому изображение надежно защищено от  различных внешних воздействий: влаги, механических повреждений. Такая  святыня долговечна, ее удобно носить с собой или брать в дорогу.<br/>Намереваясь купить ламинированные иконы, обратите внимание на весь ассортимент товаров для церковной лавки.<br/>На нашем сайте Вы найдете богатый выбор церковной утвари, который позволит Вам приобрести все изделия сразу. Возможно изготовление утвари на заказ.<br/>Доставка. Гарантии качества<br/>При отправке товар тщательно упаковывается в стрейч-пленку для  защиты от повреждений. Это отвечает всем установленным требованиям по  перевозке товаров и обеспечивает сохранность груза при транспортировке.<br/>Осуществляется доставка во все области Российской Федерации.<br/>Нет времени рассматривать все изделия или изучать рубрикатор?</div>
						<div class="desc-area" id="shop2-tabs-2">Тестовый текст</div>
					</div>
				</div>
			</div>
			<div class="product_block">
				<div class="product_block__items">
					<div class="product_block_text">Более 1000 икон<br/><span style="text-transform: uppercase;">в наличии</span></div>
				</div>
				<div class="product_block__items">
					<div class="product_block_text">Гарантия качество, высокий уровень иконописцев.</div>
				</div>
				<div class="product_block__items">
					<div class="product_block_text">Принимаем заказ на написание индивидуальных икон</div>
				</div>
				<div class="product_block__items">
					<div class="product_block_text">Доставка в любой регион России</div>
				</div>
			</div>
			<section class="recently-block">
				<div class="recently-block__inner block-width">
					<div class="recently-block__title blocks-title">Вы ранее смотрели</div>
					<div class="recently-block__body">
						<div class="slider-wrap swiper">
							<div class="product-list swiper-wrapper">
								<div class="product-item swiper-slide">
									<div class="product-item__stock buy">В наличии</div>
									<div class="favorite_btn"></div>
									<div class="product-item__image"><a href="#"><img src="img/pl_pic1.png"></a></div>
									<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
									<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
									<div class="product-item__bottom">
										<div class="product-item__price"><span>35 500</span> руб</div>
										<button class="product-item__btn buy"><span>В корзину</span></button>
									</div>
								</div>
								<div class="product-item swiper-slide">
									<div class="product-item__stock buy">В наличии</div>
									<div class="favorite_btn"></div>
									<div class="product-item__image"><a href="#"><img src="img/pl_pic2.png"></a></div>
									<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
									<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
									<div class="product-item__bottom">
										<div class="product-item__price"><span>35 500</span> руб</div>
										<button class="product-item__btn buy"><span>В корзину</span></button>
									</div>
								</div>
								<div class="product-item swiper-slide">
									<div class="product-item__stock buy">В наличии</div>
									<div class="favorite_btn"></div>
									<div class="product-item__image"><a href="#"><img src="img/pl_pic3.png"></a></div>
									<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
									<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
									<div class="product-item__bottom">
										<div class="product-item__price"><span>35 500</span> руб</div>
										<button class="product-item__btn buy"><span>В корзину</span></button>
									</div>
								</div>
								<div class="product-item swiper-slide">
									<div class="product-item__stock buy">В наличии</div>
									<div class="favorite_btn"></div>
									<div class="product-item__image"><a href="#"><img src="img/pl_pic1.png"></a></div>
									<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
									<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
									<div class="product-item__bottom">
										<div class="product-item__price"><span>35 500</span> руб</div>
										<button class="product-item__btn buy"><span>В корзину</span></button>
									</div>
								</div>
								<div class="product-item swiper-slide">
									<div class="product-item__stock buy">В наличии</div>
									<div class="favorite_btn"></div>
									<div class="product-item__image"><a href="#"><img src="img/pl_pic2.png"></a></div>
									<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
									<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
									<div class="product-item__bottom">
										<div class="product-item__price"><span>35 500</span> руб</div>
										<button class="product-item__btn buy"><span>В корзину</span></button>
									</div>
								</div>
								<div class="product-item swiper-slide">
									<div class="product-item__stock buy">В наличии</div>
									<div class="favorite_btn"></div>
									<div class="product-item__image"><a href="#"><img src="img/pl_pic3.png"></a></div>
									<div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
									<div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
									<div class="product-item__bottom">
										<div class="product-item__price"><span>35 500</span> руб</div>
										<button class="product-item__btn buy"><span>В корзину</span></button>
									</div>
								</div>
							</div>
						</div>
						<div class="recently-block__slider-controls">
							<div class="swiper-button-prev">
								<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M11.7051 14.4332L6.45508 9.18323L11.7051 3.93323" stroke="#FAF9C3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</div>
							<div class="swiper-button-next">
								<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M6.86914 3.93298L12.1191 9.18298L6.86914 14.433" stroke="#FAF9C3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div class="bottom_form">
		<div class="bottom_form_border">
			<svg width="1102" height="300" viewBox="0 0 1102 300" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1083.69 299.947H18.5045C18.0265 299.947 17.5486 299.589 17.5486 298.991C17.5486 290.269 10.3795 283.1 1.65705 283.1C1.17911 283.1 0.701172 282.741 0.701172 282.144V17.6809C0.820657 17.2029 1.17911 16.725 1.77654 16.725C10.499 16.725 17.5486 9.67538 17.5486 0.952953C17.5486 0.355526 18.0265 -0.00292969 18.5045 -0.00292969H1083.69C1084.17 -0.00292969 1084.65 0.355526 1084.65 0.952953C1084.65 9.67538 1091.82 16.8445 1100.54 16.8445C1101.02 16.8445 1101.5 17.2029 1101.5 17.8004V282.383C1101.5 282.861 1101.14 283.339 1100.54 283.339C1091.82 283.339 1084.65 290.508 1084.65 299.23C1084.53 299.589 1084.17 299.947 1083.69 299.947ZM19.3409 298.155H1082.74C1083.21 289.074 1090.5 281.905 1099.46 281.427V18.5173C1090.38 18.0393 1083.21 10.7507 1082.74 1.78935H19.3409C18.8629 10.8702 11.5743 18.0393 2.61294 18.5173L2.61294 281.427C11.6938 281.905 18.8629 289.194 19.3409 298.155Z" fill="#D7B05F"/></svg>
		</div>
		<div class="bottom_form_inner">
			<div class="bottom_form_inner__left">
				<div class="bottom_form__title">Не нашли то,<br/>что нужно?</div>
				<div class="bottom_form__text">выполним икону по индивидуальному заказу</div>
			</div>
			<div class="bottom_form_inner__right">
				<form action="#">
					<div class="tpl-field type-text">
						<div class="field-value">
							<input type="text" size="30" maxlength="100" value="" name="d[0]" placeholder="Ваше имя">
						</div>
					</div>
					<div class="tpl-field type-phone">
						<div class="field-value">
							<input type="text" size="30" maxlength="100" value="" name="d[1]" placeholder="Ваш телефон">
						</div>
					</div>
					<div class="tpl-field type-email">
						<div class="field-value">
							<input type="text" size="30" maxlength="100" value="" name="d[1]" placeholder="Ваша почта">
						</div>
					</div>
					<div class="tpl-field type-text">
						<div class="field-value">
							<input type="text" size="30" maxlength="100" value="" name="d[1]" placeholder="Какая икона">
						</div>
					</div>
					<div class="tpl-field type-policity">
						<label>
							<input type="checkbox" checked="">
							<span>Я согласна на <a href="#">обработку персональных данных</a></span>
						</label>
					</div>
					<div class="tpl-field tpl-field-button">
						<button type="submit" class="tpl-form-button">Отправить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="remodal" data-remodal-id="buy-one-click" role="dialog" data-remodal-options="hashTracking: false">
	<button data-remodal-action="close" class="close-button"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.3"><line x1="30.6329" y1="10.5617" x2="10.5626" y2="30.632" stroke="#781F1C" stroke-width="2"/><line x1="29.5468" y1="29.9433" x2="9.83689" y2="10.2333" stroke="#781F1C" stroke-width="2"/></g></svg></button>
	<div class="popup-form">
		<div class="popup-form__title">Оставить заявку</div>
		<div class="popup-form__body">
			<form>
				<div class="popup-form__form-field">
					<input type="text" placeholder="Введите имя">
				</div>
				<div class="popup-form__form-field">
					<input type="text" placeholder="Введите email">
				</div>
				<div class="popup-form__form-field">
					<input type="text" placeholder="Введите телефон">
				</div>
				<div class="popup-form__form-field policity-field">
					<label>
						<input type="checkbox" checked>
						<span>Я согласна на <a href="#">обработку персональных данных</a></span>
					</label>
				</div>
				<div class="popup-form__form-field submit-button">
					<button>Отправить</button>
				</div>
			</form>
		</div>
	</div>   
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js" integrity="sha512-a/KwXZUMuN0N2aqT/nuvYp6mg1zKg8OfvovbIlh4ByLw+BJ4sDrJwQM/iSOd567gx+yS0pQixA4EnxBlHgrL6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/swiper-bundle.min.js"></script>
<script src="js/cart-scripts.js"></script>
include _footer.jade