include _header.jade

<div class="site-container">
	<div class="site-container__inner">
		<div class="site-container__inner__right no-left-col">
			<div class="reviews_page">
				<div class="reviews_page__top">
					<div class="reviews_page_title">Отзывы</div>
					<div class="reviews_page_text">Отзывы о мастерской Наследие. Иконы выполнены в традиционной технике и  написаны на доске.<br/>Заказ по тел. 8-910-775-44-10 и на сайте</div>
					<div class="reviews_page_button"><a href="javascript:void(0);" data-remodal-target="reviews-page-click">оставить отзыв</a></div>
				</div>
				<div class="reviews_page__bot">
					<div class="reviews_page_items">
						<div class="reviews_page_question">
							<div class="name">Елена</div>
							<div class="date">02.05.2024</div>
							<div class="text">В магазине представлен широкий ассортимент очень красивых икон. Приобрела несколько икон. В магазине очень грамотный вежливый  консультант, рассказал много интересной полезной информации о каждой  заинтересовавшей меня иконе. Очень довольна покупкой.</div>
						</div>
						<div class="reviews_page_answer">
							<div class="name">Ответ представителя мастерской</div>
							<div class="text">Спасибо, Елена. Приходите к нам еще!</div>
						</div>
					</div>
					<div class="reviews_page_items">
						<div class="reviews_page_question">
							<div class="name">Олег</div>
							<div class="date">02.05.2024</div>
							<div class="text"><img src="img/reviews_pic1.png">Икона красивая, светлая очень понравилась. Благодарю иконописца.</div>
						</div>
						<div class="reviews_page_answer">
							<div class="name">Ответ представителя мастерской</div>
							<div class="text">Спасибо, Олег!</div>
						</div>
					</div>
					<div class="reviews_page_items">
						<div class="reviews_page_question">
							<div class="name">Галина</div>
							<div class="date">02.05.2024</div>
							<div class="text">Уже не один раз обращалась в вашу мастерскую  и каждый раз получала  помощь и душевное общение. Иконы приобретенные мной- это просто  неописуемая красота! И даже что такое, что не передать словами. Спасибо  вам всем огромное!!!  Всего самого хорошего!</div>
						</div>
						<div class="reviews_page_answer"></div>
					</div>
					<div class="reviews_page_items">
						<div class="reviews_page_question">
							<div class="name">Елена</div>
							<div class="date">02.05.2024</div>
							<div class="text">У вас на сайте написано, что письмо всё каноничное. Вопрос, где и когда  вошло в канон писать Богородицу с непокрытой головой? Почитайте как  Церковь утвердила изображать Образ Пресвятой Богородицы и не творите  беззаконие. Это великий грех писать Богородицу простоволосой. Потом все  кто так глумился над Образом Владычицы, преданы будут страшному  наказанию. Муж заступился за Жену и Сын за Матерь. Страшно смотреть на  ваше безобразие, опростоволосили Владычицу Небесную. Горе вам  беззаконники!</div>
						</div>
						<div class="reviews_page_answer">
							<div class="name">Ответ представителя мастерской</div>
							<div class="text">Владимир, канон- это правило, а из любого правила есть исключения. В  Покровском монастыре, где мощи святой блаженной Матроны Московской,  находится чтимая чудотворная икона Богородицы Взыскание Погибших - Божия Матерь с непокрытой главой.  Этот образ прославился многими чудесами  исцеления и помощи по молитвам к ней прибегающих. Воскресение Словущего  на Успенском вражке - так же их святыней является чудотворная  икона   Взыскание погибших с непокрытой главой. Еще один образ - это икона  Помощница в родах- разрешен к написанию и освящению.<br/>Мы пишем иконы как в иконописном (каноническом) стиле, так и в живописном (академическом)- никаких нарушений нет. Призывать кару небесную на ближних - вот, где грех.<br/>Храни Господь!</div>
						</div>
					</div>
					<div class="reviews_page_items">
						<div class="reviews_page_question">
							<div class="name">Елена</div>
							<div class="date">02.05.2024</div>
							<div class="text">В магазине представлен широкий ассортимент очень красивых икон. Приобрела несколько икон. В магазине очень грамотный вежливый  консультант, рассказал много интересной полезной информации о каждой  заинтересовавшей меня иконе. Очень довольна покупкой.</div>
						</div>
						<div class="reviews_page_answer">
							<div class="name">Ответ представителя мастерской</div>
							<div class="text">Спасибо, Елена. Приходите к нам еще!</div>
						</div>
					</div>
					<div class="reviews_page_items">
						<div class="reviews_page_question">
							<div class="name">Олег</div>
							<div class="date">02.05.2024</div>
							<div class="text">Икона красивая, светлая очень понравилась. Благодарю иконописца.</div>
						</div>
						<div class="reviews_page_answer">
							<div class="name">Ответ представителя мастерской</div>
							<div class="text">Спасибо, Олег!</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<ul class="shop-pagelist">
		<li class="page-first"><a href="#">Начало</a></li>
		<li class="page-prev"><a href="#"><svg width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.381798 3.92965C0.186537 4.12491 0.186537 4.44149 0.381798 4.63676L3.56378 7.81874C3.75904 8.014 4.07562 8.014 4.27089 7.81874C4.46615 7.62347 4.46615 7.30689 4.27089 7.11163L1.44246 4.2832L4.27089 1.45477C4.46615 1.25951 4.46615 0.94293 4.27089 0.747668C4.07562 0.552406 3.75904 0.552406 3.56378 0.747668L0.381798 3.92965ZM16.7354 3.7832L0.735352 3.7832L0.735352 4.7832L16.7354 4.7832L16.7354 3.7832Z" fill="#C6AB86"/></svg></a></li>
		<li class="page-num"><a href="#">1</a></li>
		<li class="page-num active-num" data-active-url="#"><a href="#">2</a></li>
		<li class="page-num"><a href="#">3</a></li>
		<li class="page-num"><a href="#">...</a></li>
		<li class="page-num"><a href="#">15</a></li>
		<li class="page-next"><a href="#"><svg width="18" height="8" viewBox="0 0 18 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.0889 4.63675C17.2842 4.44149 17.2842 4.12491 17.0889 3.92965L13.9069 0.747667C13.7117 0.552405 13.3951 0.552405 13.1998 0.747667C13.0046 0.942929 13.0046 1.25951 13.1998 1.45477L16.0282 4.2832L13.1998 7.11163C13.0046 7.30689 13.0046 7.62347 13.1998 7.81873C13.3951 8.014 13.7117 8.014 13.9069 7.81873L17.0889 4.63675ZM0.735352 4.7832L16.7354 4.7832L16.7354 3.7832L0.735351 3.7832L0.735352 4.7832Z" fill="#C6AB86"/></svg></a></li>
		<li class="page-last"><a href="#">Конец</a></li>
	</ul>
	<div class="bottom_form">
		<div class="bottom_form_border">
			<svg width="1102" height="300" viewBox="0 0 1102 300" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1083.69 299.947H18.5045C18.0265 299.947 17.5486 299.589 17.5486 298.991C17.5486 290.269 10.3795 283.1 1.65705 283.1C1.17911 283.1 0.701172 282.741 0.701172 282.144V17.6809C0.820657 17.2029 1.17911 16.725 1.77654 16.725C10.499 16.725 17.5486 9.67538 17.5486 0.952953C17.5486 0.355526 18.0265 -0.00292969 18.5045 -0.00292969H1083.69C1084.17 -0.00292969 1084.65 0.355526 1084.65 0.952953C1084.65 9.67538 1091.82 16.8445 1100.54 16.8445C1101.02 16.8445 1101.5 17.2029 1101.5 17.8004V282.383C1101.5 282.861 1101.14 283.339 1100.54 283.339C1091.82 283.339 1084.65 290.508 1084.65 299.23C1084.53 299.589 1084.17 299.947 1083.69 299.947ZM19.3409 298.155H1082.74C1083.21 289.074 1090.5 281.905 1099.46 281.427V18.5173C1090.38 18.0393 1083.21 10.7507 1082.74 1.78935H19.3409C18.8629 10.8702 11.5743 18.0393 2.61294 18.5173L2.61294 281.427C11.6938 281.905 18.8629 289.194 19.3409 298.155Z" fill="#D7B05F"/></svg>
		</div>
		<div class="bottom_form_inner">
			<div class="bottom_form_inner__left">
				<div class="bottom_form__title">Не нашли то,<br/>что нужно?</div>
				<div class="bottom_form__text">выполним икону по индивидуальному заказу</div>
			</div>
			<div class="bottom_form_inner__right">
				<form action="#">
					<div class="tpl-field type-text required">
						<div class="field-value">
							<input type="text" size="30" maxlength="100" value="" name="d[0]" placeholder="Ваше имя">
						</div>
					</div>
					<div class="tpl-field type-phone required">
						<div class="field-value">
							<input type="text" size="30" maxlength="100" value="" name="d[1]" placeholder="Ваш телефон">
						</div>
					</div>
					<div class="tpl-field type-email required">
						<div class="field-value">
							<input type="text" size="30" maxlength="100" value="" name="d[1]" placeholder="Ваша почта">
						</div>
					</div>
					<div class="tpl-field type-text">
						<div class="field-value">
							<input type="text" size="30" maxlength="100" value="" name="d[1]" placeholder="Какая икона">
						</div>
					</div>
					<div class="tpl-field type-policity">
						<label>
							<input type="checkbox" checked="">
							<span>Я согласен на <a href="#">обработку персональных данных</a></span>
						</label>
					</div>
					<div class="tpl-field tpl-field-button">
						<button type="submit" class="tpl-form-button">Отправить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="remodal remodal-reviews" data-remodal-id="reviews-page-click" role="dialog" data-remodal-options="hashTracking: false">
	<button data-remodal-action="close" class="close-button"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.3"><line x1="30.6329" y1="10.5617" x2="10.5626" y2="30.632" stroke="#781F1C" stroke-width="2"/><line x1="29.5468" y1="29.9433" x2="9.83689" y2="10.2333" stroke="#781F1C" stroke-width="2"/></g></svg></button>
	<div class="popup-form">
		<div class="popup-form__title">Оставить отзыв</div>
		<div class="popup-form__body">
			<form>
				<div class="tpl-field popup-form__form-field  type-text">
					<input type="text" placeholder="Введите имя">
				</div>
				<div class="tpl-field popup-form__form-field  type-email required">
					<input type="text" placeholder="Введите email">
				</div>
				<div class="tpl-field popup-form__form-field type-textarea required">
					<textarea placeholder="Введите текст отзыва"></textarea>
				</div>
				<div class="tpl-field file-upload">
					<input type="file" name="file" id="file_field">
					<label for="file_field">
						<span>Прикрепить файл</span>
					</label>
				</div>
				<div class="tpl-field popup-form__form-field type-textarea nopad"></div>
				<div class="tpl-field popup-form__form-field policity-field required">
					<label>
						<input type="checkbox" checked>
						<span>Я согласен на <a href="#">обработку персональных данных</a></span>
					</label>
				</div>
				<div class="popup-form__form-field submit-button ">
					<button class="tpl-form-button">Отправить</button>
				</div>
			</form>
		</div>
	</div> 
	<div class="popup-form-thanks">
		<div class="popup-form-thanks_title">Спасибо!</div>
		<div class="popup-form-thanks_body">Ваше сообщение отправлено</div>
	</div>
</div>
include _footer.jade