include _header.jade

<div class="site-container search-page">
    <h1>Результаты поиска по запросу: *троица*</h1>
    <section class="search-block">
        <div class="search-block__inner block-width">
            <form class="search-block__form">
                <input type="text" placeholder="Название иконы или артикул">
                <button>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11.7659" cy="11.7666" r="8.98856" stroke="#D7B05F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.0176 18.4851L21.5416 22" stroke="#D7B05F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </form>
        </div>
    </section>
    <section class="search-results">
        <div class="search-results__inner block-width">
            <div class="product-list">
                <div class="product-item">
                    <div class="product-item__stock buy">В наличии</div>
                    <div class="favorite_btn"></div>
                    <div class="product-item__image"><a href="#"><img src="img/pl_pic1.png"></a></div>
                    <div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
                    <div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
                    <div class="product-item__bottom">
                        <div class="product-item__price"><span>35 500</span> руб</div>
                        <button class="product-item__btn buy"><span>В корзину</span></button>
                    </div>
                </div>
                <div class="product-item">
                    <div class="product-item__stock buy">В наличии</div>
                    <div class="favorite_btn"></div>
                    <div class="product-item__image"><a href="#"><img src="img/pl_pic2.png"></a></div>
                    <div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
                    <div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
                    <div class="product-item__bottom">
                        <div class="product-item__price"><span>35 500</span> руб</div>
                        <button class="product-item__btn buy"><span>В корзину</span></button>
                    </div>
                </div>
                <div class="product-item">
                    <div class="product-item__stock buy">В наличии</div>
                    <div class="favorite_btn"></div>
                    <div class="product-item__image"><a href="#"><img src="img/pl_pic3.png"></a></div>
                    <div class="product-item__name"><a href="#">ИконаСевастийских Мучеников</a></div>
                    <div class="product-item__article">Арт. 3765, размер 22-28см,  </div>
                    <div class="product-item__bottom">
                        <div class="product-item__price"><span>35 500</span> руб</div>
                        <button class="product-item__btn buy"><span>В корзину</span></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
include _footer_contacts.jade